﻿@model dynamic
@{
    var values = ViewData.ModelMetadata.AdditionalValues;
    var dependsOn = values["DependsOn"].ToString();
    var dataController = values["DataController"].ToString();
    var dataAction = values["DataAction"].ToString();

    var dataArea = values.ContainsKey("DataArea") ? (string)values["DataArea"] : null;
    var routeValues = new RouteValueDictionary();
    if (dataArea != null)
    {
        routeValues.Add("Area", dataArea);
    }
}


<select id="@ViewData.ModelMetadata.PropertyName"
        name="@ViewData.ModelMetadata.PropertyName"
        data-dropdown="@Url.Action(dataAction, dataController, routeValues)"
        data-dropdown-depends-on="@dependsOn"
        data-dropdown-initial="@Model">
    <option value="-1">-- Lütfen Seçiniz --</option>
</select>