﻿@model int?
@{
    var values = ViewData.ModelMetadata.AdditionalValues;
    var dataController = values["DataController"].ToString();
    var dataAction = values["DataAction"].ToString();
}


<select id="@ViewData.ModelMetadata.PropertyName" name="@ViewData.ModelMetadata.PropertyName">
    <option value="">-- Lütfen Seçiniz --</option>
</select>

<script type="text/javascript">
    $(document).ready(function () {
        $.post('@Url.Action(dataAction, dataController)', function (response) {
            var select = $('#@ViewData.ModelMetadata.PropertyName');

            for (var i in response) {
                var data = response[i];
                var option = $("<option />")
                    .attr('value', data.Value)
                    .html(data.Text);

                if (parseInt(data.Value) === @(Model != null ? Model.ToString() : "undefined")) {
                    option.attr('selected', 'selected');
                }
                option.appendTo(select);
            }

            select.change();
        });
    });
</script>
