﻿


/* Cari Hareketler */
.activity-trans td,
.activity-trand th {
    background: #CCC !important;
}


.activity-mutabakat td,
.activity-mutabakat th {
    background: #468847 !important;
    color: white;
}


#dateFilter {
    cursor: inherit !important;
    background-color: white;
    margin-bottom: 0;
    width: 220px;
    margin-left: 54px;
}

.filter-refresh {
    width: 36px;
}

.document-type-select 
{
    float: right;
}

.label-mutabakat {
    padding: 6px 20px 6px 20px;    
}

.copy-document-btn {
    width: 100%;
    margin-bottom: 10px;
}