﻿/* Product Search */
form.product-search {
    margin: 0;
    margin-bottom: 15px;
}

.product-search .search-box {
    font-size: 16px;
    padding: 9px 8px 8px 8px;
    margin-bottom: 0;
}

.search-filter {
    float: left;
    padding-right: 15px;
    margin-right: 3px;
    margin-bottom: 0;
}
.search-filter button { margin-top: -4px; }

.product-filter-content {
    margin-bottom: 15px;
}



/* Product List enhancements */
.product-list td, .product-list th {
    vertical-align: middle;    
}

.product-list .big-image-product-list-item {
    width: 195px;
    text-align: center;
    position: relative;
}

#product-list-summary {
    padding-top: 5px;
    padding-bottom: 3px;
}



/* Model Highlight */
.product-list tr[data-model-urunu] { display: none; }
.model-highlight {
    border-right: 2px solid #F89406 !important;
    border-left: 2px solid #F89406 !important;
    
    margin-right: -1px;
    margin-left: -1px;
}
.model-highlight-first td, .model-highlight-first th {
    border-top: 2px solid #F89406 !important;
    margin-top: -1px;
    
    -webkit-border-top-left-radius: 3px;
    -webkit-border-top-right-radius: 3px;
    -moz-border-radius-topleft: 3px;
    -moz-border-radius-topright: 3px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

.model-highlight-last td, .model-highlight-last th {
    border-bottom: 2px solid #F89406 !important;
    margin-bottom: -1px;
    
    -webkit-border-bottom-right-radius: 3px;
    -webkit-border-bottom-left-radius: 3px;
    -moz-border-radius-bottomright: 3px;
    -moz-border-radius-bottomleft: 3px;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
}

/* Empty product list */
.product-list .empty-warning 
{
    height: 110px;
    padding-top: 100px;
    
    text-align: center;
    font-size: 16px;
    font-style: italic;
}

/* Carausel Modifications */
#product-carousel {
    height: 280px;
}
#product-carousel .carousel-control {
    top: 50%;
}


/* Ürün Detay ve Ürün Model Sayfasındaki Kategori ve Model BreadCrumbları */
.labeled-breadcrumb-container {
}

.labeled-breadcrumb-container .breadcrumb-label {
    font-weight: bold;
    color: maroon;
}

.labeled-breadcrumb-container .breadcrumb 
{
    margin-bottom: 8px;
}

/* Ürün Detay sayfasında sepete ekle butonunda, input-append ve input-prepend margin hataları */
.product-detail-add-to-cart-form input[type=text] {
    margin-right: -4px;   
    margin-left: -4px;
    width: 85px;

    text-align: right;
    font-weight: bold;
}

/* Ürün Listesi resimsiz görünüm */
.product-list-1-add-to-cart-form {
    margin: 0;
    width: 120px;
}
.product-list-1-add-to-cart-form input[type=text] {
    margin-right: -4px;   
    margin-left: -4px;
    width: 32px;

    text-align: right;
    font-weight: bold;
}


.product-list-3-add-to-cart-form 
{
    margin: 0;
    margin-bottom: 4px;
}

.product-list-3-add-to-cart-form input[type=text] {
    margin-right: -4px;   
    margin-left: -4px;
    width: 32px;

    text-align: right;
    font-weight: bold;
}


/* İndirim Etiketleri */
.product-discount-label-big {
    display: block;
    text-align: center;

    font-size: 18px;
    padding: 5px;
    padding-bottom: 8px;

    margin-bottom: 10px;
}

.product-discount-label-big i {
    margin-top: 3px;
}

.discounts-seperator {
    font-size: 20px;
    text-align: center;
    margin-bottom: 8px;
}




/* CART PAGE
---------------------------------------------- */
.cart-actions { padding: 10px;margin-bottom: 10px; }
    .cart-summary-label { padding: 6px 10px 5px;font-size: 14px; }
    .cart-actions form { margin: 0; }
    .cart-actions select { margin: 0; }
    
.cart-commands { float: left;width: 200px; }
.cart-commands button i { margin-left: 15px !important;margin-right: 15px !important; }
   
.cart-table th, .cart-table td {
    vertical-align: middle;
}

.cart-table .empty-warning {
    text-align: center;
    font-style: italic;
    font-size: 14px;
    padding-top: 40px;
    padding-bottom: 40px;
    
    border-bottom: 1px solid #DDDDDD;
}

.cart-table form {
    margin: 0;    
}

.cart-table .cart-item-quantity input[type=text] {
    margin: 0;
    margin-right: -4px;
    font-weight: bold;
    text-align: right;
    width: 50px;
}

.cart-total { margin: 20px 65px  20px 540px; }
    .cart-total-kdv th { }
    .cart-total-kdv td { font-size: 26px; }
    .cart-total-matrah th {}
    .cart-total-matrah td { font-size: 26px;; color: maroon; }

.cart-confirm {
    text-align: right;
}


.my-carts-table form {
    margin: 0;
    float: left;
    margin-right: 4px;
}