﻿


.block {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 400px;
    
    border: 1px solid #CCC;
    padding-bottom: 10px;
    
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}


/* Block Header */
.block-header {
    height: 54px;
	line-height: 54px;
	padding-left: 20px;
	padding-right: 20px;

	background: url(../img/block-header-bg.gif) repeat-x;
} 

.block-header h2 {
	font-size: 18px;
	color: #555;
	text-shadow: 1px 1px 0 white;
	line-height: 54px;
}



/* Content */
.block-content {
	background: #FFF;
	padding: 10px 20px 0 20px;
}  



/* Full-width blocks */
.block.block-float {
	width: 100%;
}

.block input[type=text], .block input[type=password] {
	width: 300px;
	margin-bottom: 2px;
}

.block .help-inline {
	padding: 0;
	display: block;
}


.block-subactions {
	text-align: center;
}