﻿

@import url(types.css);

@import url(table.css);
@import url(block.css);

@import url(patterns.css);

@import url(custom-products.css);
@import url(custom-documents.css);

@font-face { font-family: 'Bree'; src: url('../fonts/bree-thin.otf'); font-weight: normal; }
@font-face { font-family: 'Bree'; src: url('../fonts/bree-semibold.otf'); font-weight: bold; }
@font-face { font-family: 'BreeRegular'; src: url('../fonts/bree-regular.otf'); font-weight: normal; }
.loginScreen .main{ background:url(../timg/login-main.png) repeat; border-bottom:20px solid #fc5001; margin-top:15%; margin-bottom:40px;-webkit-box-shadow: 0px 4px 16px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 4px 16px 0px rgba(0,0,0,0.75);
box-shadow: 0px 4px 16px 0px rgba(0,0,0,0.75);}
.loginScreen .main .logo{ background:url(../timg/login-tekzen-logo.png) no-repeat; width:289px; height:89px; margin:auto; margin-top:110px;}
.loginScreen .main ul.login-exp{ list-style-type:none; margin-top:30px;}
.loginScreen .main ul.login-exp li{ background:url(../timg/login-list-icon.png) no-repeat left center; font-size:20px; padding:16px 0 20px 20px; }
.loginScreen .main h1{ font-weight:normal; font-size:18px; line-height:inherit; margin:0 0 60px 0;}
.loginScreen .main .btn{ background:url(../timg/login-btn-bg.png) repeat-y; border:0; border-radius:30px; font-weight:bold; text-shadow:none; color:#ffffff; font-size:24px; width:257px; height:60px; padding:0;font-family: 'Bree'; margin-bottom:35px;}
.loginScreen .form-horizontal .textBox{ border-bottom:1px solid #333333; width:240px; margin:auto; margin-bottom:30px;}
.loginScreen .form-horizontal .textBox input{ border:0; background:none; box-shadow:none; color:#4d4d4d; float:left; padding:0; font-size:18px; margin-bottom:3px;}
.loginScreen .form-horizontal .textBox input::-webkit-input-placeholder {color: #4d4d4d;font-family: 'Bree';}
.loginScreen .form-horizontal .textBox input::-moz-placeholder {color: #4d4d4d;font-family: 'Bree';}
.loginScreen .form-horizontal .textBox input:-ms-input-placeholder {color: #4d4d4d;font-family: 'Bree';}
.loginScreen .form-horizontal .textBox input:-moz-placeholder {color: #4d4d4d;font-family: 'Bree';}
.loginScreen .form-horizontal .textBox i.user-icon{ background:url(../timg/login-user-icon.png) no-repeat; width:17px; height:15px; float:left; margin-right:5px; font-size:16px; position:relative; top:2px;}
.loginScreen .form-horizontal .textBox i.password-icon{ background:url(../timg/login-password-icon.png) no-repeat; width:14px; height:15px; float:left; margin-right:8px; font-size:16px; position:relative; top:2px;}
.loginScreen h2{ color:#ffffff; font-weight:normal;font-family: 'BreeRegular'; font-size:28px;}
.loginScreen p{ color:#ffffff; font-size:22px; margin-bottom:40px;}
@media (min-width: 768px) {
.loginScreen .main.span4{ margin-left:60px;}
.loginScreen .span11{ margin-left:60px;}
}
@media (max-width: 979px) and (min-width: 768px){
.loginScreen .main.span4{ width:450px; margin:auto; float:none;}
}
.visitedBtn{
display: inline-block;
    *display: inline;
    /* IE7 inline-block hack */
    *zoom: 1;
    padding: 4px 12px;
    margin-bottom: 0;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    color: #333333;
    background-color: #49afcd;
    filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
    border-bottom-color: #b3b3b3;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    *margin-left: .3em;
    }

    .visitedBtn:visited {
    background-color: #2c6b8a !important;
    }