﻿
body {
    overflow-y: scroll;
}


.logo {
    margin-top: 12px;
    margin-bottom: 12px;
}

.centered-page-logo 
{
    text-align: center;
    margin-bottom: 20px;
}


.no-wrap {
    white-space: nowrap;
}


.page-actions { padding: 10px;margin-bottom: 10px; }
.right-aligned { text-align: right !important; }
.center-aligned { text-align: center; }

.readonly-date-select {
    cursor: inherit !important;
    background-color: white !important;
}