﻿@model DerinSIS.B2B.ViewModels.CartModel
@{
    ViewBag.Title = "Sepetim";
}

@if (Model.mesajVer == 1)
{
    <div id="limitMesaj" class="alert alert-error">
        <h4 class="alert-heading">Onay Gerçekleşmedi!</h4>
        Bu sipariş ile açık hesap limit sınırı aşılıyor.
    </div>
}
@if (Model.mesajVer == 2)
{
    <div id="siparisKapaliMesaj" class="alert alert-error">
        <h4 class="alert-heading">Onay Gerçekleşmedi!</h4>
        Hesap sipariş işlemine kapalı, şirket yetkilisiyle iletişime geçiniz!
    </div>
}
@if (Model.mesajVer < 0)
{
    <div id="vadesiGecenMesaj" class="alert alert-error">
        <h4 class="alert-heading">Onay Gerçekleşmedi!</h4>
        Firmanın vadesi geçen borcu var (@Model.mesajVer), sipariş girilemez!
    </div>
}
    @* CART ACTIONS *@
    <div class="well cart-actions">
        <div class="row-fluid">
            <div class="span4">
                <div class="btn-group cart-commands" data-toggle="buttons-radio">
                    <button type="button" class="btn" name="remove-selected-items" rel="tooltip" title="Sil" disabled="disabled">
                        <i class="icon-remove"></i>
                    </button>

                    @if (Model.Sepetlerim.Count() > 1)
                    {
                        <button class="btn dropdown-toggle" data-toggle="dropdown" rel="tooltip" title="Başka Sepete Taşı" disabled="disabled">
                            <i class="icon-share-alt"></i>
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu">
                            <li class="divider"></li>
                            @foreach (var sepet in Model.Sepetlerim.Where(x => x.Id != Model.AktifSepetId))
                            {
                                <li><a href="#" rel="tooltip" class="move-to-another-cart-button" data-target-cart="@sepet.Id" title="@sepet.Isim sepetine taşı">@sepet.Isim</a></li>
                            }
                        </ul>
                    }

                </div>
            </div>

            <div class="span8" style="text-align: right">
                <select id="cart-selector">
                    @foreach (var cart in Model.Sepetlerim)
                    {
                        <option value="@cart.Id" @(cart.Id == Model.AktifSepetId ? "selected=\"selected\"" : "")>@cart.Isim</option>
                    }
                </select>
                <a href="@Url.Action("MyCarts")" class="btn" rel="tooltip" title="Sepetlerim">
                    <i class="icon-gift"></i>
                </a>
                <a href="@Url.Action("TransferExcel")" class="btn" rel="tooltip" title="Excel'den Aktar">
                    <i class="icon-share"></i>
                </a>
            </div>
        </div>

    </div>


    <table class="table  table-striped cart-table">
        @if (Model.AktifSepetUrunleri.Any())
        {
            <thead>
                <tr>
                    <th></th>
                    <th>Ürün</th>
                    <th>İndirimler</th>
                    <th class="right-aligned">Birim Fiyat</th>
                    <th class="right-aligned">Adet</th>
                    <th class="right-aligned">Matrah</th>
                    <th class="right-aligned">KDV</th>
                    <th class="right-aligned">Toplam</th>
                </tr>
            </thead>
        }
        <tbody>
            @if (Model.AktifSepetUrunleri.Any())
            {
                foreach (var item in Model.AktifSepetUrunleri)
                {
                    <tr>
                        <td>
                            <input type="checkbox" name="cart-item-select" data-item="@item.UrunId" />
                        </td>
                        <td>
                            <a href="@Url.Action("ProductDetail","Store", new { id = item.UrunId })">
                                @item.UrunAdi
                            </a>
                        </td>
                        <td>
                            @{ var indirimler = new[] { item.Indirim1, item.Indirim2, item.Indirim3 }; }

                            @if (indirimler.Any(x => x > 0))
                            {
                                <span class="label label-info">
                                    <i class="icon-download-alt icon-white"></i>
                                    %@string.Join(" + ", indirimler.Where(x => x > 0).Select(x => x.ToQuantityFormat()))
                                </span>
                            }

                            @if (item.Indirim4 > 0)
                            {
                                <span class="label label-important">
                                    <i class="icon-arrow-down icon-white"></i>
                                    %@item.Indirim4.ToQuantityFormat()
                                </span>
                            }
                        </td>
                        <td class="right-aligned">@item.KDVHaricSatisFiyati.ToMoneyFormat().Replace(".", "").Replace(",", ".") @item.DvzBirim</td>
                        <td class="right-aligned" width="100">
                            @*<form class="cart-item-quantity" method="POST" action="@Url.Action("UpdateActiveCartItem", "Store")">*@
                            <form class="cart-item-quantity">
                                <input type="hidden" name="ProductId" value="@item.UrunId" />
                                <input type="hidden" name="stokKontrolu" value="@Model.modelStokKontrolu" />
                                <input type="hidden" name="stkStok" value="@item.Stok.ToQuantityFormat().Replace(".", "").Replace(",", ".")" />
                                <div class="controls">
                                    <div class="input-append">
                                        @if (@Model.modelStokKontrolu>0 && item.Adet > item.Stok)
                                        {
                                            <input type="text" style="background-color:red" value="@item.Adet.ToQuantityFormat().Replace(".", "").Replace(",", ".")" class="span1" name="NewQuantity" />
                                        }
                                        else
                                        {
                                            <input type="text" value="@item.Adet.ToQuantityFormat().Replace(".", "").Replace(",", ".")" class="span1" name="NewQuantity" />
                                        }

                                        <button class="btn btn-info updte-to-cart" type="button" data-loading-text="..."><i class="icon-refresh icon-white"></i></button>
                                    </div>
                                </div>
                            </form>
                        </td>
                        <td class="right-aligned no-wrap">@((item.KDVHaricNet * item.Adet).ToMoneyFormat().Replace(".", "").Replace(",", ".")) @item.DvzBirim</td>
                        <td class="right-aligned no-wrap">@((item.KDVTutari * item.Adet).ToMoneyFormat().Replace(".", "").Replace(",", ".")) @item.DvzBirim</td>
                        <td class="right-aligned no-wrap">@item.SatirToplami.ToMoneyFormat().Replace(".", "").Replace(",", ".") @item.DvzBirim</td>
                    </tr>
                }
            }
            else
            {
                <tr>
                    <td colspan="8" class="empty-warning">
                        Sepetinizde ürün bulunmamaktadır.
                    </td>
                </tr>
            }
        </tbody>
    </table>


    <div class="cart-total">
        @foreach (var itemDvz in Model.AktifSepetUrunleri.GroupBy(x => x.DvzBirim).ToList())
        {
            <table class="table table-striped">
                <tr class="cart-total-kdv">
                    <th>KDV ( @itemDvz.Key )</th>
                    <td class="right-aligned no-wrap">@Model.AktifSepetUrunleri.Where(x => x.DvzBirim == itemDvz.Key).Sum(x => x.KDVTutari * x.Adet).ToMoneyFormat().Replace(".", "").Replace(",", ".") @itemDvz.Key </td>
                </tr>
                <tr class="cart-total-matrah">
                    <th>Toplam ( @itemDvz.Key )</th>
                    <td class="right-aligned no-wrap">@Model.AktifSepetUrunleri.Where(x => x.DvzBirim == itemDvz.Key).Sum(x => x.SatirToplami).ToMoneyFormat().Replace(".", "").Replace(",", ".") @itemDvz.Key</td>
                </tr>
            </table>
        }

    </div>

    <div class="form-actions cart-confirm">
        <a href="@Url.Action("SelectOrderDeliveryAddress", "Store", new { tutar = Model.AktifSepetUrunleri.Sum(x => x.SatirToplami).ToMoneyFormat() })" class="btn btn-success btn-large">Sepeti Onayla ve Satın Al</a>
    </div>



    @section javascripts
{
        <script type="text/javascript">
            $(document).ready(function () {

                $('.updte-to-cart').live('click', function () {
                    var button = $(this);
                    var form = button.closest('form');
                    var quantityField = form.find('input[name=NewQuantity]');
                    var quantity = quantityField.val();
                    var productId = form.find('input[name=ProductId]').val();

                    var _stkStokKontroluField = form.find('input[name=stokKontrolu]');
                    var _stkStokKontrolu = _stkStokKontroluField.val();
                    var _stkStokField = form.find('input[name=stkStok]');
                    var _stkStok = _stkStokField.val();

                    if (quantity === "" || isNaN(quantity) || quantity === "0") {
                        quantityField
                        .stop()
                        .css('background', 'inherit')
                        .effect('highlight', { color: 'maroon' }, 2000);
                        return;
                    }

                    var yeniDeger = _stkStok - quantity;
                    if (_stkStokKontrolu >0) {
                        if (yeniDeger < 0) {
                            quantityField.val(_stkStok);
                            quantityField
                           .stop()
                           .css('background', 'inherit')
                           .effect('highlight', { color: 'red' }, 3000);
                            return;
                        }
                    }


                    quantityField
                        .stop()
                        .css('background', 'inherit')
                        .effect('highlight', { color: 'green' }, 2000);
                    quantity = parseInt(quantity);


                    $.ajax({
                        traditional: true,
                        type: 'POST',
                        url: '@Url.Action("UpdateActiveCartItem","Store")',
                        data: { ProductId: productId, NewQuantity: quantity },
                        success: function () {
                            location.reload();
                        }
                    });



                });







                $('#cart-selector').change(function () {
                    var t = $(this);
                    var val = t.val();

                    t.addClass('disabled');

                    $('<form />')
                        .attr('method', 'POST')
                        .attr('action', '@Url.Action("ChangeActiveCart", "Store")/' + val)
                        .appendTo('body')
                        .submit();
                });


                //@* COMMAND BUTTONS AND ROW SELECTION *@
                function selectedProductIds() {
                    var ids = new Array();

                    $('input[name=cart-item-select]:checked')
                        .closest('tr')
                        .find('input[name=ProductId]')
                        .each(function () {
                            var t = $(this);
                            ids.push(parseInt(t.val()));
                        });
                    return ids;
                }

                $('.move-to-another-cart-button').click(function () {
                    var t = $(this);
                    var itemIds = selectedProductIds();
                    var targetCartId = parseInt(t.data('target-cart'));


                    var form = $('<form />')
                        .attr('method', 'POST')
                        .attr('action', '@Url.Action("MoveToAnotherCart")')
                        .appendTo('body');

                    $('<input type="hidden" />')
                        .attr('name', 'targetCartId')
                        .val(targetCartId)
                        .appendTo(form);

                    for (var i in itemIds) {
                        var itemId = itemIds[i];
                        $('<input type="hidden" />')
                            .attr('name', 'itemIds')
                            .val(itemId)
                            .appendTo(form);
                    }

                    form.submit();
                });

                $('button[name=remove-selected-items]').click(function () {
                    var t = $(this);
                    var ids = selectedProductIds();

                    var form = $('<form />')
                        .attr('method', 'POST')
                        .attr('action', '@Url.Action("RemoveFromActiveCart")')
                        .appendTo('body');

                    for (var i in ids) {
                        var id = ids[i];
                        $('<input type="hidden" />')
                            .attr('name', 'ids')
                            .val(id)
                            .appendTo(form);
                    }

                    form.submit();
                });

                $('input[name=cart-item-select]').change(function () {
                    var t = $(this);
                    var row = t.closest('tr');

                    if (t.is(':checked')) {
                        row.addClass('selected');
                    }
                    else {
                        row.removeClass('selected');
                    }

                    // Eğer seçili satır varsa taşı ve sil butonlarını aktif yapalım
                    if ($('input[name=cart-item-select]:checked').length > 0) {
                        $('.cart-commands button').removeAttr('disabled');
                    }
                    else {
                        $('.cart-commands button').attr('disabled', 'disabled');
                    }
                }).change();
            });
        </script>
    }
