﻿@model DerinSIS.B2B.ViewModels.CartSidebarElementModel

@helper CartTooltipContent()
{
    if (Model.ToplamUrunCesidi > 0)
    {
        <h6></h6>
    }
    else
    {
        <h6>ÜRÜN BULUNMAMAKTADIR</h6><br />
    }
}

<div class="well">
    <h6>@Model.AktifSepetIsmi:</h6>



    <table class="table">
        <tr>
            <td>ÜRÜN ÇEŞİDİ</td>
            <th class="right-aligned"><span class="cart-urun-cesidi">@Model.ToplamUrunCesidi</span> ÜRÜN ÇEŞİDİ</th>
        </tr>
        @for (int i = 0; i < Model.TutarBilgisi.Length / 4; i++)
        {
            if (Model.TutarBilgisi[i, 1] != "")
            {
                <tr>
                    <td style="font-size: 12px;font-weight:bold; ">(@Model.TutarBilgisi[i, 0]) Ürün</td>
                    @*@Model.KDVDahilTutar*@
                    <th class="right-aligned">
                    </th>
                </tr>
                <tr>
                    <td style="font-size: 12px;border:0px;padding-top:0px;padding-bottom:0px;padding-left:25px">Net Tutar</td>
                    @*@Model.KDVDahilTutar*@
                    <th class="right-aligned" style="border:0px;padding-top:0px;padding-bottom:0px;">
                        <span class="cart-kdv-dahil-toplam">
                            @Model.TutarBilgisi[i, 1] @Model.TutarBilgisi[i, 0]
                        </span>
                    </th>
                </tr>
                <tr>
                    <td style="font-size: 12px;border:0px;padding-top:0px;padding-bottom:0px;padding-left:25px">Kdv Tutar</td>
                    @*@Model.KDVDahilTutar*@
                    <th class="right-aligned" style="border:0px;padding-top:0px;padding-bottom:0px">
                        <span class="cart-kdv-dahil-toplam">
                            @Model.TutarBilgisi[i, 2] @Model.TutarBilgisi[i, 0]
                        </span>
                    </th>
                </tr>
                <tr>
                    <td style="font-size: 12px;border:0px;padding-top:0px;padding-bottom:0px;padding-left:25px">Top. Tutar</td>
                    @*@Model.KDVDahilTutar*@
                    <th class="right-aligned" style="border:0px;padding-top:0px;padding-bottom:0px;">
                        <span class="cart-kdv-dahil-toplam">
                            @Model.TutarBilgisi[i, 3] @Model.TutarBilgisi[i, 0]
                        </span>
                    </th>
                </tr>
            }
        }

    </table>

    <a href="@Url.Action("Cart")" class="btn btn-info">
        <i class="icon-shopping-cart icon-white"></i>
        Sepete Git
    </a>
</div>