﻿@model DerinSIS.B2B.ViewModels.CartMenuElementModel

<li>
    <a href="@Url.Action("Cart", "Store")" class="cartelement" data-placement="bottom">

        <i class="icon-shopping-cart icon-white"></i>
        @Model.AktifSepetIsmi

        (<span class="cart-urun-cesidi">@Model.ToplamUrunCesidi</span> Ürün)

        @{
            var lastItem = Model.SonEklenen2Urun.FirstOrDefault();
            var previousItem = Model.SonEklenen2Urun.LastOrDefault();
        }
        <input type="hidden" class="" name="active-cart-name" value="@Model.AktifSepetIsmi" />
        <input type="hidden" class="cart-urun-cesidi" name="cart-urun-cesidi" value="@Model.ToplamUrunCesidi" />
        <input type="hidden" class="cart-kdv-dahil-toplam" name="cart-kdv-dahil-toplam" value="@Model.KDVDahilTutar" />
        <input type="hidden" class="cart-last-product" name="last-product" value="@(lastItem != null ? lastItem.UrunIsmi : "")" />
        <input type="hidden" class="cart-previous-product" name="previous-product" value="@(previousItem != null ? previousItem.UrunIsmi : "")" />
    </a>
</li>

@if (Model.silinenUrn != "")
{
    <div class="modal show fade in" id="myDeletingProductModal">
        <div class="modal-header">
            <a class="close" data-dismiss="modal" id="hrefDeletingProductModelClose">
                ×
            </a> <h5 class="Prgtarget">Aşağıda yer alan ürünler siparişe kapatıldığı için, sepetinizden çıkartılmıştır.</h5>
        </div>

        <div class="modal-body" id="myDeletingProductBodyModal">
            <div id='myModalContentDeletingProduct'>
            </div>
        </div>

        <div class="modal-footer">
            <input type="hidden" name="silinenUrunDgr" value="@WebUtility.HtmlDecode(Model.silinenUrn)" />
            <button type="button" id="btnDeletingProductModelClose" class="btn" style=" margin-top: 20px; margin-right: 25px">Kapat</button>
        </div>
    </div>

    <script type="text/javascript">
    $(document).ready(function () {
        $('#myModalContentDeletingProduct').html($('input[name="silinenUrunDgr"]').val());
        $('#hrefDeletingProductModelClose').live('click', function () {
            $('#myDeletingProductModal').remove();
        });
        $('#btnDeletingProductModelClose').live('click', function () {
            $('#myDeletingProductModal').remove();
        });
    });
    </script>
}

