﻿

@model DerinSIS.B2B.ViewModels.CreateNewCartModel
@{
    ViewBag.Title = "Yeni Sepet Oluştur";
}


<div class="well page-actions">
    <a class="btn" href="@Url.Action("MyCarts", "Store")"><i class="icon-chevron-left"></i> Sepetlerime Geri Dön</a>
</div>


@using (Html.BeginForm()) {
    <div>
        <fieldset>

            @Html.EditorForModel()

            <div class="actions">
                <input type="submit" class="btn btn-large btn-info" data-loading-text="Kaydediliyor..." value="Kaydet" />
            </div>
        </fieldset>
    </div>
}
