﻿

@model IList<DerinSIS.B2B.ViewModels.MyCartModel>
@{
    ViewBag.Title = "Sepetlerim";
}


<div class="well page-actions right-aligned">
    <a class="btn btn-info" href="@Url.Action("CreateNewCart", "Store")"><i class="icon-plus icon-white"></i> Yeni Sepet Oluştur</a>
</div>


<table class="table table-striped my-carts-table">
    <thead>
        <tr>
            <th>Sepet İsmi</th>
            <th>Açıklamalar</th>
            <th>Mevcut Ürünler</th>
            <th style="width: 150px;">İşlemler</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var cart in Model)
        {
            <tr>
                <td>
                    <strong>@cart.Isim</strong>
                    
                    @if(cart.AktifMi)
                    {
                        <span class="label label-success">AKTİF SEPET</span>
                    }
                </td>
                <td>@cart.Aciklamalar</td>
                <td>
                    @if(cart.Adet > 0)
                    {
                        <span>@cart.Adet ürün bulunmaktadır.</span>
                    }
                    else
                    {
                        <span>Ürün Yok</span>
                    }
                </td>
                <td class="table-actions">
                    @using (Html.BeginForm("MakeCartActive", "Store", new { id = cart.Id }))
                    {
                        <button type="submit" rel="tooltip" title="Aktif Yap" data-loading-text="..." class="btn btn-success btn-small" @(cart.AktifMi ? "disabled=\"disabled\"": "")>
                            <i class="icon-ok icon-white"></i>
                        </button>
                    }
                    
                    @using(Html.BeginForm("EditCart", "Store", new { id = cart.Id }, FormMethod.Get))
                    {
                        <button type="submit" rel="tooltip" title="Düzenle" class="btn btn-small" data-loading-text="...">
                            <i class="icon-pencil"></i>
                        </button>
                    }
                    
                    <form method="POST" action="@Url.Action("DeleteCart", new {id = cart.Id})" class="delete-cart-form" >
                        <button type="submit" class="btn btn-danger btn-small" data-loading-text="..." rel="tooltip" title="Sil">
                            <i class="icon-remove icon-white"></i>
                        </button>
                    </form>
                        
                </td>
            </tr>
        }
    </tbody>
</table>


@section javascripts
{
    <script type="text/javascript">
        $(document).ready(function () {
            $('.delete-cart-form').submit(function () {
                if (!confirm("Bu sepeti silmek istediğinizden emin misiniz?")) {
                    return false;
                }
            });
        });
    </script>
}
