﻿@model DerinSIS.B2B.ViewModels.CreateDeliveryAddressModel
@{
    ViewBag.Title = "Sevk Adresi";
}

<div class="well">
    <form method="POST" action="@Url.Action("OrderSummary", new { addressId = ViewBag.FatSevkID })">
        <div class="checkbox">
            <label><input id="cbFaturaSevkAdresi" type="checkbox"> Fatura adresime sevk edilsin</label>
        </div>
        <div>
            <button type="submit" id="gonderimiFaturaAdresineYap" class="btn btn-info btn-large" data-loading-text="Kaydediliyor...">Tamam</button>
        </div>
    </form>
</div>

<div id="divKayitliAdresSec" style="display:none" class="well">

    <h4>Kayıtlı adreslerden seç</h4>

    <form method="GET" class="address-select-form" action="@Url.Action("OrderSummary")">
        <select class="span5" name="addressId">
            <option value="">-- Lütfen Seçiniz --</option>
            @foreach (var address in ViewBag.SevkAdresleri)
            {
                <option value="@address.Id">@address.AdresAdi</option>
            }
        </select>

        <div>
            <button type="submit" class="btn btn-info btn-large" data-loading-text="Kaydediliyor...">Seç</button>
        </div>

    </form>

</div>


<div id="divYeniAdresOlustur" style="display:none" class="well">
    <h4>... veya yeni oluşturacağın bir adrese gönder</h4>

    <form method="POST" action="" class="form-horizontal">
        @Html.EditorForModel()

        <div class="actions">
            <button id="gonderimYap" type="submit" class="btn btn-large btn-info" data-loading-text="Kaydediliyor...">Yeni Adrese Gönderim Yap <i class="icon-chevron-right icon-white"></i></button>
        </div>
    </form>
</div>



@section javascripts
{
    <script type="text/javascript">
        $(document).ready(function () {


            if ($('#cbFaturaSevkAdresi').is(':checked') == true) {
                $('#divKayitliAdresSec').hide();
                $('#divYeniAdresOlustur').hide();
                $('#gonderimiFaturaAdresineYap').show();
            }
            else {
                $('#divKayitliAdresSec').show();
                $('#divYeniAdresOlustur').show();
                $('#gonderimiFaturaAdresineYap').hide();
            }

            /* prevent address select list from submit if no address is selected */
            $('.address-select-form').submit(function () {
                var t = $(this);
                var addressSelect = t.find('select');

                if (addressSelect.val() === "") {
                    return false;
                }
            });

            $('.address-select-form select').change(function () {
                var t = $(this);
                var submitButton = t.closest('form').find('button[type=submit]');

                if (t.val() === "") {
                    submitButton.addClass("disabled");
                }
                else {
                    submitButton.removeClass("disabled");
                }
            }).change();

            /* Category and Brand Trees
            * ----------------------------------------------------- */
            $('#category-tree').dynatree({
                fx: { height: "toggle", duration: 200 },
                persist: true,
                onActivate: function (node) {
                    var selectedCategoryId = node.data.key.substr(9);

                    var categoryFilter = $('form.form-search').find('input[name=categoryId]');
                    categoryFilter.val(selectedCategoryId);

                    $('form.form-search').submit();
                }
            });

            $('#brand-tree').dynatree({
                fx: { height: "toggle", duration: 200 },
                persist: true,
                onActivate: function (node) {
                    var brandFilter = $('form.form-search').find('input[name=brandId]');
                    var producerFilter = $('form.form-search').find('input[name=producerId]');

                    var selectedItemId = node.data.key;
                    if (selectedItemId.substr(0, 5) === "brand") {
                        var brandId = selectedItemId.substr(6);
                        brandFilter.val(brandId);
                        producerFilter.val("");
                    }
                    else {
                        var producerId = selectedItemId.substr(9);
                        producerFilter.val(producerId);
                        brandFilter.val("");
                    }

                    $('form.form-search').submit();
                }
            });

            $('#gonderimYap').click(function () {
                var t = $(this);
            });

            $('.address-list li').hover(
                function () {
                    var t = $(this);
                    t.addClass('active');
                    t.find('a').append('<i class="icon-chevron-right icon-white next-icon"></i>');
                },
                function () {
                    var t = $(this);
                    t.removeClass('active');
                    t.find('a .next-icon').remove();
                }
            );

            $('#cbFaturaSevkAdresi').on('change', function () {
                // From the other examples
                if (this.checked) {
                    $('#divKayitliAdresSec').hide();
                    $('#divYeniAdresOlustur').hide();
                    $('#gonderimiFaturaAdresineYap').show();
                }
                else {
                    $('#divKayitliAdresSec').show();
                    $('#divYeniAdresOlustur').show();
                    $('#gonderimiFaturaAdresineYap').hide();
                }
            });

        });
    </script>
}
