﻿@using DerinSIS.B2B.ViewModels;
@model ProductListModelExcel
@{
    ViewBag.Title = "Aktarım";
}


<form class="product-search pager-form" action="@Url.Action("TransferExcel", "Store")" >
    <input type="hidden" name="page" value="@Model.AramaSonuclariExcel.Page"/>
    <div class="clearfix product-search-elements">
        <table style="width:100%">
            <tr>
                <td style="width:80%">
                    <textarea name="excellistesi" style="width: 90%; height: 150px;"></textarea>
                    </td>
                <td style="width:20%">
                    <button  type="submit" class="btn btn-large" data-loading-text="Listele">Listele</button>
                </td>
            </tr>
        </table>
    </div>
</form>

<script type="text/javascript">
    var totalLengthAvailable = $('.product-search-elements').width();
    
    /* search filters */
    $('.search-filter').each(function () {
        var width = $(this).outerWidth(true);
        totalLengthAvailable -= width;
    });

    /* submit button */
    totalLengthAvailable -= $('.product-search button[type=submit]').outerWidth(true);

    totalLengthAvailable -= 22; /* input padding and border */
    $('input[name=excelData]').width(totalLengthAvailable);
</script>


<div id="product-list-summary" class="well">
    <div class="clearfix">
        <div style="float: left; width: 320px; line-height: 30px;">
            @if (Model.AramaSonuclariExcel.Page == 1)
            {
                <em>Toplam @Model.AramaSonuclariExcel.TotalItems sonuç bulundu</em>        
            }
            else
            {
                <em>Sayfa @Model.AramaSonuclariExcel.Page / @Model.AramaSonuclariExcel.TotalItems sonuç</em>
                
            }


        </div>
    </div>
</div>
<form method="post" action="@Url.Action("TransferExcelYukle", new { 
                           JsonModel = Html.Raw(Json.Encode(Model.AramaSonuclariExcel.Select(x => 
                               new DerinSIS.B2B.ViewModels.ProductListModelExcel.ExListe { 
                       Id = x.Id,
                       Barkod="",
                       Adet = x.Adeti
                       }))) })">
    <button type="submit" class="btn btn-success">Listeyi Sepete Ekle!</button>
</form>

<div class="product-list-container"></div>


@*//düzeltilecek*@
@{ Html.RenderPartial("PagerExcel", Model.AramaSonuclariExcel); }


@section javascripts {

    @* Resimsiz Ürün Listesi Template *@
    <p style="display: none">
        <textarea id="resimsiz-urun-listesi-template" rows="0" cols="0"><!--
        {#template MAIN}
            <table id="myTable" class="table table-striped tablesorter">
                <thead>
                    <th>Stok Kodu</th>
                    <th>Ürün</th>
                    <th>Barkod</th>
                    <th>Adet</th>
                </thead>
                <tbody>
                    {#foreach $T as item} 
                       {#include URN_ROW root=$T.item}
                    {#/for}
                </tbody>
            </table>
        {#/template MAIN}  
        {#template URN_ROW}
            <tr {#if $T.BagliOlduguModelId != null }data-model-urunu="{$T.BagliOlduguModelId}"{#/if}>
                <td style="width: 10px">{$T.StokKodu}</td>
                <td><a href="@Url.Action("ProductDetail")/{$T.Id}">{$T.Isim}</a></td>                
                <td>{$T.Barkod}</td>
                <td>{$T.Adeti}</td>
            </tr>  
           
        {#/template URN_ROW}
        
     
   
          
        
    --></textarea>


    </p>



    <script type="text/javascript">
 
        window.openModelIds = [];
        
        $(document).ready(function() {
            var urunler = @Html.Raw(Json.Encode(Model.AramaSonuclariExcel));

            function resimsizGosterim(urnListesi) {
                $('.product-list-container').setTemplateElement("resimsiz-urun-listesi-template");
                $('.product-list-container').processTemplate(urnListesi);
                
                for(var i in openModelIds) {
                    var id = openModelIds[i];
                    showModelDetails(id);
                }
            }

          
    
            function urunListesiniOlustur(gorunum, urnListesi) {

                $('.product-list-container').html('');
                
                resimsizGosterim(urnListesi);
               
                $.cookie('product-list-display', gorunum);

                $('[data-change-display]').removeClass('active');
                $('[data-change-display=' + gorunum + ']').addClass('active');
            }

            $('[data-change-display]').click(function() {
                var t = $(this);
                var type = t.data('change-display');
                urunListesiniOlustur(type, urunler);
            });
            
            // İlk açılışta hangi değeri göstereceğimizi cookiden öğreneceğiz
            var gorunumSecenegi = $.cookie('product-list-display');
            if(!gorunumSecenegi) {
                gorunumSecenegi = "normal";
            }
            urunListesiniOlustur(gorunumSecenegi, urunler);
            
            
            /* MODEL DETAY GÖRÜNÜMÜ */
            Array.prototype.remove = function() {
                var what, a = arguments, L = a.length, ax;
                while (L && this.length) {
                    what = a[--L];
                    while ((ax = this.indexOf(what)) != -1) {
                        this.splice(ax, 1);
                    }
                }
                return this;
            };

            function showModelDetails(modelId) {
                if($.inArray(modelId, openModelIds) === -1) {
                    openModelIds.push(modelId);    
                }
                
                var modelRow = $('tr[data-model=' + modelId + ']');
                var productRows = $('tr[data-model-urunu=' + modelId + ']');

                modelRow.addClass('active');
                var slideIcon = modelRow.find('.model-detail-btn i');
                slideIcon.removeClass('icon-plus-sign');
                slideIcon.addClass('icon-minus-sign');

                productRows.show('fast');
                
                // add css classes for the model highlight
                modelRow.addClass('model-highlight');
                productRows.addClass('model-highlight');
                modelRow.addClass('model-highlight-first');
                productRows.last().addClass('model-highlight-last');
            }
            
            function hideModelDetails(modelId) {
                if($.inArray(modelId, openModelIds) !== -1) {
                    openModelIds.remove(modelId);
                }
                
                var modelRow = $('tr[data-model=' + modelId + ']');
                var productRows = $('tr[data-model-urunu=' + modelId + ']');

                modelRow.removeClass('active');
                var slideIcon = modelRow.find('.model-detail-btn i');
                slideIcon.addClass('icon-plus-sign');
                slideIcon.removeClass('icon-minus-sign');
                
                productRows.hide('fast');
                
                // remove css classes for the model highlight
                modelRow.removeClass('model-highlight');
                productRows.removeClass('model-highlight');
                modelRow.removeClass('model-highlight-first');
                productRows.last().removeClass('model-highlight-last');
            }

            $('.model-detail-btn').live('click', function() {
                var t = $(this);
                var row = t.closest('tr');
                var modelId = parseInt(row.data('model'));
                
                if(row.hasClass('active')) {
                    // hide
                    hideModelDetails(modelId);
                }
                else {
                    // show
                    showModelDetails(modelId);        
                }
            });
            

            /* Search (Brand or Category) Filter Delete Buttons
            * ----------------------------------------------------- */
            $('#category-tree').click(function() {
                $('button[data-dismiss=filter]').each(function() {
                    var data = $(this).data('clear-filter');
                    if(data=='brandId') {
                        var dismissInput = $('input[name=' + data + ']');
                        dismissInput.val('');
                        dismissInput.closest('form').submit();
                    }
                });
            });
            $('button[data-dismiss=filter]').click(function () {
                var t = $(this);

                var dismissInputName = t.data('clear-filter');
                var dismissInput = $('input[name=' + dismissInputName + ']');
                dismissInput.val('');
                dismissInput.closest('form').submit();
            });
            $("#myTable").tablesorter();        
        });       
    </script>
}


