﻿@using DerinSIS.B2B.ViewModels
@model DeliveriesModel
@{
    ViewBag.Title = "İrsaliyeler";
    ViewBag.SubTitle = "Satın Alma";
}


<form method="GET">
    <input type="hidden" name="productFilter" value="@Model.ProductFilterId"/>

    @if(Model.ProductFilterId.HasValue)
    {
        <div class="alert alert-info">
            <button type="button" class="a btn btn-danger btn-small remove-product-filter"><i class="icon-remove icon-white"></i></button>
            <span class="label label-important">ÜRÜN FİLTRESİ</span>
            <strong>@Model.ProductFilterLabel</strong>
        </div>
        
        <script type="text/javascript">
            $(document).ready(function () {
                $('.remove-product-filter').click(function () {
                    var t = $(this);

                    // remove value from input productFilter
                    $('input[name=productFilter]').val('');

                    // submit form
                    t.closest('form').submit();
                });
            });
        </script>
    }
    
    @{ Html.RenderPartial("DocumentDateFilter", Model.DateFilter); }
</form>


@if (Model.Deliveries.Any())
{
    <table class="table table-striped">
        <thead>
            <tr>
                <th></th>
                <th></th>
                <th>Tarih</th>
                <th>Evrak No</th>
                <th>Hareket Tipi</th>
                <th>Vade Tarihi</th>
                
                @if(Model.GosterimSecenekleri.EvrakNotuGosterilsinMi)
                {
                    <th>Evrak Notları</th>    
                }
                
                <th class="right-aligned">KDV Hariç</th>
                <th class="right-aligned">Toplam İndirim</th>
                <th class="right-aligned">KDV Hariç Net</th>
                <th>Hareket Grubu</th>    
                <th>Sevk Adresi</th>        
            </tr>
        </thead>
        <tbody>
            @foreach (var delivery in Model.Deliveries)
            {
                <tr>
                    <td>
                        <a href="@Url.Action("DeliveryDetail", new { id = delivery.Id })" class="btn btn-info" data-toggle="button">
                            <i class="icon-search icon-white"></i>
                        </a>
                    </td>
                    <td>
                        @if (delivery.Durum == DeliveriesModel.DeliveryStatus.ACIK)
                        {
                            <span class='label label-warning'>FATURALAŞMAMIŞ</span>
                        }
                    </td>
                    <th>@delivery.Tarih.ToShortDateString()</th>
                    <td>@delivery.EvrakNo</td>
                    <td>@delivery.HareketTipi</td>
                    <td>@delivery.VadeTarihi.ToShortDateString()</td>
                    
                    @if (Model.GosterimSecenekleri.EvrakNotuGosterilsinMi)
                    {
                        <td>@delivery.EvrakNot</td>    
                    }
                    
                    <td class="right-aligned no-wrap">@delivery.KDVHaricToplam.ToMoneyFormat()</td>
                    <td class="right-aligned no-wrap">@delivery.ToplamIndirim.ToMoneyFormat()</td>
                    <td class="right-aligned no-wrap">@delivery.KDVHaricNet.ToMoneyFormat()</td>
                    <td>@delivery.HareketGrubu</td>
                    <td>@delivery.SevkAdresi</td> 
                </tr>
            }
        </tbody>
    </table>

}
else
{
        <div class="alert alert-error">
            <h4 class="alert-heading">Kayıt Bulunamadı!</h4>
            Aradığınız tarihler için irsaliye kaydı bulunamadı.
            Lütfen arama başlangıç ve bitiş tarihlerini değiştirip tekrar deneyin.
        </div>
}

