﻿
@model DerinSIS.B2B.ViewModels.SalesDashboardModel
@{
    ViewBag.Title = "Satın Alma";
}


<div class="row">
    <div class="span9">
        <div class="block block-float">
            <div class="block-header">
                <h2>SİPARİŞ GÜNLERİ</h2>
            </div>
    
            <div class="block-content">
                @if(Model.SiparisGunleri.Any(x => x.SiparisVerilebilirMi))
                {
                    <span>
                        @Html.Raw(string.Join(", ", Model.SiparisGunleri.Where(x => x.SiparisVerilebilirMi).Select(x => "<strong>" + x.GunIsmi + "</strong>")))  
                        günlerinde sipariş verebilirsiniz
                    </span>
                }
                else
                {
                    <em>Sipariş verebileceğiniz gün bulunmamaktadır.</em>
                }
            </div>
        </div>
    </div>
</div>

<hr />

<div class="row">
    <div class="span5">
        <div class="block block-float">
            <div class="block-header">
                <h2>BEKLEYEN SİPARİŞLER</h2>
            </div>
            <div class="block-content">
                @if (Model.BekleyenSiparisler.Any())
                {
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th></th>
                                <th></th>
                                <th>#</th>
                                <th></th>
                                <th>Sipariş Tarihi</th>
                                <th>Sevk Tarihi</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var siparis in Model.BekleyenSiparisler)
                            {
                                <tr>
                                    <td width="30">
                                        <a href="@Url.Action("OrderDetail", new { id = siparis.Id })" class="btn btn-info" data-toggle="button">
                                            <i class="icon-search icon-white"></i>
                                        </a>
                                    </td>
                                    <td>
                                        @if(!siparis.OnayliMi)
                                        {
                                            <span class="label label-warning">ONAYSIZ</span>  
                                        }
                                    </td>
                                    <td>
                                        @siparis.Id
                                    </td>
                                    <td>
                                        @if (siparis.SevkTarihi < DateTime.Today)
                                        {
                                            <span class="label label-important">GECİKMİŞ SİPARİŞ</span>    
                                        }
                                    </td>
                                    <td>@siparis.SiparisTarihi.ToShortDateString()</td>
                                    <td>@siparis.SevkTarihi.ToShortDateString()</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                }
                else
                {
                    <em>Bekleyen siparişiniz bulunmamaktadır.</em>
                }
            </div>
        </div>
    </div>
    
    <div class="span4">
        <div class="block block-float">
            <div class="block-header">
                <h2>YENİ ÜRÜNLER</h2>
            </div>
            <div class="block-content">
                @if (Model.YeniUrunler.Any())
                {
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Ürün İsmi</th>
                                <th>Eklenme Tarihi</th>
                                <th class="right-aligned">Fiyat</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var urun in Model.YeniUrunler)
                            {
                                <tr>
                                    <td>
                                        <a href="@Url.Action("ProductDetail", "Store", new { id = urun.Id })">
                                            @urun.UrunAdi    
                                        </a>
                                    </td>
                                    <td>@urun.EklenmeTarihi.ToShortDateString()</td>
                                    <td class="right-aligned">@urun.UrunFiyati.ToMoneyFormat() TL</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                }
                else
                {
                    <em>Yeni eklenen ürün bulunmamaktadır</em>
                }        
            </div>
        </div>
    </div>
</div>