﻿@model ICollection<DerinSIS.B2B.ViewModels.MyDiscountModel>


@{
    ViewBag.Title = "Satın Alma Koşulları";
    ViewBag.SubTitle = "Satın Alma";
}


@if (Model.Any())
{
    
    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>Marka</th>
                <th>İndirim 1</th>
                <th>İndirim 2</th>
                <th>İndirim 3</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var discount in Model)
            {
                <tr>
                    <th>@discount.MarkaIsmi</th>
                    <td>% @discount.Indirim1.ToQuantityFormat()</td>
                    <td>% @discount.Indirim2.ToQuantityFormat()</td>
                    <td>% @discount.Indirim3.ToQuantityFormat()</td>
                </tr>
            }
        </tbody>
    </table>

    }
else
{
    
    <div class="alert alert-info">
        <h4 class="alert-heading">Kayıt Bulunamadı!</h4>
        Marka indirimi bulunmamaktadır.
    </div>
    
}
