﻿@using System.Globalization
@model DerinSIS.B2B.ViewModels.SalesPerWeekModel

@{
    ViewBag.Title = "Haftalık Satış Raporu";
}

<form method="GET">
  @{ Html.RenderPartial("DocumentDateFilter", Model.DateFilter); }
 </form>
<table class="table table-striped table-bordered table-condensed">
    <thead>
        <tr>
            <th>Ay</th>
            <th>Hafta</th>
            <th>Toplam Tutar</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var item in Model.Reports)
        {
            <tr>
                <td>@CultureInfo.CurrentCulture.DateTimeFormat.GetMonthName(item.Month)</td>
                <td>@item.Week</td>
                
            </tr>
        }
    </tbody>
</table>

