﻿
@model DerinSIS.B2B.ViewModels.SalesPerSizeModel

@{
    ViewBag.Title = "Bölgesel Satış Raporu";
}
<input id="categoryName" type="hidden" value="@Model.Categories"/>
<input id="brandName"    type="hidden" value="@Model.Brands"/>
<input id="pCount"       type="hidden" value="@Model.ProductCount"/>
<input id="cityName"     type="hidden" value="@Model.Cities"/>
<input id="groupName"    type="hidden" value="@Model.Groups"/>
<input id="statueName"   type="hidden" value="@Model.Status"/>
<input id="sCount"       type="hidden" value="@Model.StoreCount"/>

<form method="GET">
    @{ Html.RenderPartial("DocumentDateFilter", Model.DateFilter); }
    <div class="well">
        @{
            Html.RenderPartial("StoreFilter");
            Html.RenderPartial("ProductFilter");
        }
        
    </div>
</form>

    @if(Model.Reports.Any())
    {
        <table id="store" class="table table-striped table-bordered table-condensed">
            <thead>
                <tr>
                    <th style="text-align: center;">Boyut</th>
                    <th style="text-align: center;">Toplam Adet</th>
                    <th style="text-align: center;">İade Adet</th>
                    <th style="text-align: center;">Net Adet</th>
                    <th style="text-align: center;">Toplam Tutar</th>
                    <th style="text-align: center;">İade Tutar</th>
                    <th style="text-align: center;">Net Tutar</th>
                    <th style="text-align:center;">Yüzde</th>
                </tr>
            </thead>
            <tbody>
                @{
                    var total = Model.Reports.Sum(x => x.TotalSale) - Model.Reports.Sum(x => x.RefundofSale);
                }
                @foreach (var item in Model.Reports)
                {
                    <tr>
                        <td style="text-align: left;">@item.Size</td>
                        <td style="text-align: right;">@((item.TotalSaleCount).ToQuantityFormat())</td>
                        <td style="text-align: right;">@((item.RefundofSaleCount).ToQuantityFormat())</td>
                        <td style="text-align: right;">@(((item.TotalSaleCount - item.RefundofSaleCount)).ToQuantityFormat())</td>
                        <td style="text-align: right;">@item.TotalSale.ToMoneyFormat()</td>
                        <td style="text-align: right;">@item.RefundofSale.ToMoneyFormat()</td>
                         <td style="text-align: right;">@((Convert.ToDecimal(item.TotalSale - item.RefundofSale)).ToMoneyFormat())</td>
                        <td style="text-align: right;">%@(((((item.TotalSale - item.RefundofSale)/total)*100).ToString("n2")))</td>
                    </tr>
                }
            </tbody>
        </table>
    }
else
{
        <div class="alert alert-error">
            <h4 class="alert-heading">Kayıt Bulunamadı!</h4>
            Aradığınız tarihler için satış kaydı bulunamadı.
            Lütfen arama başlangıç ve bitiş tarihlerini değiştirip tekrar deneyin.
        </div>
}
@section javascripts
{
 <script type="text/javascript">
     $(document).ready(function () {

         jQuery.extend(jQuery.fn.dataTableExt.oSort, {
             "natural-asc": function (a, b) {
                 return naturalSort(a, b);
             },

             "natural-desc": function (a, b) {
                 return naturalSort(a, b) * -1;
             }
         });
         $('#store').dataTable({
             "aaSorting": [[7, "desc"]]
         });
         loadProductFilter();
         loadStoreFilter();
     });

 </script>   
}

