﻿@using DerinSIS.B2B.Infrastructure.Auth
@model DerinSIS.B2B.ViewModels.MainMenuModel


<div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <a class="brand" href="@Url.Action("Index", "Home")">@Model.anaSayfaAdi</a>


            <ul class="nav">
                @{
                    var controller = @HttpContext.Current.Request.RequestContext.RouteData.Values["controller"].ToString().ToLowerInvariant();
                }
                @if (User.Identity.IsAuthenticated)
                {
                    if (Model.SiparisYetkisi)
                    {
                        if (Model.AccountType == AccountType.Customer)
                        {
                            @Html.MainMenuLink("Ürünler", "Index", "Store", controller)
                        }
                        else
                        {
                            @Html.MainMenuLink("Ürünler", "Index", "Supplier", controller)
                        }
                    }

                    if (Model.SevkiyatYetkisi)
                    {
                        @Html.MainMenuLink("Satın Alma", "Index", "Sales", controller)
                    }

                    if (Model.FaturaYetkisi || Model.MutabakatYetkisi)
                    {
                        @Html.MainMenuLink("Muhasabe", "Index", "Accounting", controller)
                    }


                    if (Model.YoneticiYetkisi)
                    {
                        @Html.MainMenuLink("Ayarlar", "Index", "Management", controller)
                    }

                }
            </ul>

            <ul class="nav pull-right">
                <li><a id="doviz" href="#">@Model.Doviz</a></li>
                @if (User.Identity.IsAuthenticated)
                {

                    if (Model.AccountType == AccountType.Customer)
                    {
                        Html.RenderAction("CartMenuElement", "Store");
                    }


                    <li class="divider-vertical"></li>

                    <li class="dropdown" data-dropdown="dropdown">
                        @{string kAdi_Posta = Model.kAdi + " (" + Model.kPosta + ")";
                            kAdi_Posta = kAdi_Posta.Length > 41 ? kAdi_Posta.Substring(0, 38) + "..." : kAdi_Posta;
                            string mailto = "mailto:" + Model.helpMailAdress;
                        }
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"> @kAdi_Posta <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="@Url.Action("MyProfile", "Account")">Profilim</a></li>
                            <li><a href="@Url.Action("ChangePassword", "Account")">Şifre Güncelle</a></li>
                            @if (Model.helpMailAdress != "")
                            {
                                <li><a href="@mailto" target="_top">İletişim</a></li>
                            }
                            <li class="divider"></li>
                            <li><a href="@Url.Action("LogOff", "Account")">Güvenli Çıkış</a></li>
                        </ul>
                    </li>
                            }
                            else
                            {
                                <li class="divider-vertical"></li>
                                @Html.MainMenuLink("Üye Girişi", "LogOn", "Account")
                            }
            </ul>
        </div>
    </div>
</div>
