﻿@using DerinSIS.B2B.ViewModels
@model CurrentAccountExtractModel
@{
    ViewBag.Title = "Cari Hesap Ekstre Raporu";
}


<form method="GET" class="pager-form">
    @{ Html.RenderPartial("DocumentDateFilter", Model.DateFilter); }
    <div class="clearfix">
        @if (Model.CurrentAccountExtracts.Any())
        {
            <div id="product-list-summary" class="well">
                <div class="clearfix">
                    <div style="float: left; width: 100%; line-height: 30px;">
                        @{ var topSay = Model.CurrentAccountExtracts.FirstOrDefault().topSay;
                            var topPages = Model.CurrentAccountExtracts.FirstOrDefault().topSay / Model.PageLength;
                            var topKalan = Model.CurrentAccountExtracts.FirstOrDefault().topSay % Model.PageLength;
                            if (topKalan > 0)
                            {
                                topPages = topPages + 1;
                            }
                        }
                        @if (Model.Page == 1)
                        {
                        <em>Toplam @topSay sonuç bulundu</em>
                        }
                        else
                        {
                        <em>Sayfa @Model.Page / @topPages sonuç</em>
                        }
                    </div>
                </div>
            </div>
            

            <div class="table-responsive">
                <table id="MyProductTable" class="table table-striped">
                    <thead>
                        <tr>
                            <th>Tarih</th>
                            <th>Vade Tarihi</th>
                            <th>Belge No</th>
                            <th>Açıklama</th>
                            <th style="text-align:right">Borç</th>
                            <th style="text-align:right">Alacak</th>
                            <th style="text-align:right">ID</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var product in Model.CurrentAccountExtracts)
                {
                        <tr>
                            <td>@product.cTarih.ToString("dd.MM.yyyy")</td>
                            <td>@product.cTarihVade.ToString("dd.MM.yyyy")</td>
                            <td>@product.cEvrakNo</td>
                            <td>@product.ctfAd</td>
                            <td class="right-aligned no-wrap">@product.BORC.ToMoneyFormat(true)</td>
                            <td class="right-aligned no-wrap">@product.ALACAK.ToMoneyFormat(true)</td>
                            <td class="right-aligned no-wrap">@product.cID</td>
                        </tr>
                    }
                    </tbody>
                </table>
            </div>

            <input type="hidden" name="page" id="page" value="@Model.Page" />
            Html.RenderPartial("Pager", Model.CurrentAccountExtracts);
        }
        else
        {
            <div class="alert alert-error">
            <h4 class="alert-heading">Kayıt Bulunamadı!</h4>
            Aradığınız tarihler için cari hesap ekstresi bulunamadı.
            Lütfen arama koşullarını değiştirip tekrar deneyin.
            </div>
        }
    </div>

</form>

<script type="text/javascript">


</script>
