﻿@model DerinSIS.B2B.ViewModels.AccountingDashboardModel
@{
    ViewBag.Title = "Muhasebe";
}

<div class="row">

    <div class="span5">
        <div class="block block-float">
            <div class="block-header">
                <h2>MUTABAKAT</h2>
            </div>
            <div class="block-content">
                <table class="table">
                    @if (Model.FirmaMutabakatTarihi != null)
                    {
                        if (Model.SistemMutabakatTarihi == Model.FirmaMutabakatTarihi)
                        {
                            <tr>
                                <td>
                                    <span class="label label-success label-mutabakat">OK</span>
                                </td>
                                <td>Son Mutabakat Tarihi:</td>
                                <td class="right-aligned">
                                    <strong>@Model.SistemMutabakatTarihi.ToDateString()</strong>
                                </td>
                            </tr>
                        }
                        else if (Model.FirmaMutabakatTarihi > Model.SistemMutabakatTarihi)
                        {
                            <tr>
                                <td>
                                    <span class="label label-success label-mutabakat">OK</span>
                                </td>
                                <td>Son Mutabakat Tarihi:</td>
                                <td class="right-aligned">
                                    <strong>@Model.SistemMutabakatTarihi.ToDateString()</strong>
                                </td>
                            </tr>
                        }
                        else
                        {
                            <tr>
                                <td></td>
                                <td>
                                    <span class="label label-important label-mutabakat">
                                        MUTABAKAT İÇİN ONAYINIZ BEKLENİYOR
                                    </span>

                                </td>
                                <td class="right-aligned">
                                    <a href="@Url.Action("ReconsilationDetails")" class="btn btn-warning">Onay Ver</a>
                                </td>
                            </tr>
                            <tr>
                                <td></td>
                                <td>Son Mutabakat Tarihi:</td>
                                <td class="right-aligned">
                                    <strong></strong>
                                    @string.Format("{0:dd/MM/yyyy}", Model.FirmaMutabakatTarihi)
                                </td>
                            </tr>
                            <tr>
                                <td></td>
                                <td>Onay Bekleyen Tarih:</td>
                                <td class="right-aligned">
                                    <strong>@Model.SistemMutabakatTarihi.ToDateString()</strong>
                                </td>
                            </tr>
                        }

                    }
                    else
                    {
                        <tr>
                            <td></td>
                            <td>
                                <span class="label label-important label-mutabakat">
                                    MUTABAKAT İÇİN ONAYINIZ BEKLENİYOR
                                </span>

                            </td>
                            <td class="right-aligned">
                                <a href="@Url.Action("ReconsilationDetails")" class="btn btn-warning">Onay Ver</a>
                            </td>
                        </tr>
                        <tr>
                            <td></td>
                            <td>Son Mutabakat Tarihi:</td>
                            <td class="right-aligned">
                                <strong></strong>
                            </td>
                        </tr>
                        <tr>
                            <td></td>
                            <td>Onay Bekleyen Tarih:</td>
                            <td class="right-aligned">
                                <strong>@Model.SistemMutabakatTarihi.ToDateString()</strong>
                            </td>
                        </tr>
                    }

                </table>
            </div>
        </div>

      
        @if (Model.musterimi)
        {
            <hr />

            <div class="block block-float">
                <div class="block-header">
                    <h2>ÖDENMEMİŞ FATURALAR</h2>
                </div>

                <div class="block-content">

                    @if (Model.OdenmemisFaturalar.Any())
                {
                    <table class="table table-striped table-condensed">
                        <thead>
                            <tr>
                                <th></th>
                                <th>Evrak No</th>
                                <th>Fatura Tarihi</th>
                                <th>Vade Tarihi</th>
                                <th class="right-aligned">Kalan Tutar</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var fatura in Model.OdenmemisFaturalar)
                                {
                                <tr>
                                    <td>
                                        <a href="@Url.Action("InvoiceDetail", "Accounting", new { id = fatura.Id })" class="btn btn-info btn-mini">
                                            <i class="icon-search icon-white"></i>
                                        </a>
                                    </td>
                                    <td>@fatura.EvrakNo</td>
                                    <td>@fatura.FaturaTarihi.ToShortDateString()</td>
                                    <td>@fatura.VadeTarihi.ToShortDateString()</td>
                                    <td class="right-aligned">@fatura.KalanTutar.ToMoneyFormat()</td>
                                </tr>
                                }
                        </tbody>
                    </table>
                    }
                    else
                    {
                    <em>Ödenmemiş Fatura Bulunmamaktadır.</em>
                    }
                </div>
            </div>
        }
    </div>

    <div class="span4">
        <div class="block block-float">
            <div class="block-header">
                <h2>BAKİYE BİLGİLERİ</h2>
            </div>

            <div class="block-content">
                <table class="table table-striped">
                    <tr>
                        <td>Borç</td>
                        <td class="right-aligned">@Model.Borc.ToMoneyFormat()</td>
                    </tr>
                    <tr>
                        <td>Alacak</td>
                        <td class="right-aligned"> @Model.Alacak.ToMoneyFormat()</td>
                    </tr>
                    <tr>
                        <td>Bakiye</td>
                        @if (Model.BakiyeBakiyeLimitindenBuyukmu == 1)
                        {
                        <td class="right-aligned" style="color:red">@Model.Bakiye.ToMoneyFormat(true)</td>
                        }
                        else
                        {
                        <td class="right-aligned">@Model.Bakiye.ToMoneyFormat(true)</td>
                        }
                    </tr>
                </table>
            </div>
        </div>

        <hr />

        <div class="block block-float">
            <div class="block-header">
                <h2>BANKA HESAP BİLGİLERİ</h2>
            </div>

            <div class="block-content">
                @if (Model.BankaHesapBilgileri.Any())
                {
                <table class="table table-striped">
                    @foreach (var bankaHesapBilgisi in Model.BankaHesapBilgileri)
                        {
                        <tr>
                            <td>
                                @bankaHesapBilgisi.Banka - @bankaHesapBilgisi.Sube <br />
                                @bankaHesapBilgisi.HesapNo
                            </td>
                        </tr>
                        }
                </table>
                }
                else
                {
                <em>Kayıtlı Banka Hesap Bilgisi Bulunmamaktadır.</em>
                }
            </div>
        </div>

        

        @if (Model.musterimi)
        {
            <hr />

            <div class="block block-float">
                <div class="block-header">
                    <h2>BEKLEYEN ÇEKLER</h2>
                </div>

                <div class="block-content">
                    @if (Model.OdenmemisCekler.Any())
                {

                <table class="table table-striped table-condensed" style="font-size:13px">
                    <thead>
                        <tr>
                            <th>Tip</th>
                            <th>Evrak No</th>
                            <th>Tarih</th>
                            <th>Vade Tarihi</th>
                            <th class="right-aligned">Kalan Tutar</th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model.OdenmemisCeklerBakiyedenBuyukmu == 1)
                            {
                                foreach (var cek in Model.OdenmemisCekler)
                                {
                            <tr>
                                <td style="color:red">@cek.EvrakTipi</td>
                                <td style="color:red">@cek.EvrakNo</td>
                                <td style="color:red">@cek.Tarih.ToShortDateString()</td>
                                <td style="color:red">@cek.VadeTarihi.ToShortDateString()</td>
                                <td class="right-aligned" style="color:red">@cek.KalanTutar.ToMoneyFormat()</td>
                            </tr>
                                }
                            }
                            else
                            {
                                foreach (var cek in Model.OdenmemisCekler)
                                {
                            <tr>
                                <td>@cek.EvrakTipi</td>
                                <td>@cek.EvrakNo</td>
                                <td>@cek.Tarih.ToShortDateString()</td>
                                <td>@cek.VadeTarihi.ToShortDateString()</td>
                                <td class="right-aligned">@cek.KalanTutar.ToMoneyFormat()</td>
                            </tr>
                                }
                            }

                    </tbody>
                    <thead>
                        <tr>
                            <th colspan="5" class="right-aligned">Toplam Tutar</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            @if (Model.OdenmemisCeklerBakiyedenBuyukmu == 1)
                                {
                                <td colspan="5" class="right-aligned" style="color:red">@Model.OdenmemisCekler.Sum(x => x.KalanTutar).ToMoneyFormat()</td>
                                }
                                else
                                {
                                <td colspan="5" class="right-aligned">@Model.OdenmemisCekler.Sum(x => x.KalanTutar).ToMoneyFormat()</td>
                                }
                        </tr>
                    </tbody>
                </table>

                }
                else
                {
                <em>Ödenmemiş Çek Bulunmamaktadır.</em>
                }
                </div>
            </div>
        }

    </div>
</div>
