﻿@using DerinSIS.B2B.ViewModels
@model InvoiceDetailModel
@{
    ViewBag.Title = "Fatura #" + Model.EvrakNo;
    ViewBag.SubTitle = "Fatura Detayı";
    var dataController = Model.ControllerName;
}


@*
    EVRAK DURUM BİLGİSİ 
    ---------------------------------------------------------------------
*@
@if (Model.Durum == InvoiceDetailModel.InvoiceStatus.IPTAL)
{
    <div class="alert alert-error">
        <strong>İPTAL!</strong> Bu fatura iptal edilmiştir.
    </div>
}

<div class="tabbable">
    <ul class="nav nav-tabs">
        <li class="active"><a href="#doc-summary" data-toggle="tab">Genel Bilgiler</a></li>
        <li><a href="#doc-events" data-toggle="tab">Evrak Hareketleri</a></li>
        <li><a href="#doc-address" data-toggle="tab">Sevk Adresi</a></li>
        <li><a href="#related-docs" data-toggle="tab">İlgili Evraklar</a></li>
    </ul>
    <div class="tab-content">
        <div class="tab-pane fade active in" id="doc-summary">
            <div class="row">
                <div class="span3">
                    
                    <table class="table table-striped table-bordered">
                        <tr>
                            <th width="95">Evrak No</th>
                            <td>@Model.EvrakNo</td>
                        </tr>
                        <tr>
                            <th>İşlem Tarihi</th>
                            <td>@Model.Tarih.ToShortDateString()</td>
                        </tr>
                        <tr>
                            <th>Vade Tarihi</th>
                            <td>@Model.VadeTarihi.ToShortDateString()</td>
                        </tr>
                        <tr>
                            <th>Sevk Tarihi</th>
                            <td>@Model.SevkTarihi.ToShortDateString()</td>
                        </tr>
                        <tr>
                            <th>Hareket Tipi</th>
                            <td>@Model.HareketTipi</td>
                        </tr>
                        <tr>
                            <th>Hareket Grubu</th>
                            <td>@Model.HareketGrubu</td>
                        </tr>
                        <tr>
                            <th>Sevk Adresi</th>            
                            <td>@Model.SevkAdresiAd</td>
                        </tr>
                        <tr>
                            <th>Evrak Notları</th>
                            <td>
                                @Model.Evrak3SatirNot.SafeSubString(0, 30)<br />
                                @Model.Evrak3SatirNot.SafeSubString(30, 30)<br />
                                @Model.Evrak3SatirNot.SafeSubString(60, 30)
                            </td>
                        </tr>
                        
                    </table>
                </div>
                
                <div class="span3">
                    <div class="well">
                        <table class="table table-borderless">
                            <tr>
                                <th>Satır Sayısı</th>
                                <td class="right-aligned">@Model.EvrakHareketleri.Count()</td>
                            </tr>
                            <tr>
                                <th>Toplam Ürün Çeşidi</th>
                                <td class="right-aligned">@Model.EvrakHareketleri.GroupBy(x => x.UrunId).Count()</td>
                            </tr>
                            <tr>
                                <th>Toplam Palet Adedi</th>
                                <td class="right-aligned">@Model.EvrakHareketleri.Sum(x => x.PaletAdet).ToQuantityFormat()</td>
                            </tr>
                            <tr>
                                <th>Toplam Koli Adedi</th>
                                <td class="right-aligned">@Model.EvrakHareketleri.Sum(x => x.KoliAdet).ToQuantityFormat()</td>
                            </tr>
                            <tr>
                                <th>Toplam Ürün Adedi</th>
                                <td class="right-aligned">@Model.EvrakHareketleri.Sum(x => x.ToplamAdet).ToQuantityFormat()</td>
                            </tr>
                        </table>    
                    </div>
                </div>

                <div class="span3">
                    <div class="well">
                        @{
                            var kdvHaricToplam = Model.EvrakHareketleri.Sum(x => x.KDVHaricToplam);
                            var toplamIndirim = Model.EvrakHareketleri.Sum(x => x.IndirimTutari);
                            var toplam = kdvHaricToplam - toplamIndirim;
                        }
                        <table class="table table-borderless">
                            <tr>
                                <th>Brüt Toplam</th>
                                <td class="right-aligned">@kdvHaricToplam.ToMoneyFormat().Replace(".", "").Replace(",", ".") TL</td>
                            </tr>
                            <tr>
                                <th>İndirim</th>
                                <td class="right-aligned">@toplamIndirim.ToMoneyFormat().Replace(".", "").Replace(",", ".") TL</td>
                            </tr>
                            <tr>
                                <th>Matrah</th>
                                <td class="right-aligned" style="color: maroon;  font-size: 14px;">@toplam.ToMoneyFormat().Replace(".", "").Replace(",", ".") TL</td>
                            </tr>
                            <tr>
                                <th>KDV</th>
                                <td class="right-aligned">@Model.EvrakHareketleri.Sum(x => x.KDVTutar).ToMoneyFormat().Replace(".", "").Replace(",", ".") TL</td>
                            </tr>
                            <tr>
                                <th>KDV Dahil</th>
                                <td class="right-aligned" style="color: maroon; font-weight: bold; font-size: 16px;">@Model.EvrakHareketleri.Sum(x => x.KDVDahilTutar).ToMoneyFormat().Replace(".", "").Replace(",", ".") TL</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <div class="tab-pane fade" id="doc-events">
            <table id="doc-details" class="table table-bordered table-striped table-condensed">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Ürün Kodu</th>
                        <th>Barkod</th>
                        <th>Ürün</th>    
                        <th class="right-aligned">Koli Adet</th>    
                        <th class="right-aligned">Koli İçi Adet</th>
                        <th class="right-aligned">Toplam Adet</th>    
                        <th class="right-aligned">Birim Fiyat</th>    
                        <th class="right-aligned">KDV Hariç</th>
                        <th class="right-aligned">İndirim Tutarı</th>
                        <th class="right-aligned">KDV Hariç Net</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var hareket in Model.EvrakHareketleri)
                    {
                        <tr>
                            <th>@hareket.Sira</th>
                            <td>@hareket.UrunKod</td>
                            <td>@hareket.UrunBarkod</td>
                            <td>
                                <a href="@Url.Action("ProductDetail",dataController, new { id = hareket.UrunId })">
                                    @hareket.UrunIsmi    
                                </a>
                            </td>
                            <td class="right-aligned">@hareket.KoliAdet.ToQuantityFormat()</td>
                            <td class="right-aligned">@hareket.KoliIciAdet.ToQuantityFormat()</td>
                            <td class="right-aligned">@hareket.ToplamAdet.ToQuantityFormat()</td>
                            <td class="right-aligned">@hareket.BirimFiyat.ToMoneyFormat().Replace(".", "").Replace(",", ".")</td>
                            <td class="right-aligned">@hareket.KDVHaricToplam.ToMoneyFormat().Replace(".", "").Replace(",", ".")</td>
                            <td class="right-aligned">
                                @if (hareket.IndirimTutari == 0)
                                {
                                    @:--
                                }
                                else
                                {
                                    var indirimler = new[] { hareket.Indirim1, hareket.Indirim2, hareket.Indirim3, hareket.Indirim4, hareket.Indirim5 };
                                    
                                    @hareket.IndirimTutari.ToMoneyFormat().Replace(".", "").Replace(",", ".")<br/>
                                    
                                    if(hareket.KDVHaricNet == 0)
                                    {
                                        // Bedelsiz Ürün
                                        <span class="label label-important">
                                            Bedelsiz Ürün
                                        </span>
                                    }
                                    else if (indirimler.Any(x => x != 0))
                                    {
                                        // İndirimler
                                        <span class="label label-info">
                                            @string.Join(" + ", indirimler.Where(x => x != 0).Select(x => (int)x + "%"))
                                        </span>
                                    }
                                }
                            </td>
                            <td class="right-aligned">@hareket.KDVHaricNet.ToMoneyFormat().Replace(".", "").Replace(",", ".")</td>
                        </tr>
                    }
                </tbody>
            </table>
            <table>
                <a href="@Url.Action("InvoiceDetailExportClientsListToExcel", "Accounting",new { fatIdsi = Model.Id })">
                    <img width="32" height="32" align="right" src="/Assets/theme/img/Excel-icon.png" id="excel" alt="Export to Excel" title="Export to Excel" />
                </a>
            </table>
        </div>
        
        <div class="tab-pane fade" id="doc-address">
            <table class="table table-striped table-bordered">
                <tr>
                    <th>İsim</th>
                    <td>@(string.IsNullOrWhiteSpace(Model.SevkAdresiAd) ? "--" : Model.SevkAdresiAd)</td>
                </tr>
                <tr>
                    <th width="100">Adres</th>
                    <td>@(string.IsNullOrWhiteSpace(Model.SevkAdresi1) ? "--" : Model.SevkAdresi1)</td>
                </tr>
                <tr>
                    <th></th>
                    <td>@(string.IsNullOrWhiteSpace(Model.SevkAdresi2) ? "--" : Model.SevkAdresi2)</td>
                </tr>
                <tr>
                    <th>Posta Kodu</th>
                    <td>@(string.IsNullOrWhiteSpace(Model.SevkAdresiPostaKodu) ? "--" : Model.SevkAdresiPostaKodu)</td>
                </tr>
                <tr>
                    <th>İlçe</th>
                    <td>@(string.IsNullOrWhiteSpace(Model.SevkAdresiIlce) ? "--" : Model.SevkAdresiIlce)</td>
                </tr>
                <tr>
                    <th>İl</th>
                    <td>@(string.IsNullOrWhiteSpace(Model.SevkAdresiIl) ? "--" : Model.SevkAdresiIl)</td>
                </tr>
                <tr>
                    <th>Tel</th>
                    <td>@(string.IsNullOrWhiteSpace(Model.SevkAdresiTel) ? "--" : Model.SevkAdresiTel)</td>
                </tr>
                <tr>
                    <th>Faks</th>
                    <td>@(string.IsNullOrWhiteSpace(Model.SevkAdresiFaks) ? "--" : Model.SevkAdresiFaks)</td>
                </tr>
            </table>
        </div>
        
        <div class="tab-pane fade" id="related-docs">
            <div class="row-fluid">
                <div class="span6">
                    <div class="well">
                        <h3>İlgili Siparişler</h3>
                    
                        @if (Model.IlgiliSiparisler.Any())
                        {
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th></th>
                                        <th>Sipariş ID</th>
                                        <th>Sipariş No</th>
                                        <th>Tarih</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var siparis in Model.IlgiliSiparisler)
                                    {
                                        <tr>
                                            <td>
                                                <a class="btn btn-info" href="@Url.Action("OrderDetail", "Sales", new { id = siparis.Id })">
                                                    <i class="icon-search icon-white"></i>
                                                </a> 
                                            </td>
                                            <th>@siparis.Id</th>
                                            <td>@siparis.EvrakNo</td>
                                            <td>@siparis.Tarih.ToShortDateString()</td>
                                        </tr>
                                    }
                                </tbody>
                            </table>    
                        }
                        else
                        {
                            <p></p>
                            <div class="alert alert-error">
                                <strong>Bu fatura ile ilişkili sipariş bulunmamaktadır.</strong>
                            </div>
                        }
                        
                    </div>
                    
                </div>
                
                <div class="span6">
                    <div class="well">
                        <h3>İlgili İrsaliyeler</h3>
                    
                        @if (Model.IlgiliIrsaliyeler.Any())
                        {
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th></th>
                                        <th>İrsaliye ID</th>
                                        <th>İrsaliye No</th>
                                        <th>Tarih</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var irsaliye in Model.IlgiliIrsaliyeler)
                                    {
                                        <tr>
                                            <td>
                                                <a class="btn btn-info" href="@Url.Action("DeliveryDetail", "Sales", new { id = irsaliye.Id })">
                                                    <i class="icon-search icon-white"></i>
                                                </a> 
                                            </td>
                                            <th>@irsaliye.Id</th>
                                            <td>@irsaliye.EvrakNo</td>
                                            <td>@irsaliye.Tarih.ToShortDateString()</td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        }
                        else
                        {
                            <p></p>
                            <div class="alert alert-error">
                                <strong>Bu fatura ile ilişkili irsaliye bulunmamaktadır.</strong>
                            </div>
                        }
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</div>


@section javascripts
{
    <script type="text/javascript">
        function setColumnVisibility(iCol, bVis) {
            var oTable = $('#doc-details').dataTable();
            oTable.fnSetColumnVis(iCol, bVis);
        }
        
        function showHideDetailColumns(show) {
          
            setColumnVisibility(1, show);
            setColumnVisibility(4, show);
            setColumnVisibility(5, show);
            
            if(show) {
                // highlight displayed columns
                $('#doc-details tbody tr').find("td:eq(0),td:eq(2),td:eq(3)").stop().css('background-color', 'inherit').effect("highlight", {}, 2000);
                $('#doc-details thead tr').find("th:eq(1),th:eq(3),th:eq(4)").stop().css('background-color', 'inherit').effect("highlight", {}, 2000);
            }
        }

        $(document).ready(function () {
            $('#doc-details').dataTable({
                "sDom": "<'row'<'span4 table-mode'><'span5'f>r>t<'row'<'span5'i><'span4'p>>",
                "sPaginationType": "bootstrap",
                "bPaginate": false,

                "oLanguage": {
                    "sLengthMenu": "Sayfada _MENU_ kayıt göster",
                    "sZeroRecords": "Kayıt Bulunamadı",
                    "sInfo": "_START_ - _END_ gösteriliyor / Toplam _TOTAL_ kayıt",
                    "sInfoEmpty": "0 - 0 / 0 kayıt",
                    "sInfoFiltered": "(_MAX_ kayıt içerisinden filtrelenmiştir)",
                    "sSearch": "Ara"
                }
            });

            $('.table-mode').html('Görünüm: <a href="#" data-table-mode="normal" class="table-mode-option active" data-title="Normal Görünüm" data-content="Normal Görünüm seçeneğinde Barkod ve koli ayrıntıları gizlenmiştir.">Normal</a> | <a href="#" class="table-mode-option" data-table-mode="detailed" data-title="Ayrıntılı Görünüm" data-content="Ayrıntılı Görünüm Seçeneğinde, Normal görünümü ek olarak barkod ve koli bilgileri gösterilmiştir.">Ayrıntılı</a>');
            $('a[data-table-mode]')
                /*.popover({
                    placement: 'top',
                    delay: { show: 500, hide: 100 }
                })*/
                .live('click', function () {
                var t = $(this);
                
                var showDetailColumns = t.data('table-mode') === "detailed";
                showHideDetailColumns(showDetailColumns);

                $('.table-mode a').removeClass('active');
                t.addClass('active');
            });

            // initially hide detail columns
            showHideDetailColumns(false);
            $('#doc-details').css('width', '100%');
        });
    </script>
}
