﻿@using DerinSIS.B2B.ViewModels
@model InvoicesModel
@{
    ViewBag.Title = "Faturalar";
    ViewBag.SubTitle = "Muhasebe";
}


<form method="GET">
    <input type="hidden" name="productFilter" value="@Model.ProductFilterId" />

    @if (Model.ProductFilterId.HasValue)
    {
        <div class="alert alert-info">
            <button type="button" class="a btn btn-danger btn-small remove-product-filter"><i class="icon-remove icon-white"></i></button>
            <span class="label label-important">ÜRÜN FİLTRESİ</span>
            <strong>@Model.ProductFilterLabel</strong>
        </div>

        <script type="text/javascript">
            $(document).ready(function () {
                $('.remove-product-filter').click(function () {
                    var t = $(this);

                    // remove value from input productFilter
                    $('input[name=productFilter]').val('');

                    // submit form
                    t.closest('form').submit();
                });
            });
        </script>
    }

    @{ Html.RenderPartial("DocumentDateFilter", Model.DateFilter); }
    @{ Html.RenderPartial("DocumentTypeFilter", Model); }

    <!-- modal placeholder-->
    <div id='myModaleArsiv' class='modal hide fade in'>
        <div id='myModalPrint' class="modal-dialog">
            <div id='myModalContent' class="faturaEarsiv">
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" id="Print" class="btn btn-primary" style="margin-top: 20px; margin-right: 25px">Yazdır</button>
        </div>
    </div>
</form>


@if (Model.Invoices.Any())
{
    <table class="table table-striped">
        <thead>
            <tr>
                <th></th>
                <th></th>
                <th>Tarih</th>
                <th>Evrak No</th>
                <th>Hareket Tipi</th>
                <th>Vade Tarihi</th>

                @if (Model.GosterimSecenekleri.EvrakNotuGosterilsinMi)
                {
                    <th>Evrak Notları</th>
                }

                <th class="right-aligned">KDV Hariç</th>
                <th class="right-aligned">Toplam İndirim</th>
                <th class="right-aligned">KDV Hariç Net</th>
                <th>Hareket Grubu</th>
                <th>Sevk Adresi</th>
                <th>Fat. E-Arşiv ID</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var invoice in Model.Invoices)
            {
                <tr>
                    <td>
                        <a href="@Url.Action("InvoiceDetail", new { id = invoice.Id })" class="visitedBtn" data-toggle="button">
                            <i class="icon-search icon-white"></i>
                        </a>
                    </td>


                    <td>
                        @if (invoice.Durum == InvoicesModel.InvoiceStatus.IPTAL)
                        {
                            <span class='label label-important'>İPTAL</span>
                        }
                    </td>
                    <th>@invoice.Tarih.ToShortDateString()</th>
                    <td>@invoice.EvrakNo</td>
                    <td>@invoice.HareketTipi</td>
                    <td>@invoice.VadeTarihi.ToShortDateString()</td>

                    @if (Model.GosterimSecenekleri.EvrakNotuGosterilsinMi)
                    {
                        <td>@invoice.EvrakNot</td>
                    }

                    <td class="right-aligned no-wrap">@invoice.KDVHaricToplam.ToMoneyFormat().Replace(".", "").Replace(",", ".")</td>
                    <td class="right-aligned no-wrap">@invoice.ToplamIndirim.ToMoneyFormat().Replace(".", "").Replace(",", ".")</td>
                    <td class="right-aligned no-wrap">@invoice.KDVHaricNet.ToMoneyFormat().Replace(".", "").Replace(",", ".")</td>
                    <td>@invoice.HareketGrubu</td>
                    <td>@invoice.SevkAdresi</td>
                    @if (invoice.fatArsivID == 0)
                    {
                        <td></td>
                    }
                    else
                    {
                        <td>
                            @*@Html.ActionLink("5", "InvoiceEArsivDetail", "Accounting", new { id = invoice.fatArsivID }, new { data_modal = "" })*@
                            <a id="eArsivDetail" data-id="@invoice.fatArsivID">
                                @invoice.fatArsivID
                            </a>
                        </td>
                    }


                </tr>
            }
        </tbody>
    </table>

}
else
{
    <div class="alert alert-error">
        <h4 class="alert-heading">Kayıt Bulunamadı!</h4>
        Aradığınız tarihler için fatura kaydı bulunamadı.
        Lütfen arama başlangıç ve bitiş tarihlerini değiştirip tekrar deneyin.
    </div>
}

@section javascripts
{
    <script type="text/javascript">
        $(document).ready(function () {

            var mergeTaskMoldal = $('#myModaleArsiv');
            mergeTaskMoldal.modal('hide');
            $('#eArsivDetail').live('click', function () {

                mergeTaskMoldal.modal('show');
                var IDsi = $(this).attr("data-id");
                if (IDsi != null) {
                    $.ajax({
                        type: 'GET',
                        url: '@Url.Action("InvoiceEArsivDetail", "Accounting")',
                        data: { id: IDsi },
                        success: function (result) {
                            $('#myModalContent').html(result[0]);
                            if (result[1] == "") {
                                document.getElementById('Print').style.visibility = 'hidden';
                            }
                            else {
                                document.getElementById('Print').style.visibility = 'visible';
                            }
                        }
                    });
                }
            });


            document.getElementById("Print").onclick = function () {
                var printContent = document.getElementById('myModalPrint');

                var windowUrl = 'about:blank';
                var uniqueName = new Date();
                var windowName = 'Print' + uniqueName.getTime();
                var printWindow = window.open(windowUrl, windowName, '');

                printWindow.document.write(printContent.innerHTML);

                printWindow.document.close();
                printWindow.focus();
                printWindow.print();
                printWindow.close();

            };



        });



    </script>
}
