﻿@model DerinSIS.B2B.ViewModels.ReconsilationModel
@{
    ViewBag.Title = "Mutabakat";
    ViewBag.SubTitle = "Muhasebe";
}

<div class="row">
    <div class="span9">

        <table class="table">
            <thead>
            <th></th>
            <th>Başlangıç</th>
            <th>Bitiş</th>
            <th>Alış Adet</th>
            <th>Alış Tutar</th>
            <th>Satış Adet</th>
            <th>Satış Tutar</th>
            <th>Bakiye</th>
            </thead>
            <tbody>
                @if (Model.UnConfirmedReconsilations.BillAmount != 0)
                {
                    <tr>
                        <td>
                            <a href="@Url.Action("ReconsilationDetails", new { id = Model.UnConfirmedReconsilations.ReconsilationId})" class="btn btn-warning"><i class="icon-edit icon-white"></i></a>
                        </td>
                        <td style="padding-left: 20px;">
                            -
                        </td>
                        <td style="padding-left: 20px;">
                            -
                        </td>
                        <td style="padding-left: 10px;">
                            @Model.UnConfirmedReconsilations.BillAmount
                        </td>
                        <td>
                            @Model.UnConfirmedReconsilations.TotalAmount
                        </td>
                        <td style="padding-left: 10px;">
                            @Model.UnConfirmedReconsilations.SellBillAmount
                        </td>
                        <td>
                            @Model.UnConfirmedReconsilations.SellTotalAmount
                        </td>
                        <td>
                            @Model.UnConfirmedReconsilations.Balance
                        </td>
                    </tr>
                }

                @foreach (var item in Model.Reconsilations)
                {
                    <tr>
                        <td>
                            <a href="@Url.Action("ReconsilationDetails", new { id = item.ReconsilationId })" class="btn btn-success"><i class="icon-edit icon-white"></i></a>
                        </td>
                        <td>
                            @item.StartDate.ToShortDateString()
                        </td>
                        <td>
                            @item.EndDate.ToShortDateString()
                        </td>
                        <td style="padding-left: 10px;">
                            @item.BillAmount
                        </td>
                        <td>
                            @item.TotalAmount
                        </td>
                        <td style="padding-left: 10px;">
                            @item.SellBillAmount
                        </td>
                        <td>
                            @item.SellTotalAmount
                        </td>
                        <td>
                            @item.Balance
                        </td>
                    </tr>
                }
            </tbody>

        </table>
    </div>

</div>


