﻿@using DerinSIS.B2B.ViewModels
@model CurrentAccountExtractModel
@{
    ViewBag.Title = "Sat-Öde Ekstre Raporu";
}


<form method="GET" class="pager-form">
    @{ Html.RenderPartial("DocumentDateFilter", Model.DateFilter); }
    <div class="clearfix">
        @if (Model.CurrentAccountExtracts.Any())
        {
            if (Model.mesaj != "")
            {
            <div class="alert alert-error">
               @Model.mesaj
            </div>
            }

            <div id="product-list-summary" class="well">
                <div class="clearfix">
                    <div style="float: left; width: 80%; line-height: 30px;">
                        @{ var topSay = Model.CurrentAccountExtracts.FirstOrDefault().topSay;
                            var topPages = Model.CurrentAccountExtracts.FirstOrDefault().topSay / Model.PageLength;
                            var topKalan = Model.CurrentAccountExtracts.FirstOrDefault().topSay % Model.PageLength;
                            if (topKalan > 0)
                            {
                                topPages = topPages + 1;
                            }
                        }
                        @if (Model.Page == 1)
                        {
                        <em>Toplam @topSay sonuç bulundu</em>
                        }
                        else
                        {
                        <em>Sayfa @Model.Page / @topPages sonuç</em>
                        }
                    </div>
                    <div>
                        <a href="javascript:myFunction()">
                            <img width="32" height="32" align="right" src="/Assets/theme/img/Excel-icon.png" id="excel" alt="Export to Excel" title="Export to Excel" />
                        </a>
                    </div>
                </div>
            </div>
            

            <div class="table-responsive">
                <table id="MyProductTable" class="table table-striped">
                    <thead>
                        <tr>
                            <th>Tarih</th>
                            <th>Vade Tarihi</th>
                            <th>Belge No</th>                           
                            <th style="text-align:right">Borç</th>
                            <th style="text-align:right">Alacak</th>
                            <th>Açıklama</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var product in Model.CurrentAccountExtracts)
                {
                        <tr>
                            <td>@product.cTarih.ToString("dd.MM.yyyy")</td>
                            <td>@product.cTarihVade.ToString("dd.MM.yyyy")</td>
                            <td>@product.cEvrakNo</td>
                            <td class="right-aligned no-wrap">@product.BORC.ToMoneyFormat(true)</td>
                            <td class="right-aligned no-wrap">@product.ALACAK.ToMoneyFormat(true)</td>
                            <td>@product.ctfAd</td>
                        </tr>
                    }
                        @if (Model.topBORC != 0 || Model.topALACAK != 0)
                        {
                            <tr>
                                <td> </td>
                                <td> </td>
                                <td> </td>
                                <td style="font-weight:bold;text-align:right">Toplam Borç</td>
                                <td style="font-weight:bold;text-align:right">Toplam Alacak</td>
                                <td style="font-weight:bold"></td>
                            </tr>
                            <tr>
                                <td> </td>
                                <td> </td>
                                <td> </td>
                                <td class="right-aligned no-wrap">@Model.topBORC.ToMoneyFormat(true)</td>
                                <td class="right-aligned no-wrap">@Model.topALACAK.ToMoneyFormat(true)</td>
                                <td class="right-aligned no-wrap"></td>
                                @*<td class="right-aligned no-wrap">@Model.bakiye.ToMoneyFormat(true)</td>*@

                            </tr>
                        }
                    </tbody>
                </table>
            </div>

            <input type="hidden" name="page" id="page" value="@Model.Page" />
            Html.RenderPartial("Pager", Model.CurrentAccountExtracts);
        }
        else
        {
            <div class="alert alert-error">
            <h4 class="alert-heading">Kayıt Bulunamadı!</h4>
            Aradığınız tarihler için cari hesap ekstresi bulunamadı.
            Lütfen arama koşullarını değiştirip tekrar deneyin.
            </div>
        }
    </div>

</form>

<script type="text/javascript">
    function myFunction() {

        var dateString = $('#dateFilter').val().split("-");
        var beginDateString = dateString[0];
        var endDateString = dateString[1];
        if (!endDateString) {
            endDateString = beginDateString;
        }


        window.location.href = '@Url.Action("SellAndPayExtractReportExport", "Accounting")' + '?ilkTar=' + beginDateString + '&sonTar=' + endDateString;
    }


</script>
