﻿
<div class="well">
    @if (ViewBag.CompanyCode != "")
    {
        <strong>@ViewBag.CompanyCode</strong>
        <br />
    }
    <strong>@ViewBag.CompanyName</strong>
    @if (ViewBag.Efatura > 0)
    {
        <br />
        <p class="label label-info">E fatura (@(ViewBag.Efatura == 1 ? "Temel" : "Ticari"))</p>
    }
    <hr />
    <p>
        @ViewBag.ContactName
        <br />
        @ViewBag.ContactEmail
    </p>

</div>