﻿@using DerinSIS.B2B.ViewModels;
@model LogOnModel
@{
    ViewBag.Title = "Tekzen - Giriş";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<style type="text/css">
    body {
        background: url(../Assets/theme/timg/login-bg.jpg) no-repeat center center;
        background-size: cover;
        font-family: 'Bree';
        color: #4d4d4d;
        line-height: 1.42857143;
    }
</style>





<div class="container loginScreen">
    <div class="row">
        <div class="span4 main text-center">
            <div class="logo"></div>
            <h1>B2B</h1>
            <form class="form-horizontal text-center" method="POST" action="">
                @{ Html.RenderPartial("FlashMessages"); }
                @{
                    string ksHidden = "";
                    string msHidden = "hidden";
                    string errorHidden = "";
                    if (Model != null)
                    {
                        if (Model.ytkSay > 1)
                        {
                            msHidden = "";
                            ksHidden = "hidden";
                        }
                        if (Model.errorClass != "")
                        {
                            errorHidden = Model.errorClass;
                        }
                    }
                }
                <input type="hidden" name="sifre_degistir_input" value="false" />
                <div class="control-group textBox @errorHidden @ksHidden">
                    <i class="user-icon"></i>
                    <input type="text" id="Email" name="Email" placeholder="E-mail" required />
                    <span class="help-inline">
                        @Html.ValidationMessageFor(x => x.Email)
                    </span>
                </div>
                <div id="password-input" class="control-group textBox @errorHidden @ksHidden">
                    <i class="password-icon"></i>
                    <input type="password" id="Password" name="Password" placeholder="Şifre"  />
                    <span class="help-inline">
                        @Html.ValidationMessageFor(x => x.Password)
                    </span>
                </div>
                <div class="control-group @msHidden">
                    @Html.LabelFor(x => x.ytkFrm)
                    @Html.EditorFor(x => x.ytkFrm)
                </div>
                <div class="control-group">
                    <button type="submit" id="submit-button" class="btn">Giriş yap</button>
                </div>
                <a href="javascript:void(0)" id="sifre-degistir">Şifremi değiştirmek istiyorum</a>
            </form>
        </div>
        <div class="span7 main hidden-tablet hidden-phone">
            <ul class="login-exp">
                <li>7/24 on-line alışveriş/raporlama imkanı</li>
                <li>Finansal bilgilerin iş ortakları tarafından görüntülenip raporlanabilmesi</li>
                <li>E-mutabakat</li>
                <li>Ürün kataloğu</li>
                <li>Gerçek zamanlı stok</li>
                <li>Fiyat bilgisi</li>
                <li>Sipariş takip ve kontrol</li>
                <li>Satış analizleri</li>
                <li>İrsaliye-Fatura takip imkanı</li>

            </ul>
        </div>
    </div>

    <div class="row hidden-tablet hidden-phone">
        <div class="span11">
            <h2>Değerli İş Ortağımız,</h2>
            <p>Şirketinizin ihtiyaçlarını veya kişisel alımlarınızı, vadesi gelen alacaklarınız karşılığında bir tıkla<br />www.tekzen.com.tr' den satın alabilirsiniz. Nakit ödemeden 40.000' i aşkın ürün çeşidi adresinize teslim.</p>
            <p>Ayrıntılı bilgi ve siparişleriniz için Satın Alma Departmanındaki kategori asistanları ile irtibata geçebilirsiniz.</p>
        </div>
    </div>
    
</div>


<script type="text/javascript">
    $(window).load(function () {
        //if ($('#ytkSay').val() <= 1) {
        //    $('#ytkFrm').parent().hide();
        //}
        //else {
        //    $('#ytkFrm').parent().show();
        //}
    });
    $('#sifre-degistir').click(function () {
        let $password_input = $('#password-input');
        if ($password_input.hasClass('hidden')) {
            $password_input.removeClass('hidden');
            $('#submit-button').text('Giriş yap');
            $(this).text('Şifremi değiştirmek istiyorum');
            $('input[name="sifre_degistir_input"]').val(false);
        } else {
            $password_input.addClass('hidden');
            $('#submit-button').text('Şifre değişikliği isteği gönder');
            $(this).text('Giriş yap');
            $('input[name="sifre_degistir_input"]').val(true);
        }
   
    });
</script>


