﻿@using DerinSIS.B2B.ViewModels;
@model LogOnModel
@{
    ViewBag.Title = "Üye Girişi";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="centered-page-logo">
    <img src="@Url.Content("~/Assets/theme/img/logo.png")" />
</div>


<div class="block login">

    @if (ViewBag.logName != "")
    {
        <label style="text-align:center;margin-top:10px;font-weight:bold">@ViewBag.logName</label>
    }


    <div class="block-header">
        <h2>ÜYE GİRİŞİ</h2>
    </div>

    <div class="block-content">
        @{ Html.RenderPartial("FlashMessages"); }

        @{
            string ksHidden = "";
            string msHidden = "hidden";
            string errorHidden = "";
            if (Model != null)
            {
                if (Model.ytkSay > 1)
                {
                    msHidden = "";
                    ksHidden = "hidden";
                }
                if (Model.errorClass != "")
                {
                    errorHidden = Model.errorClass;
                }
            }
        }



        <form method="POST" action="">
            <fieldset>
                @*@Html.EditorForModel("ObjectWithoutErrors")*@
                <div class="control-group @errorHidden @ksHidden">
                    @Html.LabelFor(x => x.Email)
                    @Html.EditorFor(x => x.Email)
                    <span class="help-inline">
                        @Html.ValidationMessageFor(x => x.Email)
                    </span>
                </div>
                <div class="control-group @errorHidden @ksHidden">
                    @Html.LabelFor(x => x.Password)
                    @Html.EditorFor(x => x.Password)
                    <span class="help-inline">
                        @Html.ValidationMessageFor(x => x.Password)
                    </span>
                </div>
                <div class="control-group @msHidden">
                    @Html.LabelFor(x => x.ytkFrm)
                    @Html.EditorFor(x => x.ytkFrm)
                </div>
                <div class="actions">
                    <input type="submit" class="btn btn-large btn-info" data-loading-text="Yükleniyor..." value="Giriş" />

                    <label class="checkbox inline remember-me">
                        <input type="checkbox" value="false" />
                        Beni bu bilgisayarda hatırla
                    </label>
                </div>
            </fieldset>
        </form>
    </div>
</div>



<script type="text/javascript">
    $(window).load(function () {
        //if ($('#ytkSay').val() <= 1) {
        //    $('#ytkFrm').parent().hide();
        //}
        //else {
        //    $('#ytkFrm').parent().show();
        //}
    });
</script>



