﻿@model DerinSIS.B2B.ViewModels.ResetPasswordCompleteModel
@{
    ViewBag.Title = "Şifre Oluştur";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="centered-page-logo">
    <img src="@Url.Content("~/Assets/theme/img/logo.png")"/>
</div>


<div class="block login">
    <div class="block-header">
        <h2>ŞİFRE OLUŞTUR</h2>
    </div>
    
    <div class="block-content">
        @{ Html.RenderPartial("FlashMessages"); }

        <h6>Lütfen yeni şifrenizi girin</h6>

        <form method="POST" action="">
            <fieldset>
                @Html.EditorForModel("ObjectWithoutErrors")

                <div class="actions">
                    <input type="submit" class="btn btn-large btn-info" data-loading-text="Kaydediliyor..." value="Kaydet" />
                </div>
            </fieldset>
        </form>
    </div>
</div>
