﻿@model DateTime?
@{
}

<input type="text" readonly="readonly" class="readonly-date-select"
       id="@ViewData.ModelMetadata.PropertyName" 
       name="@ViewData.ModelMetadata.PropertyName" />
       
       
<script type="text/javascript">
    $(document).ready(function () {
        $('#@ViewData.ModelMetadata.PropertyName').datepicker();
    });
</script>