﻿@functions
{
    bool ShouldShow (ModelMetadata metadata)
    {
        return metadata.ShowForEdit
            && metadata.ModelType != typeof(System.Data.EntityState)
            && !metadata.IsComplexType
            && !ViewData.TemplateInfo.Visited(metadata);
    }
}

@if (ViewData.TemplateInfo.TemplateDepth > 1)
{
    if (Model == null)
    {
        @ViewData.ModelMetadata.NullDisplayText
    }
    else
    {
        @ViewData.ModelMetadata.SimpleDisplayText
    }
}
else
{
    ViewData.Clear();

    foreach (var prop in ViewData.ModelMetadata.Properties.Where(pm => ShouldShow(pm)))
    {
        var isValidField = ViewData.ModelState.IsValidField(prop.PropertyName);   
            
        <div class="control-group @(isValidField ? "" : "error")">
            @if (prop.HideSurroundingHtml)
            {
                @Html.Editor(prop.PropertyName)
            }
            else if (!string.IsNullOrEmpty(Html.Label(prop.PropertyName).ToHtmlString()))
            {
                @Html.Label(prop.PropertyName)
            }
            
            @Html.Editor(prop.PropertyName, new { @class="span6" }) 
                
            @if (!isValidField)
            {
                <span class="help-inline">@Html.ValidationMessage(prop.PropertyName)</span>
            }
            else
            {
                <span class="help-inline">@prop.Description</span>
            }

        </div>
    }
}