﻿@{
    Layout = "_Layout.cshtml";
}

@{ Html.RenderAction("MainMenu", "Home"); }
    
<div class="container">
            
    <div class="row">
        <div class="span3 sidebar">
        
            <div class="logo">
                <img src="@Url.Content("~/Assets/theme/img/logo.png")" />
            </div>

            @RenderSection("sidebar", required:false)
        
            @{ Html.RenderAction("CurrentCompanyInfo", "Account"); }
   
        </div>

        <div class="span9">
            <div class="page-header">
                <h1>
                    @ViewBag.Title
                    
                    @if (!string.IsNullOrWhiteSpace(ViewBag.SubTitle))
                    {
                        <small>@ViewBag.SubTitle</small>
                    }
                </h1>
              
            </div>
            
            @{ Html.RenderPartial("FlashMessages"); }

            @RenderBody()
        </div>
    </div>

            
    <footer class="footer">
        <p class="pull-right"><a href="#">Yukarı Git</a></p>
        <p>&copy; Derin Bilgi Sistemleri 2012</p>
    </footer>
</div>


@section javascripts
{
    @RenderSection("javascripts", required: false)
}