﻿@using DerinSIS.B2B.ViewModels
@model dynamic
           
@{
    var availableTypes = (ICollection<DocumentType>) Model.AvailableTypes;
}
<div class="well page-actions clearfix">
    <input type="hidden" name="typeFilterId" value="@Model.TypeFilterId" />
    
    <div class="btn-group document-type-select">
        @if (availableTypes.Any(x => x.Id == Model.TypeFilterId))
        {
            <a class="btn btn-warning dropdown-toggle" data-toggle="dropdown" href="#">
                @availableTypes.Single(x => x.Id == Model.TypeFilterId).Isim Evrakları
                <span class="caret"></span>
            </a>
        }
        else
        {
            <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
                Tüm Evrak Türleri
                <span class="caret"></span>
            </a>
        }
        
        <ul class="dropdown-menu">
            <li><a href="#" data-type-filter="">Tüm Evrak Türleri</a></li>
            <li class="divider"></li>
            @foreach(var availableType in availableTypes)
            {
                <li><a href="#" data-type-filter="@availableType.Id">@availableType.Isim Evrakları</a></li>
            }
        </ul>
    </div>

</div>


<script type="text/javascript">
    $(document).ready(function () {
        $('[data-type-filter]').click(function () {
            var t = $(this);
            var typeFilterId = parseInt(t.data('type-filter'));

            var typeFilterInput = $('input[name=typeFilterId]');
            typeFilterInput.val(typeFilterId);
            typeFilterInput.closest('form').submit();
        });
    });
</script>