﻿@using DerinSIS.B2B.Helpers
@model DerinSIS.B2B.ViewModels.DocumentDateFilterModel


<div class="well page-actions">
    <div class="row-fluid">
        <div class="date-filter-shortcuts span7 btn-group" data-toggle="buttons-radio">
            <button type="button" class="btn date-shortcut" data-toggle="button" data-begin="@DateHelper.ThisMonthBegin.ToShortDateString()" data-end="@DateTime.Today.ToShortDateString()">Bu Ay</button>
            <button type="button" class="btn date-shortcut" data-toggle="button" data-begin="@DateHelper.LastMonthBegin.ToShortDateString()" data-end="@DateHelper.LastMonthEnd.ToShortDateString()">Geçen Ay</button>
            <button type="button" class="btn date-shortcut" data-toggle="button" data-begin="@DateHelper.ThreeMonthsBack.ToShortDateString()" data-end="@DateTime.Today.ToShortDateString()">Son 3 Ay</button>
            <button type="button" class="btn date-shortcut" data-toggle="button" data-begin="@DateHelper.SixMonthsBack.ToShortDateString()" data-end="@DateTime.Today.ToShortDateString()">Son 6 Ay</button>
            <button type="button" class="btn date-shortcut" data-toggle="button" data-begin="@DateHelper.YearBegin.ToShortDateString()" data-end="@DateTime.Today.ToShortDateString()">Bu Yıl</button>
        </div>
        
        <div class="span5">
            <input type="text" id="dateFilter" value="@Html.DateRangeToString(Model.Begin.Value, Model.End.Value)" />
            <input type="hidden" name="dateFilter.Begin" value="@Model.Begin.Value.ToInvariantDateString()" />
            <input type="hidden" name="dateFilter.End" value="@Model.End.Value.ToInvariantDateString()" />
            <button type="submit" class="filter-refresh btn btn-info" data-loading-text="..."><i class="icon-refresh icon-white"></i></button>          
        </div>    
    </div>
</div>


<script type="text/javascript">
    $(document).ready(function () {

        function setDateRange(begin, end) {
            if (begin == end) {
                $('#dateFilter').val(begin);
            }
            else {
                $('#dateFilter').val(begin + " - " + end);
            }

            var beginParts = begin.match(/(\d+)/g);
            var endParts = end.match(/(\d+)/g);
            var invariantBegin = new Date(beginParts[2], beginParts[1] - 1, beginParts[0]);
            var invariantEnd = new Date(endParts[2], endParts[1] - 1, endParts[0]);
            $('input[name="dateFilter.Begin"]').val($.datepicker.formatDate('mm/dd/yy', invariantBegin));
            $('input[name="dateFilter.End"]').val($.datepicker.formatDate('mm/dd/yy', invariantEnd));
        }

        $('#dateFilter').daterangepicker({
            dateFormat: 'dd/mm/yy',
            rangeStartTitle: 'Başlangıç',
            rangeEndTitle: 'Bitiş',
            nextLinkText: 'İleri',
            prevLinkText: 'Geri',
            doneButtonText: 'Seç',
            presetRanges: [
                { text: 'Bugün', dateStart: 'today', dateEnd: 'today' },
                { text: 'Son 7 Gün', dateStart: 'today-7days', dateEnd: 'today' },
                { text: 'Bu Ay', dateStart: function () { return Date.parse('today').moveToFirstDayOfMonth(); }, dateEnd: 'today' },
                { text: 'Geçen Ay', dateStart: function () { return Date.parse('1 month ago').moveToFirstDayOfMonth(); }, dateEnd: function () { return Date.parse('1 month ago').moveToLastDayOfMonth(); } },
                {
                    text: 'Bu Yıl',
                    dateStart: function () {
                        var x = Date.parse('today');
                        x.setMonth(0);
                        x.setDate(1);
                        return x;
                    },
                    dateEnd: 'today'
                }
            ],
            presets: {
                specificDate: 'Sabit Tarih',
                allDatesBefore: 'Seçilen Tarihten Öncesi',
                allDatesAfter: 'Seçilen Tarihten Sonrası',
                dateRange: 'Tarih Aralığı'
            },
            onChange: function () {
                var dateString = $('#dateFilter').val().split(" - ");
                var beginDateString = dateString[0];

                var endDateString = dateString[1];
                if (!endDateString) {
                    endDateString = beginDateString;
                }
                setDateRange(beginDateString, endDateString);
            }
        });

        $('.date-shortcut').click(function () {
            var t = $(this);

            var filterBegin = t.data('begin');
            var filterEnd = t.data('end');

            setDateRange(filterBegin, filterEnd);

            $('#dateFilter').closest('form').submit();
        });
    });

    // Highlight selected buttons
    $('.date-shortcut').each(function () {
        var t = $(this);

        var currentBegin = '@Model.Begin.Value.ToDateString()';
        var currentEnd = '@Model.End.Value.ToDateString()';
        if (currentBegin === t.data('begin') && currentEnd === t.data('end')) {
            t.addClass('btn-info');
        }
    });
</script>