﻿@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Hata";
}

<div class="page-header">
    <h1>Hata (500)</h1>
</div>


<p>
    İşleminiz gerçekleştirilirken bilinmeyen bir hata meydana gelmiştir.
</p>