﻿@{
    var errorMessages = TempData["_error_messages"] as List<string> ?? new List<string>();
    var successMessages = TempData["_success_messages"] as List<string> ?? new List<string>();
}
                
<div class="flash-messages">
    @foreach (var msg in errorMessages)
    {
        <text>
            <div class="flash-message alert alert-error fade in" data-alert="alert">
                <a class="close" data-dismiss="alert" href="#">&times;</a>
                <h4 class="alert-heading">@msg</h4>
            </div>
        </text>
    }    
                    
    @foreach (var msg in successMessages)
    {
        <text>
            <div class="flash-message alert alert-success fade in" data-alert="alert">
                <a class="close" data-dismiss="alert" href="#">&times;</a>
                <h4 class="alert-heading">@msg</h4>
            </div>
        </text>
    }    
</div>   