﻿@model DerinSIS.B2B.Emails.ResetPasswordEmailModel

<html>
    <head></head>
    <body>
        <h4>Kullanıcı adı: @Model.KullaniciIsmi,</h4>
        <h4>Firma: @Model.FirmaAdi,</h4>
        <h4>Firma Kodu: @Model.FirmaKodu,</h4>
        <h4>Eposta: @Model.Eposta,</h4>

        <p>Şifre sıfırlama isteği.</p>
        
    </body>
</html>