﻿@{
    Layout = "~/Views/Shared/_ContentLayout.cshtml";
}


@section sidebar
{
    @{
        var _currentAction = Url.RequestContext.RouteData.GetRequiredString("action");
        string _currentController = Url.RequestContext.RouteData.GetRequiredString("controller");
        bool gizle = false;
        if (_currentAction != "Index" && _currentController == "Supplier")
        {
            gizle = true;
        }
    }


    <ul class="nav nav-tabs product-filter-tabs" style="@(gizle==true ? "display: none;" : "")">
        <li class="active"><a href="#product-category-tree" data-toggle="tab">Kategoriler</a></li>
        @if (!ViewBag.KategoriYok)
        {
            <li><a href="#product-brand-tree" data-toggle="tab">Üretici-Marka</a></li>
        }
    </ul>

    <div class="tab-content product-filter-content" style="overflow-y:auto;max-height:500px;@(gizle==true ? "display: none;" : "")">
        <div class="tab-pane active" id="product-category-tree">
            @{ Html.RenderAction("CategoryTree"); }
        </div>
        <div class="tab-pane" id="product-brand-tree">
            @{ Html.RenderAction("BrandTree"); }
        </div>
    </div>

    <br>

    @if (gizle == false)
    {
       Html.RenderAction("Prices");
    }

    <div class="well">
        <ul class="nav nav-list">
            <li class="nav-header">Ürünler</li>
            @Url.SidebarLink("Ürün Analizi", "Index", "Supplier", "home")
            <li class="nav-header">Raporlar (Ürün)</li>
            @Url.SidebarLink("Ürün Listesi", "ProductListReport", "Supplier", "map-marker")
            @Url.SidebarLink("Özel Fiyat Ürün Listesi", "PrivateProductPriceListReport", "Supplier", "map-marker")
            <li class="nav-header">Raporlar (Stok)</li>
            @Url.SidebarLink("Ürün Stok Raporu", "ProductStockReport", "Supplier", "map-marker")
            @Url.SidebarLink("Ürün Stok Hrk. Raporu", "ProductStockActionReport", "Supplier", "map-marker")
            @Url.SidebarLink("Alış iade Raporu", "PurchaseReturnReport", "Supplier", "map-marker")
            @Url.SidebarLink("Mağaza-Stok Raporu", "StoreStockReport", "Supplier", "map-marker")






            @*@Url.SidebarLink("Mağaza Bazlı Satış", "SalesPerStoreReport", "Accounting", "file")*@
        </ul>
    </div>


    @*@{ Html.RenderAction("CartSidebarElement"); }*@
}


@RenderBody()


@section javascripts
{
    @{
        var currentAction = Url.RequestContext.RouteData.GetRequiredString("action");
        string currentController = Url.RequestContext.RouteData.GetRequiredString("controller");
    }

    @if (currentAction != "Index" || currentController != "Supplier")
    {
        <div style="display: none;">
            <form method="GET" class="product-search" action="@Url.Action("Index", "Supplier")">
                <input type="text" name="q" class="span5" value="" data-provide="typeahead" />
                <input type="hidden" name="categoryId" value="" />
                <input type="hidden" name="producerId" value="" />
                <input type="hidden" name="brandId" value="" />
                <input type="hidden" name="page" value="" />
                <input type="hidden" name="kmp" value="" />
                <input type="hidden" name="price" value="" />
                <input type="hidden" name="priceLabel" value="" />

                @*           <input type="hidden" name="excellistesi" value="" />*@
            </form>
            @*<form method="GET" class="product-search" action="@Url.Action("TransferExcel", "Store")">*@
            @* <input type="hidden" name="excellistesi" value="" />*@
            @*</form>*@
        </div>
    }


    <script type="text/javascript">


        $('[data-fiyataraligi]').click(function () {
            var productSearchForm = $('form.product-search');
            var deger = $(this).data('fiyataraligi');
            var degerlabel = $(this).text();
            $('input[name=price]').val(deger);
            $('input[name=priceLabel]').val(degerlabel);

            productSearchForm.submit();
        });

        $(document).ready(function () {
            var productSearchForm = $('form.product-search');

            $('#ynUrn').change(function () {
                productSearchForm.submit();
            });

            $('#stogaYeniGirenUrn').change(function () {
                productSearchForm.submit();
            });

            $('#oneCikanUrn').change(function () {
                productSearchForm.submit();
            });



            function clearTreeSelection(tree) {
                $("#" + tree).dynatree("getRoot").visit(function (node) {
                    node.deactivate();
                    if (tree == "brand-tree")
                        node.expand(true);
                    else
                        node.expand(false);
                });
            }

            /* Category Tree
            * ----------------------------------------------------- */
            $('#category-tree').dynatree({
                fx: { height: "toggle", duration: 200 },
                persist: true,
                cookieId: "category-tree",
                onActivate: function (node) {
                    var selectedCategoryId = node.data.key.substr(9);

                    var categoryFilter = productSearchForm.find('input[name=categoryId]');
                    categoryFilter.val(selectedCategoryId);
                    productSearchForm.submit();
                }
            });



            if (productSearchForm.find('input[name=categoryId]').val() === "") {
                clearTreeSelection("category-tree");
            }

            /* Brand Tree
            * ----------------------------------------------------- */
            $('#brand-tree').dynatree({
                fx: { height: "toggle", duration: 200 },
                persist: true,
                cookieId: "brand-tree",
                onActivate: function (node) {
                    var brandFilter = productSearchForm.find('input[name=brandId]');
                    var producerFilter = productSearchForm.find('input[name=producerId]');
                    var selectedItemId = node.data.key;
                    if (selectedItemId.substr(0, 5) === "brand") {
                        var brandId = selectedItemId.substr(6);
                        brandFilter.val(brandId);
                        producerFilter.val("");
                    }
                    else {
                        var producerId = selectedItemId.substr(9);
                        producerFilter.val(producerId);
                        brandFilter.val("");
                    }
                    productSearchForm.submit();
                }
            });

            if (productSearchForm.find('input[name=brandId]').val() === "" && productSearchForm.find('input[name=producerId]').val() === "") {
                clearTreeSelection("brand-tree");
            }

            $('a[data-toggle="tab"]').on('shown', function (e) {
                var t = $(e.target);

                $.cookie('last-known-tab', t.attr('href'));
            });

            // on init activate last selected tab
            var lastKnownTab = "#product-category-tree";
            if ($.cookie('last-known-tab')) {
                lastKnownTab = $.cookie('last-known-tab');
            }
            $('a[data-toggle="tab"][href=' + lastKnownTab + ']').tab('show');
        });
    </script>

    @RenderSection("javascripts", required: false)
}

