﻿@using DerinSIS.B2B.ViewModels;
@model ProductListModel
@{
    ViewBag.Title = "Ürünler";
}
@{ Html.RenderAction("Promotion"); }


<form class="product-search pager-form" action="">
    <input type="hidden" name="categoryId" value="@Model.KategoriIdFiltresi" />
    <input type="hidden" name="producerId" value="@Model.UreticiIdFiltresi" />
    <input type="hidden" name="brandId" value="@Model.MarkaIdFiltresi" />
    <input type="hidden" name="page" value="" />
    <input type="hidden" name="price" value="@Model.FiyatFiltresi" />
    <input type="hidden" name="priceLabel" value="@Model.FiyatFiltreEtiketi" />


    <div class="clearfix product-search-elements">
        @if (Model.KategoriIdFiltresi != null)
        {
            <div class="alert alert-error search-filter">
                <button type="button" class="btn btn-danger btn-mini" data-dismiss="filter" data-clear-filter="categoryId"><i class="icon-remove icon-white"></i></button>
                <strong>Kategori: @Model.KategoriFiltreEtiketi </strong>
            </div>
        }

        @if (Model.UreticiIdFiltresi != null)
        {
            <div class="alert alert-error search-filter">
                <button type="button" class="btn btn-danger btn-mini" data-dismiss="filter" data-clear-filter="producerId"><i class="icon-remove icon-white"></i></button>
                <strong>Üretici: @Model.UreticiFiltreEtiketi </strong>
            </div>
        }

        @if (Model.MarkaIdFiltresi != null)
        {
            <div class="alert alert-error search-filter">
                <button type="button" class="btn btn-danger btn-mini" data-dismiss="filter" data-clear-filter="brandId"><i class="icon-remove icon-white"></i></button>
                <strong>Marka: @Model.MarkaFiltreEtiketi </strong>
            </div>
        }
        @if (Model.FiyatFiltresi != null)
        {
            <div class="alert alert-error search-filter">
                <button type="button" class="btn btn-danger btn-mini" data-dismiss="filter" data-clear-filter="price"><i class="icon-remove icon-white"></i></button>
                <strong>Fiyat Aralığı: @Model.FiyatFiltreEtiketi </strong>
            </div>
        }

        <table>
            <tr>
                <td>
                    <input type="text" id="q" name="q" class="search-box" value="@Model.Sorgu" placeholder="Ürün Adı - Ürün Kodu - Barkod - Marka içinde ara" />
                </td>
                <td>
                    <button type="submit" class="btn btn-large" data-loading-text="Ara">Ara</button>
                </td>
            </tr>
        </table>

        <div class="checkbox">
            <table>
                <tr>
                    <td>
                        <label style="margin-left:50px; @(Model.UrunYeniler == -1 ? "visibility:hidden" : "") ">
                            <input type="checkbox" data-dismiss="filter" data-clear-filter="ynUrn" name="ynUrn" id="ynUrn" @(Model.UrunYeniler == 1 ? "checked='checked'" : "") />
                            Yeni Ürünler
                        </label>
                    </td>
                    <td>
                        <label style="margin-left:50px; @(Model.UrunOneCikanlar == -1 ? "visibility:hidden" : "") ">
                            <input type="checkbox" data-dismiss="filter" data-clear-filter="oneCikanUrn" name="oneCikanUrn" id="oneCikanUrn" @(Model.UrunOneCikanlar == 1 ? "checked='checked'" : "") />
                            Öne Çıkan Ürünler
                        </label>
                    </td>
                    <td>
                        <label style="margin-left:50px; @(Model.UrunStogaYeniGirenler == -1 ? "visibility:hidden" : "") ">
                            <input type="checkbox" data-dismiss="filter" data-clear-filter="stogaYeniGirenUrn" name="stogaYeniGirenUrn" id="stogaYeniGirenUrn" @(Model.UrunStogaYeniGirenler == 1 ? "checked='checked'" : "") />
                            Stoğa Yeni Giren Ürünler
                        </label>
                    </td>

                </tr>
            </table>
            <input type="hidden" data-clear-filter="ordercondition" class="ordercondition" name="ordercondition" id="ordercondition" value="@Model.siralama" />
            <input type="hidden" data-clear-filter="ranking" class="ranking" name="ranking" id="ranking" value="1" />
        </div>
    </div>
</form>

<script type="text/javascript">
    var totalLengthAvailable = $('.product-search-elements').width();

    /* search filters */
    $('.search-filter').each(function () {
        var width = $(this).outerWidth(true);
        totalLengthAvailable -= width;
    });

    /* submit button */
    totalLengthAvailable -= $('.product-search button[type=submit]').outerWidth(true);

    totalLengthAvailable -= 22; /* input padding and border */
    $('input[name=q]').width(totalLengthAvailable);
</script>


<div id="product-list-summary" class="well">
    <div class="clearfix">
        <div style="float: left; width: 320px; line-height: 30px;">
            @{ var topSay = Model.AramaSonuclari.Count() > 0 ? ((DerinSIS.B2B.ViewModels.ProductListModel.ProductModel)(Model.AramaSonuclari.First())).topSay : 0;
                var topPages = Model.AramaSonuclari.Count() > 0 ? (topSay / Model.PageLength) : 0;
                var topKalan = Model.AramaSonuclari.Count() > 0 ? (topSay % Model.PageLength) : 0;
                if (topKalan > 0)
                {
                    topPages = topPages + 1;
                }
            }
            @if (Model.Page == 1)
            {
                <em>Toplam @topSay sonuç bulundu</em>
            }
            else
            {
                <em>Sayfa @Model.Page / @topPages sonuç</em>
            }


        </div>
        <div style="float: right; width: 120px;">
            <div class="btn-group" data-toggle="buttons-radio">
                <a class="btn" href="#" data-change-display="normal">
                    <i class="icon-align-justify"></i>
                </a>
                <a class="btn" href="#" data-change-display="small-image">
                    <i class="icon-th-list"></i>
                </a>
                <a class="btn" href="#" data-change-display="big-image">
                    <i class="icon-picture"></i>
                </a>
            </div>
        </div>
    </div>
</div>

<div class="product-list-container"></div>


@{ Html.RenderPartial("Pager", Model.AramaSonuclari); }




@section javascripts {

    @* Resimsiz Ürün Listesi Template *@
    <p style="display: none">
        <textarea id="resimsiz-urun-listesi-template" rows="0" cols="0">
            <!--
                {#template MAIN}
                    <table id="myTable" class="table table-striped tablesorter"  >
                        <thead id="tableClick">
                            <th>Stok Kodu</th>
                            <th>Ürün</th>
                            <th>Barkod</th>
                            <th>Koli İçi Adet</th>
                            <th>Kutu İçi Adet</th>

                  @if (Model.StokGosterimiVar!=0)
                  {
                      if (Model.brutFiyatGosterimVar != 0)
                      {
                           <th>Kdv Hariç Net Fiyat</th>
                      }
                      else
                      {
                           <th>Kdv Dahil Fiyat</th>
                      }
                  <th colspan="2"> Stok </th>
                  }
                  else
                  {
                      if (Model.brutFiyatGosterimVar != 0)
                      {
                           <th colspan="2">Kdv Hariç Net Fiyat</th>
                      }
                      else
                      {
                           <th colspan="2">Kdv Dahil Fiyat</th>
                      }
                  }

                        </thead>
                        <tbody>
                            {#foreach $T as item}
                                {#if $T.item.ModelMi === true}
                                    {#include URNGRP_ROW root=$T.item}
                                {#else}
                                    {#include URN_ROW root=$T.item}
                                {#/if}
                            {#/for}
                        </tbody>
                    </table>
                {#/template MAIN}

                {#template URN_ROW}
                    <tr {#if $T.BagliOlduguModelId > 0 }data-model-urunu="{$T.BagliOlduguModelId}" style="display: none;"{#/if}>
                        <td style="width: 10px">{$T.StokKodu}</td>
                        <td><a href="@Url.Action("ProductDetail")/{$T.Id}">{$T.Isim}</a></td>
                        <td>{$T.Barkod}</td>
                        <td>{$T.urnKoli}</td>
                        <td>{$T.urnKutu}</td>
                        <td class="right-aligned no-wrap">
                            {#if $T.brutFiyatGosterimVar !== 0}
                                {$T.KDVHaricFiyat} {$T.Birim}
                            {#else}
                                {$T.KDVDahilToplam} {$T.Birim}
                            {#/if}
                       </td>
                       {#if $T.stokGosterimi !== 0}
                            <td class="right-aligned">
                                    {$T.gosterilenStok}
                            </td>
                       {#/if}
                       <td></td>
                    </tr>
                {#/template URN_ROW}

                {#template URNGRP_ROW}
                    <tr {#if $T.ModelMi == true }data-model="{$T.Id}"{#/if}>
                        <td>
                            <span class="label label-warning">MODEL - {$T.Urunler.length} ÜRÜN</span>
                        </td>
                        <td><a href="@Url.Action("ProductGroupDetail")/{$T.Id}">{$T.Isim}</a></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td class="right-aligned"></td>
                        {#if $T.stokGosterimi !== 0}
                            <td class="right-aligned">
                                    {$T.gosterilenStok}
                            </td>
                        {#/if}
                        <td class="right-aligned">
                            <button class="btn btn-warning model-detail-btn" rel="tooltip" title="Model Ürünlerini Gör" data-toggle="button">
                                <i class="icon-plus-sign icon-white"></i>
                            </button>
                        </td>
                    </tr>
                    {#foreach $T.Urunler as modelItem}
                        {#include URN_ROW root=$T.modelItem}
                    {#/for}
                {#/template URNGRP_ROW}
            -->
        </textarea>
    </p>

    @* Küçük Resimli Ürün Listesi Template *@
    <p style="display: none">
        <textarea id="kucuk-resimli-urun-listesi-template" rows="0" cols="0">
            <!--
                        {#template MAIN}
                            <table id="myTable" class="tablesorter" >
                                <thead>
                                    <th></th>
                                    <th>Stok Kodu</th>
                                    <th id="urunTableID">Ürün</th>
                                    <th>Barkod</th>

                   @if (Model.StokGosterimiVar!=0)
                  {
                      if (Model.brutFiyatGosterimVar != 0)
                      {
                           <th>Kdv Hariç Net Fiyat</th>
                      }
                      else
                      {
                           <th>Kdv Dahil Fiyat</th>
                      }
                  <th colspan="2"> Stok </th>
                  }
                  else
                  {
                      if (Model.brutFiyatGosterimVar != 0)
                      {
                           <th colspan="2">Kdv Hariç Net Fiyat</th>
                      }
                      else
                      {
                           <th colspan="2">Kdv Dahil Fiyat</th>
                      }
                  }


                                </thead>

                                <tbody>
                                    {#foreach $T as item}
                                        {#if $T.item.ModelMi === true}
                                            {#include URNGRP_ROW root=$T.item}
                                        {#else}
                                            {#include URN_ROW root=$T.item}
                                        {#/if}
                                    {#/for}
                                </tbody>
                            </table>
                        {#/template MAIN}

                        {#template URN_ROW}
                            <tr {#if $T.BagliOlduguModelId > 0 }data-model-urunu="{$T.BagliOlduguModelId}"  style="display: none;"{#/if}>
                                <td>
                                    <a href="@Url.Action("ProductDetail")/{$T.Id}">
                                        <img src="{$T.KucukResimUrl}" alt="{$T.Isim}"/>
                                    </a>
                                </td>
                                <td style="width: 10px">{$T.StokKodu}</td>
                                <td><a href="@Url.Action("ProductDetail")/{$T.Id}">{$T.Isim}</a></td>
                                <td>{$T.Barkod}</td>
                                <td class="right-aligned no-wrap">
                                    {#if $T.brutFiyatGosterimVar !== 0}
                                        {$T.KDVHaricFiyat} {$T.Birim}
                                    {#else}
                                        {$T.KDVDahilToplam} {$T.Birim}
                                    {#/if}
                                </td>
                                {#if $T.stokGosterimi !== 0}
                                <td class="right-aligned">
                                    {$T.gosterilenStok}
                                </td>
                                {#/if}

                                <td></td>
                            </tr>
                        {#/template URN_ROW}

                        {#template URNGRP_ROW}
                            <tr {#if $T.ModelMi == true }data-model="{$T.Id}"{#/if}>
                                <td>
                                    <a href="@Url.Action("ProductGroupDetail")/{$T.Id}">
                                        <img src="{$T.KucukResimUrl}" alt="{$T.Isim}"/>
                                    </a>
                                </td>
                                <td>
                                    <a href="#">
                                        <span class="label label-warning">MODEL - {$T.Urunler.length} ÜRÜN</span>
                                    </a>
                                </td>
                                <td><a href="@Url.Action("ProductGroupDetail")/{$T.Id}">{$T.Isim}</a></td>
                                <td></td>
                                <td class="right-aligned"></td>
                                {#if $T.stokGosterimi !== 0}
                                <td class="right-aligned">
                                    {$T.gosterilenStok}
                                </td>
                                {#/if}
                                <td class="right-aligned">
                                    <button class="btn btn-warning model-detail-btn" rel="tooltip" title="Model Ürünlerini Gör" data-toggle="button">
                                        <i class="icon-plus-sign icon-white"></i>
                                    </button>
                                </td>
                            </tr>
                            {#foreach $T.Urunler as modelItem}
                                {#include URN_ROW root=$T.modelItem}
                            {#/for}
                        {#/template URNGRP_ROW}
                    -->
        </textarea>
    </p>



    @* Büyük Resimli Ürün Listesi Taslağı*@
    <p style="display: none">
        <textarea id="buyuk-resimli-urun-listesi-template" rows="0" cols="0">
            <!--
            {#template MAIN}
            <ul class="thumbnails product-list">
                                {#foreach $T as item}
                                    {#if $T.item.ModelMi === true}
                                        {#include URNGRP_LI root=$T.item}
                                    {#else}
                                        {#include URN_LI root=$T.item}
                                    {#/if}
                                {#/for}
                            </ul>
                        {#/template MAIN}

                        {#template URN_LI}
                            <li class="span2 big-image-product-list-item">
                                <div class="thumbnail">
                                    <a href="@Url.Action("ProductDetail")/{$T.Id}">
                                        <img src="{$T.BuyukResimUrl}" alt="{$T.Isim}"/>
                                    </a>
                                    <div class="caption">
                                        <h5>
                                            <a href="@Url.Action("ProductDetail")/{$T.Id}">
                                                {$T.Isim}
                                            </a>
                                        </h5>
                                    </div>
                                </div>
                            </li>
                        {#/template URN_LI}

                        {#template URNGRP_LI}
                            <li class="span2 big-image-product-list-item">
                                <div class="thumbnail">
                                    <a href="@Url.Action("ProductGroupDetail")/{$T.Id}">
                                        <img src="{$T.BuyukResimUrl}" alt="{$T.Isim}"/>
                                    </a>
                                    <div class="caption">
                                        <h5>
                                            <a href="@Url.Action("ProductGroupDetail")/{$T.Id}">
                                                {$T.Isim}
                                                <span class="label label-warning">MODEL - {$T.Urunler.length} ÜRÜN</span>
                                            </a>
                                        </h5>
                                    </div>
                                </div>
                            </li>
                        {#/template URNGRP_LI}
                    -->
        </textarea>
    </p>



    <script type="text/javascript">

        window.openModelIds = [];

        $(document).ready(function() {


            var urunler = @Html.Raw(Json.Encode(Model.AramaSonuclari));

            function resimsizGosterim(urnListesi) {
                $('.product-list-container').setTemplateElement("resimsiz-urun-listesi-template");
                $('.product-list-container').processTemplate(urnListesi);

                for(var i in openModelIds) {
                    var id = openModelIds[i];
                    showModelDetails(id);
                }
            }

            function kucukResimliGosterim(urnListesi) {
                $('.product-list-container').setTemplateElement("kucuk-resimli-urun-listesi-template");
                $('.product-list-container').processTemplate(urnListesi);

                for(var i in openModelIds) {
                    var id = openModelIds[i];
                    showModelDetails(id);
                }
            }

            function buyukResimliGosterim(urnListesi) {
                $('.product-list-container').setTemplateElement("buyuk-resimli-urun-listesi-template");
                $('.product-list-container').processTemplate(urnListesi);

                // make all items on the same row equal height (adjust to max)
                var items = $('ul.product-list > li');
                var group = [];
                for(var i = 0; i < items.length; i++) {
                    if (i % 4 != 0) {
                        group.push($(items[i]));
                    }
                    else {
                        if(group.length > 0) {
                            var groupMaxLength = 0;
                            for(var j = 0; j < group.length; j++) {
                                if(group[j].find('.caption').height() > groupMaxLength) {
                                    groupMaxLength = group[j].find('.caption').height();
                                }
                            }

                            for(var j = 0; j < group.length; j++) {
                                group[j].find('.caption').height(groupMaxLength);
                            }
                            group.length = 0;
                        }

                        group.push($(items[i]));
                    }
                }
            }

            function urunListesiniOlustur(gorunum, urnListesi) {
                $('.product-list-container').html('');

                if(gorunum === "normal") {
                    resimsizGosterim(urnListesi);
                }
                else if(gorunum === "small-image") {
                    kucukResimliGosterim(urnListesi);
                }
                else {
                    buyukResimliGosterim(urnListesi);
                }
                $.cookie('product-list-display', gorunum);

                $('[data-change-display]').removeClass('active');
                $('[data-change-display=' + gorunum + ']').addClass('active');
            }

            $('[data-change-display]').click(function() {
                var t = $(this);
                var type = t.data('change-display');
                urunListesiniOlustur(type, urunler);
            });

            // İlk açılışta hangi değeri göstereceğimizi cookiden öğreneceğiz
            var gorunumSecenegi = $.cookie('product-list-display');
            if(!gorunumSecenegi) {
                gorunumSecenegi = "normal";
            }
            urunListesiniOlustur(gorunumSecenegi, urunler);


            /* MODEL DETAY GÖRÜNÜMÜ */
            Array.prototype.remove = function() {
                var what, a = arguments, L = a.length, ax;
                while (L && this.length) {
                    what = a[--L];
                    while ((ax = this.indexOf(what)) != -1) {
                        this.splice(ax, 1);
                    }
                }
                return this;
            };

            function showModelDetails(modelId) {
                if($.inArray(modelId, openModelIds) === -1) {
                    openModelIds.push(modelId);
                }

                var modelRow = $('tr[data-model=' + modelId + ']');
                var productRows = $('tr[data-model-urunu=' + modelId + ']');

                modelRow.addClass('active');
                var slideIcon = modelRow.find('.model-detail-btn i');
                slideIcon.removeClass('icon-plus-sign');
                slideIcon.addClass('icon-minus-sign');

                productRows.show('fast');

                // add css classes for the model highlight
                modelRow.addClass('model-highlight');
                productRows.addClass('model-highlight');
                modelRow.addClass('model-highlight-first');
                productRows.last().addClass('model-highlight-last');
            }

            function hideModelDetails(modelId) {
                if($.inArray(modelId, openModelIds) !== -1) {
                    openModelIds.remove(modelId);
                }

                var modelRow = $('tr[data-model=' + modelId + ']');
                var productRows = $('tr[data-model-urunu=' + modelId + ']');

                modelRow.removeClass('active');
                var slideIcon = modelRow.find('.model-detail-btn i');
                slideIcon.addClass('icon-plus-sign');
                slideIcon.removeClass('icon-minus-sign');

                productRows.hide('fast');

                // remove css classes for the model highlight
                modelRow.removeClass('model-highlight');
                productRows.removeClass('model-highlight');
                modelRow.removeClass('model-highlight-first');
                productRows.last().removeClass('model-highlight-last');
            }

            $('.model-detail-btn').live('click', function() {
                var t = $(this);
                var row = t.closest('tr');
                var modelId = parseInt(row.data('model'));

                if(row.hasClass('active')) {
                    // hide
                    hideModelDetails(modelId);
                }
                else {
                    // show
                    showModelDetails(modelId);
                }
            });


            /* Search (Brand or Category) Filter Delete Buttons
            * ----------------------------------------------------- */
            //$('#category-tree').click(function() {
            //    $('button[data-dismiss=filter]').each(function() {
            //        var data = $(this).data('clear-filter');
            //        if(data=='brandId') {
            //            var dismissInput = $('input[name=' + data + ']');
            //            //dismissInput.val('');
            //            dismissInput.closest('form').submit();
            //        }
            //    });
            //});
            $('button[data-dismiss=filter]').click(function () {
                var t = $(this);

                var dismissInputName = t.data('clear-filter');
                var dismissInput = $('input[name=' + dismissInputName + ']');
                dismissInput.val('');
                dismissInput.closest('form').submit();
            });

            $("#myTable").tablesorter();

            //var sortDeger =$('#ordercondition').val();
            //if(sortDeger!= null)
            //{
            //    if(sortDeger!="")
            //    {
            //        $('#ranking').val("0");
            //        var kolonindex = sortDeger.split('-')[0];
            //        var kolonsort = sortDeger.split('-')[1];
            //        var sorting= [[kolonindex,kolonsort]];
            //        $("table").trigger("sorton",[sorting]);
            //        $('#ranking').val("1");
            //    }
            //}
            var sortDeger =$('#ordercondition').val();
            if(sortDeger!= null)
            {
                if(sortDeger!="")
                {
                    $('#ranking').val("0");
                    var kolonindex = sortDeger.split('-')[0];
                    var kolonsort = sortDeger.split('-')[1];
                    var sorting= [[kolonindex,kolonsort]];
                    $("table").trigger("sortoff",[sorting]);
                    $('#ranking').val("1");
                }
            }

            $("#q").autocomplete({ minLength:3},{
                open: function(){
                    setTimeout(function () {
                        $('.ui-autocomplete').css('z-index', 99999999999999);
                        $('.ui-autocomplete').css('max-height', 300);
                        $('.ui-autocomplete').css('overflow-y', 'scroll');
                    }, 0)},
                source: function (request, response) {
                    $.ajax({
                        url: '@Url.Action("AutoCompleteArama", "Supplier")',
                        type: "POST",
                        dataType: "json",
                        data: { term: request.term },
                        success: function (data) {
                            response($.map(data, function (item) {
                                return { label: item.VDad, value: item.VDad };
                            }))

                        }
                    })
                },
                messages: {
                    noResults: "", results: ""
                },
                select:function(event, ui) {
                    $("#q").val(ui.item.value);
                    $("#q").closest('form').submit();
                }

            });

        });
    </script>
}


