﻿@using DerinSIS.B2B.ViewModels
@model PrivateProductPriceListReportModel
@{
    ViewBag.Title = "Özel Fiyat Ürün Liste Raporu";
}


<form method="GET" class="pager-form">
    <div class="clearfix product-search-elements" style="margin-bottom: 10px">
        <table>
            <tr>
                <td>
                    <input type="text" id="q" name="q" class="search-box" value="@Model.Sorgu" placeholder="Ürün Adı İçinde Ara" style="margin-bottom:0px" />
                </td>
                <td>
                    <button type="submit" class="btn" data-loading-text="Ara">Ara</button>
                </td>
            </tr>
        </table>
    </div>
    @{ Html.RenderPartial("DocumentSingleDateFilter", Model.DateFilter); }
    <div class="clearfix">
        @if (!Model.PrivateProductPriceListReports.Any())
        {
            <div class="alert alert-error">
                <h4 class="alert-heading">Kayıt Bulunamadı!</h4>
                Lütfen arama koşullarını değiştirip tekrar deneyin.
            </div>
        }
        else
        {
            <div id="product-list-summary" class="well">
                <div class="clearfix">
                    <div style="float: left; width: 80%; line-height: 30px;">
                        @{  var topSay = Model.PrivateProductPriceListReports.FirstOrDefault().topSay;
                            var topPages = Model.PrivateProductPriceListReports.FirstOrDefault().topSay / Model.PageLength;
                            var topKalan = Model.PrivateProductPriceListReports.FirstOrDefault().topSay % Model.PageLength;
                            if (topKalan > 0)
                            {
                                topPages = topPages + 1;
                            }
                        }
                        @if (Model.Page == 1)
                        {
                            <em>Toplam @topSay sonuç bulundu</em>
                        }
                        else
                        {
                            <em>Sayfa @Model.Page / @topPages sonuç</em>
                        }
                    </div>
                    <div>
                        <a href="javascript:myFunction()">
                            <img width="32" height="32" align="right" src="/Assets/theme/img/Excel-icon.png" id="excel" alt="Export to Excel" title="Export to Excel" />
                        </a>
                    </div>
                </div>
            </div>

            <div class="table-responsive">
                <table id="MyProductTable" class="table table-striped">
                    <thead>
                        <tr>
                            <th style="min-width:70px">Ürün Kod</th>
                            <th style="min-width:90px">Dağıtıcı Kod</th>
                            <th style="min-width:70px">Barkod</th>
                            <th style="min-width:500px">Ürün Ad</th>
                            <th style="text-align:right;min-width:80px">Net Alış</th>
                            <th style="text-align:right;min-width:80px">Kdvli Alış</th>
                            <th style="text-align:right;min-width:80px">Satış</th>
                            <th style="text-align:right;min-width:80px">Kdvli Satış</th>
                            <th style="min-width:80px">Son Tarih</th>
                            <th style="min-width:750px">Kategori</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var product in Model.PrivateProductPriceListReports)
                        {
                            <tr>
                                <td>@product.stkKod</td>
                                <td>@product.dagiticiKod</td>
                                <td>@product.barkod</td>
                                <td data-toggle="tooltip" title="@product.stkAd">@product.stkAd.ToString().TruncateAtWord(45)</td>
                                <td class="right-aligned no-wrap">@product.netAlis.ToMoneyFormat()</td>
                                <td class="right-aligned no-wrap">@product.kdvliAlis.ToMoneyFormat()</td>
                                <td class="right-aligned no-wrap">@product.satis.ToMoneyFormat()</td>
                                <td class="right-aligned no-wrap">@product.kdvliSatis.ToMoneyFormat()</td>
                                <td>@product.tarihSon.ToString("dd.MM.yyyy")</td>
                                <td>@product.KategoriAd</td>
                            </tr>
                        }

                    </tbody>
                </table>
            </div>

            <input type="hidden" name="page" id="page" value="@Model.Page" />
            Html.RenderPartial("Pager", Model.PrivateProductPriceListReports);

          }
    </div>

</form>

<script type="text/javascript">
    var totalLengthAvailable = $('.product-search-elements').width();

    /* submit button */
    totalLengthAvailable -= $('.product-search-elements button[type=submit]').outerWidth(true);

    totalLengthAvailable -= 22; /* input padding and border */
    $('input[name=q]').width(totalLengthAvailable);



    function myFunction() {

        var arama = $('input[name=q]');

        var pagerInput = $('input[name=Page]');
        pagerInput.val(1);

        window.location.href = '@Url.Action("PrivateProductPriceListReportExport", "Supplier")' + '?q=' + arama.val();
    }

</script>
