﻿@using DerinSIS.B2B.ViewModels
@model ProductStockActionModel
@{
    ViewBag.Title = "Ürün Stok Hareket Raporu";
}


<form method="GET" class="pager-form">
    @{ Html.RenderPartial("DocumentDateFilter", Model.DateFilter); }
    <div class="well">
        @{
            Html.RenderPartial("magazaFiltre");
        }
    </div>
    <div class="clearfix">
        @if (Model.ProductStocks.Any())
        {
            <div id="product-list-summary" class="well">
                <div class="clearfix">
                    <div style="float: left; width: 80%; line-height: 30px;">
                        @{ var topSay = Model.ProductStocks.FirstOrDefault().topSay;
                            var topPages = Model.ProductStocks.FirstOrDefault().topSay / Model.PageLength;
                            var topKalan = Model.ProductStocks.FirstOrDefault().topSay % Model.PageLength;
                            if (topKalan > 0)
                            {
                                topPages = topPages + 1;
                            }
                        }
                        @if (Model.Page == 1)
                        {
                        <em>Toplam @topSay sonuç bulundu</em>
                        }
                        else
                        {
                        <em>Sayfa @Model.Page / @topPages sonuç</em>
                        }
                    </div>
                    <div>
                        <a href="javascript:myFunction()">
                            <img width="32" height="32" align="right" src="/Assets/theme/img/Excel-icon.png" id="excel" alt="Export to Excel" title="Export to Excel" />
                        </a>
                    </div>
                </div>
            </div>
            

            <div class="table-responsive">
                <table id="MyProductTable" class="table table-striped">
                    <thead>
                        <tr>
                            <th style="min-width:70px">Ürün Kod</th>
                            <th style="min-width:90px">Dağıtıcı Kod</th>
                            <th style="min-width:70px">Barkod</th>
                            <th style="min-width:500px">Ürün Ad</th>
                            <th style="text-align:right;min-width:70px">Devir Stok</th>
                            <th style="text-align:right;min-width:80px">Giren Adet</th>
                            <th style="text-align:right;min-width:80px">Çıkan Adet</th>
                            <th style="text-align:right;min-width:70px">Net Stok</th>
                            <th style="text-align:right;min-width:80px">Birim Fiyat</th>
                            <th style="text-align:right;min-width:80px">Stok Tutar</th>

                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var product in Model.ProductStocks)
                {
                        <tr>
                            <td>@product.stkKod</td>
                            <td>@product.dagiticiKod</td>
                            <td>@product.barkod</td>
                            <td data-toggle="tooltip" title="@product.stkAd">@product.stkAd.ToString().TruncateAtWord(45)</td>
                            <td class="right-aligned no-wrap">@product.devir.ToStokFormat()</td>
                            <td class="right-aligned no-wrap">@product.giren.ToStokFormat()</td>
                            <td class="right-aligned no-wrap">@product.cikan.ToStokFormat()</td>
                            <td class="right-aligned no-wrap">@product.stok.ToStokFormat()</td>
                            <td class="right-aligned no-wrap">@product.fiyat.ToMoneyFormat()</td>
                            <td class="right-aligned no-wrap">@product.stokTutar.ToMoneyFormat()</td>
                        </tr>
                    }
                    </tbody>
                </table>
            </div>

            <input type="hidden" name="page" id="page" value="@Model.Page" />
            Html.RenderPartial("Pager", Model.ProductStocks);
        }
        else
        {
            <div class="alert alert-error">
            <h4 class="alert-heading">Kayıt Bulunamadı!</h4>
            Aradığınız tarihler için ürün stoğu bulunamadı.
            Lütfen arama koşullarını değiştirip tekrar deneyin.
            </div>
        }
    </div>

</form>

<script type="text/javascript">
    function myFunction() {

        var mekan = $('input[name="mekanFilter"]');
        var dateString = $('#dateFilter').val().split("-");
        var beginDateString = dateString[0];
        var endDateString = dateString[1];
        if (!endDateString) {
            endDateString = beginDateString;
        }

        window.location.href = '@Url.Action("ProductStockActionReportExport", "Supplier")' + '?mekanFilter=' + mekan.val() + '&ilkTar=' + beginDateString + '&sonTar=' + endDateString;
    }
    
</script>
