﻿@using DerinSIS.B2B.ViewModels
@model PurchaseReturnModel
@{
    ViewBag.Title = "Mağaza iade Raporu";
}


<form method="GET" class="pager-form">
    @{ Html.RenderPartial("DocumentDateFilter", Model.DateFilter); }
    <div class="well">
        @{
            Html.RenderPartial("magazaFiltre");
        }
    </div>
    <div class="clearfix">
        @if (Model.PurchaseReturns.Any())
        {
            <div id="product-list-summary" class="well">
                <div class="clearfix">
                    <div style="float: left; width: 80%; line-height: 30px;">
                        @{ var topSay = Model.PurchaseReturns.FirstOrDefault().topSay;
                            var topPages = Model.PurchaseReturns.FirstOrDefault().topSay / Model.PageLength;
                            var topKalan = Model.PurchaseReturns.FirstOrDefault().topSay % Model.PageLength;
                            if (topKalan > 0)
                            {
                                topPages = topPages + 1;
                            }
                        }
                        @if (Model.Page == 1)
                        {
                            <em>Toplam @topSay sonuç bulundu</em>
                        }
                        else
                        {
                            <em>Sayfa @Model.Page / @topPages sonuç</em>
                        }
                    </div>
                    <div>
                        <a href="javascript:myFunction()">
                            <img width="32" height="32" align="right" src="/Assets/theme/img/Excel-icon.png" id="excel" alt="Export to Excel" title="Export to Excel" />
                        </a>
                    </div>
                </div>
            </div>


            <div class="table-responsive">
                <table id="MyProductTable" class="table table-striped">
                    <thead>
                        <tr>
                            <th>Mekan</th>
                            <th>Belge No</th>
                            <th>Tarih</th>
                            <th style="text-align:right">Miktar</th>
                            <th style="text-align:right">Tutar</th>
                            <th style="text-align:right">İndirim</th>
                            <th style="text-align:right">Kdv Tutarı</th>
                            <th style="text-align:right">Toplam</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var product in Model.PurchaseReturns)
                        {
                            <tr>
                                @if (topPages == Model.Page && product.mekanAd == "TOPLAM" && product.eID == -1)
                                {
                                    <td style="font-weight:bold">@product.mekanAd</td>
                                    <td></td>
                                    <td></td>
                                    <td style="font-weight:bold" class="right-aligned no-wrap">@product.adet.ToStokFormat()</td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td style="font-weight:bold" class="right-aligned no-wrap">@product.toplam.ToMoneyFormat()</td>
                                }
                                else
                                {
                                    <td>@product.mekanAd</td>
                                    <td>
                                        <a class="btn btn-info" target="_blank" href="@Url.Action("InvoiceDetail", "Accounting", new { id = product.eID })">
                                            @product.eNo
                                        </a>
                                    </td>
                                    <td>@product.eTarih</td>
                                    <td class="right-aligned no-wrap">@product.adet.ToStokFormat()</td>
                                    <td class="right-aligned no-wrap">@product.tutar.ToMoneyFormat()</td>
                                    <td class="right-aligned no-wrap">@product.indirim.ToMoneyFormat()</td>
                                    <td class="right-aligned no-wrap">@product.kdv.ToMoneyFormat()</td>
                                    <td class="right-aligned no-wrap">@product.toplam.ToMoneyFormat()</td>
                                }
                            </tr>
                        }
                    </tbody>
                </table>
            </div>

            <input type="hidden" name="page" id="page" value="@Model.Page" />
                                Html.RenderPartial("Pager", Model.PurchaseReturns);
                            }
                            else
                            {
                                <div class="alert alert-error">
                                    <h4 class="alert-heading">Kayıt Bulunamadı!</h4>
                                    Lütfen arama koşullarını değiştirip tekrar deneyin.
                                </div>
                            }
    </div>

</form>

<script type="text/javascript">
    function myFunction() {

        var dateString = $('#dateFilter').val().split("-");
        var beginDateString = dateString[0];
        var endDateString = dateString[1];
        if (!endDateString) {
            endDateString = beginDateString;
        }

        var mekan = $('input[name="mekanFilter"]');

        window.location.href = '@Url.Action("PurchaseReturnReportExport", "Supplier")' + '?mekanFilter=' + mekan.val() + '&ilkTar=' + beginDateString + '&sonTar=' + endDateString;
    }


</script>
