﻿@using DerinSIS.B2B.ViewModels
@model GeneralStoreSalesModel
@{
    ViewBag.Title = "Mağaza-Ürün Stok Raporu";
}


<form method="GET" class="pager-form">
    <div class="clearfix product-search-elements" style="margin-bottom: 10px">
        <table>
            <tr>
                <td>
                    <input type="text" id="q" name="q" class="search-box" value="@Model.Sorgu" placeholder="Ürün Adı İçinde Ara" style="margin-bottom:0px" />
                </td>
                <td>
                    <button type="submit" class="btn" data-loading-text="Ara">Ara</button>
                </td>
            </tr>
        </table>
    </div>
    <div class="clearfix">
        @if (Model.GStoreSales.Any())
        {
            <div id="product-list-summary" class="well">
                <div class="clearfix">
                    <div style="float: left; width: 80%; line-height: 30px;">
                        @{ var topSay = Model.GStoreSales.FirstOrDefault().topSay;
                        }
                        @if (Model.Page == 1)
                        {
                            <em>Toplam @topSay adet ürün-mağaza satış sonucu bulundu</em>
                        }
                        else
                        {
                            <em>Sayfa @Model.Page ( @topSay adet ürün-mağaza satış sonucu)</em>
                        }
                    </div>
                    <div>
                        <a href="javascript:myFunction()">
                            <img width="32" height="32" align="right" src="/Assets/theme/img/Excel-icon.png" id="excel" alt="Export to Excel" title="Export to Excel" />
                        </a>
                    </div>
                </div>
            </div>


            <div class="table-responsive">
                <table id="MyProductTable" class="table table-striped">
                    <thead>
                        <tr>
                            <th style="min-width:65px">Ürün ID</th>
                            <th style="min-width:70px">Ürün Kod</th>
                            <th style="min-width:90px">Dağıtıcı Kod</th>
                            <th style="min-width:70px">Barkod</th>
                            <th style="min-width:500px">Ürün Ad</th>
                            @foreach (var str in Model.cBaslik)
                            {
                                if (str[0].ToString().IndexOf("TUTAR") > -1)
                                {
                                    <th style="text-align:right;min-width:150px">@str[0] (Net Alış)</th>
                                }
                                else
                                {
                                    <th style="text-align:right;min-width:150px">@str[0]</th>
                                }
                            }
                            <th style="text-align:right;min-width:150px">TOPLAM STOK</th>
                            <th style="text-align:right;min-width:150px">TOPLAM STOK TUTAR</th>

                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var product in Model.GStoreSales)
                        {
                        <tr>
                            <td>@product.stkID</td>
                            <td>@product.stkKod</td>
                            <td>@product.dagiticiKod</td>
                            <td>@product.barkod</td>
                            <td data-toggle="tooltip" title="@product.stkAd">@product.stkAd.ToString().TruncateAtWord(45)</td>

                            @{decimal topStok = 0; decimal topTutar = 0;}
                            @for (int i = 6; i < Model.sBaslik + 6; i++)
    {
        if (i % 2 == 0)
        {
            topStok = topStok + Convert.ToDecimal(product.satir[i]);
                        <td class="right-aligned no-wrap">@Convert.ToDecimal(product.satir[i]).ToStokFormat()</td>
}
else
{
topTutar = topTutar + Convert.ToDecimal(product.satir[i]);
                        <td class="right-aligned no-wrap">@Convert.ToDecimal(product.satir[i]).ToMoneyFormat()</td>
}

}
                            <td class="right-aligned no-wrap">@topStok.ToStokFormat()</td>
                            <td class="right-aligned no-wrap">@topTutar.ToMoneyFormat()</td>
                        </tr>
                                    }
                    </tbody>
                </table>
            </div>

            <input type="hidden" name="page" id="page" value="@Model.Page" />
                                        Html.RenderPartial("Pager", Model.GStoreSales);
                                    }
                                    else
                                    {
                                        <div class="alert alert-error">
                                            <h4 class="alert-heading">Kayıt Bulunamadı!</h4>
                                            Aradığınız tarihler için satış bulunamadı.
                                            Lütfen arama koşullarını değiştirip tekrar deneyin.
                                        </div>
                                    }
    </div>

</form>

<script type="text/javascript">
    var totalLengthAvailable = $('.product-search-elements').width();

    /* submit button */
    totalLengthAvailable -= $('.product-search-elements button[type=submit]').outerWidth(true);

    totalLengthAvailable -= 22; /* input padding and border */
    $('input[name=q]').width(totalLengthAvailable);

    function myFunction() {

        var arama = $('input[name=q]');

        var pagerInput = $('input[name=Page]');
        pagerInput.val(1);

        window.location.href = '@Url.Action("StoreStockReportExport", "Supplier")' + '?q=' + arama.val();
    }

</script>
