﻿@model DerinSIS.B2B.ViewModels.CompanyUsersModel

@{
    ViewBag.Title = "Kullanıcılar";
    ViewBag.SubTitle = "Firma Yönetimi";
}


<table class="table table-striped">
    <thead>
        <tr>
            <th></th>
            <th>İsim</th>
            <th>Ünvan</th>
            <th>E-Posta</th>
            
            @if(Model.AdminSiparisYetkisi)
            {
                <th class="center-aligned">Sipariş</th>    
            }
            
            @if(Model.AdminSevkiyatYetkisi)
            {
                <th class="center-aligned">Sevkiyat</th>    
            }
            
            @if(Model.AdminFaturaYetkisi)
            {
                <th class="center-aligned">Fatura</th>    
            }
            
            @if(Model.AdminMutabakatYetkisi)
            {
                <th class="center-aligned">Cari</th>    
            }
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var yetkili in Model.CompanyUsers)
        {
            <tr>
                <td width="120">
                   

                    @if (yetkili.B2BYoneticisiMi)
                    {
                        <a href="#" class="btn btn-info disabled">
                            <i class="icon-user icon-white"></i>
                        </a>
                        <a href="#" class="btn btn-danger disabled">
                            <i class="icon-lock icon-white"></i>
                        </a>
                    }
                    else
                    {
                        <a href="@Url.Action("EditUser", "Management", new { id = yetkili.Id })" class="btn btn-info" rel="tooltip" title="Kullanıcı Bilgilerini Güncelle">
                            <i class="icon-user icon-white"></i>
                        </a>
                        
                        <a href="#" class="btn btn-danger" data-password-reset="@yetkili.Id" rel="tooltip" title="Kullanıcı Şifresini Sıfırla">
                            <i class="icon-lock icon-white"></i>
                        </a>
                    }
                </td>
                <td>@yetkili.Ad</td>
                <td>@yetkili.Unvan</td>
                <td>@yetkili.Eposta</td>
                
                @if(Model.AdminSiparisYetkisi)
                {
                    <td class="center-aligned">
                        @if (yetkili.SiparisYetkisi)
                        {
                            <i class="icon-ok"></i>
                        }
                    </td>    
                }
                
                @if(Model.AdminSevkiyatYetkisi)
                {
                    <td class="center-aligned">
                        @if (yetkili.SevkiyatYetkisi)
                        {
                            <i class="icon-ok"></i>
                        }
                    </td>
                }
                
                @if(Model.AdminFaturaYetkisi)
                {
                    <td class="center-aligned">
                        @if (yetkili.FaturaYetkisi)
                        {
                            <i class="icon-ok"></i>
                        }
                    </td>
                }
                        
                @if (Model.AdminMutabakatYetkisi)
                {
                    <td class="center-aligned">
                        @if (yetkili.MutabakatYetkisi)
                        {
                            <i class="icon-ok"></i>
                        }
                    </td>
                }
                <td>
                    @if (yetkili.B2BYoneticisiMi)
                    {
                        <span class="label label-info">YÖNETİCİ</span>
                    }
                    
                    @if (!yetkili.AktifKullaniciMi)
                    {
                        <span class="label label-important">KAPALI</span>
                    }
                    else
                    {
                        var hasError = false;
                        if (!yetkili.SifresiMevcutMu)
                        {
                            <span class="label label-warning" data-title="Kullanıcı Şifresi" data-placement="left" data-content="Bu kullanıcı için henüz bir şifre oluşturulmamış.<br /><br /><strong><em>Oluşturmak için soldaki kilit simgeli şifre sıfırlama butonunu kullanabilirsiniz.</em></strong>">ŞİFRE YOK</span>
                            
                            { hasError = true; }
                        }

                        if (!yetkili.MutabakatYetkisi && !yetkili.SevkiyatYetkisi && !yetkili.SiparisYetkisi && !yetkili.FaturaYetkisi)
                        {
                            <span class="label label-warning" data-title="Kullanıcı Yetkileri" data-placement="left" data-content="Bu kullanıya atanmış herhangi bir yetki bulunmamaktadır. Bu sebeple kullanıcı sisteme girişi yapamayacaktır.<br /><br /><strong><em>Kullanıya yetki atamak için soldaki 'Kullanıcı Bilgilerini Güncelle' butonunu kullanabilirsiniz.</em></strong>">YETKİ YOK</span>
                        
                            { hasError = true; }
                        }

                        if (!hasError)
                        {
                            <span class="label label-success">AKTİF</span>     
                        }
                    }
                </td>
            </tr>
        }
    </tbody>
</table>


@section javascripts
{
    <script type="text/javascript">
        $(document).ready(function () {

            $('[data-title]').popover({ placement: 'top' });

            $('[data-password-reset]').click(function () {
                var t = $(this);
                var id = t.data('password-reset');

                $('<form />')
                    .attr('method', 'POST')
                    .attr('action', '@Url.Action("ResetUserPassword")')
                    .html('<input type="hidden" name="id" value="' + id + '" />')
                    .appendTo('body')
                    .submit();
            });
        });
    </script>
}
