﻿@{
    ViewBag.Title = "Kullanıcı Şifresini Sıfırla";
    ViewBag.SubTitle = "Firma Yönetimi";
}


<div class="alert alert-success">
    Kullanıcıya şifresini oluşturmak için gerekli bilgiler mail yoluyla gönderilmiştir.
</div>

<div>
    Kullanıcılar sayfasına geri dönmek için 
    <a href="@Url.Action("CompanyUsers")">lütfen tıklayın.</a>
</div>