﻿@{
    Layout = "~/Views/Shared/_ContentLayout.cshtml";
}


@section sidebar
{
    <div class="well">
        <ul class="nav nav-list">
            <li class="nav-header">Satın Alma</li>
        
            @Url.SidebarLink("Özet", "Index", "Sales", "home")
            @Url.SidebarLink("Siparişler", "Orders", "Sales", "shopping-cart")
            @Url.SidebarLink("İrsaliyeler", "Deliveries", "Sales", "share")
            @Url.SidebarLink("Satın Alma Koşulları", "MyDiscounts", "Sales", "tags")
        
            <li class="nav-header">Raporlar (Sipariş)</li>
            @Url.SidebarLink("Bakiye Sipariş Raporu", "RemainderOrderReport", "Sales", "map-marker")
            @Url.SidebarLink("Ürün Detay Bazlı Sip. Rap.", "ProductBasedOrderReport", "Sales", "map-marker")

            <li class="nav-header">Raporlar (Satış)</li>
            @Url.SidebarLink("Ürün Satış Raporu", "ProductSalesReport", "Sales", "map-marker")
            @Url.SidebarLink("Tarihsel Satış Raporu", "HistoricalSalesReport", "Sales", "map-marker")
            @Url.SidebarLink("Mağaza Dağ. Satış Raporu", "StoreSalesReport", "Sales", "map-marker")
            @Url.SidebarLink("Ürün-Mağaza Satış Raporu", "GeneralStoreSalesReport", "Sales", "map-marker")


            







            @*@Url.SidebarLink("Kategori Bazlı Alış Durumu", "SalesPerCategoryReport", "Sales", "map-marker")
            @Url.SidebarLink("Marka Bazlı Alış Durumu", "SalesPerBrandReport", "Sales", "map-marker")
            @Url.SidebarLink("Aylık Alış Durumu", "SalesPerMonthReport", "Sales", "map-marker")*@

            @*@Url.SidebarLink("Mağaza Bazlı Satış Durumu", "SalesPerStoreReport", "Sales", "map-marker")*@
            @*@Url.SidebarLink("Bölgesel Satış Durumu", "SalesPerRegionReport", "Sales", "map-marker")
            @Url.SidebarLink("İl Bazlı Satış Durumu", "SalesPerCityReport", "Sales", "map-marker")
            @Url.SidebarLink("Grup Bazlı Satış Durumu", "SalesPerGroupReport", "Sales", "map-marker")
            @Url.SidebarLink("Boyut Bazlı Satış Durumu", "SalesPerSizeReport", "Sales", "map-marker")*@
        </ul>    
    </div>
    
    @RenderSection("sidebar", required: false)
}


@RenderBody()


@section javascripts
{  
    @RenderSection("javascripts", required: false)
    
   
}
