﻿@using DerinSIS.B2B.ViewModels
@model HistoricalSalesModel
@{
    ViewBag.Title = "Tarihsel Satış Raporu";
}


<form method="GET" class="pager-form">
    @{ Html.RenderPartial("DocumentDateFilter", Model.DateFilter); }
    <div class="clearfix">
        @if (Model.HistoricalSales.Any())
        {
            <div id="product-list-summary" class="well">
                <div class="clearfix">
                    <div style="float: left; width: 80%; line-height: 30px;">
                        @{ var topSay = Model.HistoricalSales.FirstOrDefault().topSay;
                            var topPages = Model.HistoricalSales.FirstOrDefault().topSay / Model.PageLength;
                            var topKalan = Model.HistoricalSales.FirstOrDefault().topSay % Model.PageLength;
                            if (topKalan > 0)
                            {
                                topPages = topPages + 1;
                            }
                        }
                        @if (Model.Page == 1)
                        {
                        <em>Toplam @topSay sonuç bulundu</em>
                        }
                        else
                        {
                        <em>Sayfa @Model.Page / @topPages sonuç</em>
                        }
                    </div>
                    <div>
                        <a href="javascript:myFunction()">
                            <img width="32" height="32" align="right" src="/Assets/theme/img/Excel-icon.png" id="excel" alt="Export to Excel" title="Export to Excel" />
                        </a>
                    </div>
                </div>
            </div>
            

            <div class="table-responsive">
                <table id="MyProductTable" class="table table-striped">
                    <thead>
                        <tr>
                            <th>Rapor Dönemi</th>
                            <th style="text-align:right">Adet</th>
                            <th style="text-align:right">Net Tutar</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var product in Model.HistoricalSales)
                {
                        <tr>
                            <td>@product.raporDonemi</td>
                            <td class="right-aligned no-wrap">@product.adet.ToStokFormat()</td>
                            <td class="right-aligned no-wrap">@product.tutar.ToMoneyFormat()</td>
                        </tr>
                    }
                    </tbody>
                </table>
            </div>

            <input type="hidden" name="page" id="page" value="@Model.Page" />
            Html.RenderPartial("Pager", Model.HistoricalSales);
        }
        else
        {
            <div class="alert alert-error">
            <h4 class="alert-heading">Kayıt Bulunamadı!</h4>
            Aradığınız tarihler için satış bulunamadı.
            Lütfen arama koşullarını değiştirip tekrar deneyin.
            </div>
        }
    </div>

</form>

<script type="text/javascript">

    function myFunction() {


        var dateString = $('#dateFilter').val().split("-");
        var beginDateString = dateString[0];
        var endDateString = dateString[1];
        if (!endDateString) {
            endDateString = beginDateString;
        }


        window.location.href = '@Url.Action("HistoricalSalesReportExport", "Sales")' + '?ilkTar=' + beginDateString + '&sonTar=' + endDateString;
    }
</script>
