﻿@using DerinSIS.B2B.ViewModels
@model OrdersModel
@{
    ViewBag.Title = "Siparişler";
    ViewBag.SubTitle = "Satın Alma";
}

<form method="GET">
    <input type="hidden" name="productFilter" value="@Model.ProductFilterId"/>

    @if(Model.ProductFilterId.HasValue)
    {
        <div class="alert alert-info">
            <button type="button" class="a btn btn-danger btn-small remove-product-filter"><i class="icon-remove icon-white"></i></button>
            <span class="label label-important">ÜRÜN FİLTRESİ</span>
            <strong>@Model.ProductFilterLabel</strong>
        </div>
        
        <script type="text/javascript">
            $(document).ready(function () {
                $('.remove-product-filter').click(function () {
                    var t = $(this);

                    // remove value from input productFilter
                    $('input[name=productFilter]').val('');

                    // submit form
                    t.closest('form').submit();
                });
            });
        </script>
    }
    
    @{ Html.RenderPartial("DocumentDateFilter", Model.DateFilter); }
    

</form>


@if (Model.Orders.Any())
{
    <table class="table table-striped">
        <thead>
            <tr>
                <th></th>
                <th></th>
                <th>Tarih</th>
                <th>Evrak No</th>
                <th>Hareket Tipi</th>
                <th>Vade Tarihi</th>
                
                @if (Model.GosterimSecenekleri.EvrakNotuGosterilsinMi)
                {
                    <th>Evrak Notları</th>    
                }
                
                <th class="right-aligned">KDV Hariç</th>
                <th class="right-aligned">Toplam İndirim</th>
                <th class="right-aligned">KDV Hariç Net</th>
                <th>Hareket Grubu</th>    
                <th>Sevk Adresi</th>        
            </tr>
        </thead>
        
        <tbody>
            @foreach (var order in Model.Orders)
            {
                <tr>
                    <td>
                        <a href="@Url.Action("OrderDetail", new { id = order.Id })" class="visitedBtn" data-toggle="button">
                            <i class="icon-search icon-white"></i>
                        </a>
                    </td>
                    <td>
                        @if(!order.OnayliMi)
                        {
                            <span class="label label-warning">ONAYSIZ</span>    
                        }
                        else if (order.Durum == OrdersModel.OrderStatus.IPTAL)
                        {
                            <span class='label label-important'>İPTAL</span>
                        }
                        else if (order.Durum == OrdersModel.OrderStatus.ACIK)
                        {
                            <span class='label label-info'>AÇIK</span>
                        }
                        else if (order.Durum == OrdersModel.OrderStatus.FATURALASMIS)
                        {
                            <span class='label label-success'>KAPALI</span>
                        }
                    </td>
                    <th>@order.Tarih.ToShortDateString()</th>
                    <td>@order.EvrakNo</td>
                    <td>@order.HareketTipi</td>
                    <td>@order.VadeTarihi.ToShortDateString()</td>
                    
                    @if (Model.GosterimSecenekleri.EvrakNotuGosterilsinMi)
                    {
                        <td>@order.EvrakNot</td>    
                    }
                    
                    <td class="right-aligned no-wrap">@order.KDVHaricToplam.ToMoneyFormat().Replace(".", "").Replace(",", ".")</td>
                    <td class="right-aligned no-wrap">@order.ToplamIndirim.ToMoneyFormat().Replace(".", "").Replace(",", ".")</td>
                    <td class="right-aligned no-wrap">@order.KDVHaricNet.ToMoneyFormat().Replace(".", "").Replace(",", ".")</td>
                    <td>@order.HareketGrubu</td>
                    <td>@order.SevkAdresi</td>    
                </tr>
            }
        </tbody>
    </table>

}
else
{
        <div class="alert alert-error">
            <h4 class="alert-heading">Kayıt Bulunamadı!</h4>
            Aradığınız tarihler için sipariş kaydı bulunamadı.
            Lütfen arama başlangıç ve bitiş tarihlerini değiştirip tekrar deneyin.
        </div>
}

