﻿@using DerinSIS.B2B.ViewModels
@model ProductSalesModel
@{
    ViewBag.Title = "Ürün Satış Raporu";
}


<form method="GET" class="pager-form">
    <div class="clearfix product-search-elements" style="margin-bottom: 10px">
        <table>
            <tr>
                <td>
                    <input type="text" id="q" name="q" class="search-box" value="@Model.Sorgu" placeholder="Ürün Adı İçinde Ara" style="margin-bottom:0px" />
                </td>
                <td>
                    <button type="submit" class="btn" data-loading-text="Ara">Ara</button>
                </td>
            </tr>
        </table>
    </div>
    @{ Html.RenderPartial("DocumentDateFilter", Model.DateFilter); }
    <div class="well">
        @{
            Html.RenderPartial("magazaFiltre");
        }
    </div>
    <div class="clearfix">
        @if (Model.ProductSales.Any())
        {
            <div id="product-list-summary" class="well">
                <div class="clearfix">
                    <div style="float: left; width: 80%; line-height: 30px;">
                        @{ var topSay = Model.ProductSales.FirstOrDefault().topSay;
                            var topPages = Model.ProductSales.FirstOrDefault().topSay / Model.PageLength;
                            var topKalan = Model.ProductSales.FirstOrDefault().topSay % Model.PageLength;
                            if (topKalan > 0)
                            {
                                topPages = topPages + 1;
                            }
                        }
                        @if (Model.Page == 1)
                        {
                            <em>Toplam @topSay sonuç bulundu</em>
                        }
                        else
                        {
                            <em>Sayfa @Model.Page / @topPages sonuç</em>
                        }
                    </div>
                    <div>
                        <a href="javascript:myFunction()">
                            <img width="32" height="32" align="right" src="/Assets/theme/img/Excel-icon.png" id="excel" alt="Export to Excel" title="Export to Excel" />
                        </a>
                    </div>
                </div>
            </div>


            <div class="table-responsive">
                <table id="MyProductTable" class="table table-striped">
                    <thead>
                        <tr>
                            <th>Ürün Kod</th>
                            <th>Dağıtıcı Kod</th>
                            <th>Barkod</th>
                            <th>Ürün Ad</th>
                            <th style="text-align:right">Adet</th>
                            <th style="text-align:right">Tutar</th>
                        </tr>
                    </thead>
                    <tbody>

                        @foreach (var product in Model.ProductSales)
                        {
                        <tr>
                            <td>@product.stkKod</td>
                            <td>@product.dagiticiKod</td>
                            <td>@product.barkod</td>

                            @if (topPages == Model.Page && product.stkAd == "TOPLAM" && product.stkID == -1)
    {
                        <td style="font-weight:bold" data-toggle="tooltip" title="@product.stkAd">@product.stkAd.ToString().TruncateAtWord(45)</td>
                        <td style="font-weight:bold" class="right-aligned no-wrap">@product.ehAdet.ToStokFormat()</td>
                        <td style="font-weight:bold" class="right-aligned no-wrap">@product.ehTutar.ToMoneyFormat()</td>
}
else
{
                        <td data-toggle="tooltip" title="@product.stkAd">@product.stkAd.ToString().TruncateAtWord(45)</td>
                        <td class="right-aligned no-wrap">@product.ehAdet.ToStokFormat()</td>
                        <td class="right-aligned no-wrap">@product.ehTutar.ToMoneyFormat()</td>
}
                        </tr>
                        }





                    </tbody>
                </table>


            </div>

            <input type="hidden" name="page" id="page" value="@Model.Page" />
                                Html.RenderPartial("Pager", Model.ProductSales);
                            }
                            else
                            {
                                <div class="alert alert-error">
                                    <h4 class="alert-heading">Kayıt Bulunamadı!</h4>
                                    Aradığınız tarihler için ürün satışı bulunamadı.
                                    Lütfen arama koşullarını değiştirip tekrar deneyin.
                                </div>
                            }
    </div>

</form>

<script type="text/javascript">
    var totalLengthAvailable = $('.product-search-elements').width();

    /* submit button */
    totalLengthAvailable -= $('.product-search-elements button[type=submit]').outerWidth(true);

    totalLengthAvailable -= 22; /* input padding and border */
    $('input[name=q]').width(totalLengthAvailable);

    function myFunction() {

        var arama = $('input[name=q]');
        var mekan = $('input[name="mekanFilter"]');

        var dateString = $('#dateFilter').val().split("-");
        var beginDateString = dateString[0];
        var endDateString = dateString[1];
        if (!endDateString) {
            endDateString = beginDateString;
        }

        var pagerInput = $('input[name=Page]');
        pagerInput.val(1);


        window.location.href = '@Url.Action("ProductSalesReportExport", "Sales")' + '?q=' + arama + '&mekanFilter=' + mekan.val() + '&ilkTar=' + beginDateString + '&sonTar=' + endDateString;
    }


</script>
