﻿@using DerinSIS.B2B.ViewModels
@model ProductBasedOrderModel
@{
    ViewBag.Title = "Ürün Detay Bazlı Sipariş Raporu";
}


<form method="GET" class="pager-form">
    <div class="clearfix product-search-elements" style="margin-bottom: 10px">
        <table>
            <tr>
                <td>
                    <input type="text" id="q" name="q" class="search-box" value="@Model.Sorgu" placeholder="Ürün Adı İçinde Ara" style="margin-bottom:0px" />
                </td>
                <td>
                    <button type="submit" class="btn" data-loading-text="Ara">Ara</button>
                </td>
            </tr>
        </table>
    </div>
    @{ Html.RenderPartial("DocumentDateFilter", Model.DateFilter); }
    <div class="clearfix">
        @if (Model.ProductBasedOrders.Any())
        {
            <div id="product-list-summary" class="well">
                <div class="clearfix">
                    <div style="float: left; width: 70%; line-height: 30px;">
                        @{ var topSay = Model.ProductBasedOrders.FirstOrDefault().topSay;
                            var topPages = Model.ProductBasedOrders.FirstOrDefault().topSay / Model.PageLength;
                            var topKalan = Model.ProductBasedOrders.FirstOrDefault().topSay % Model.PageLength;
                            if (topKalan > 0)
                            {
                                topPages = topPages + 1;
                            }
                        }
                        @if (Model.Page == 1)
                        {
                            <em>Toplam @topSay sonuç bulundu</em>
                        }
                        else
                        {
                            <em>Sayfa @Model.Page / @topPages sonuç</em>
                        }
                    </div>
                    <div>
                        <a href="javascript:myFunctionXml()">
                            <img width="32" height="32" align="right" src="/Assets/theme/img/Xml-icon.png" id="xml" alt="Export to Xml" title="Export to Xml" />
                        </a>
                    </div>
                    <div>
                        <a href="javascript:myFunction()">
                            <img width="32" height="32" align="right" src="/Assets/theme/img/Excel-icon.png" id="excel" alt="Export to Excel" title="Export to Excel" />
                        </a>
                    </div>

                </div>
            </div>

                            if (Model.musterimi == 1)
                            {
                                <div style="text-align: right">
                                    <button id="tumunuekle" class="btn btn-success" type="button" style="margin-right:6px">Tümünü ekle!</button>
                                </div>
                            }

                            <div class="table-responsive">
                                <table id="MyProductTable" class="table table-striped">
                                    <thead>
                                        <tr>
                                            <th style="min-width:70px">Sipariş No</th>
                                            <th style="min-width:80px">Hareket Tip</th>
                                            <th>Tarih</th>
                                            <th style="min-width:80px">Sevk Tarihi</th>
                                            <th style="min-width:65px">Mekan ID</th>
                                            <th style="min-width:150px">Mekan</th>
                                            <th style="min-width:65px">Ürün Kod</th>
                                            <th style="min-width:500px">Ürün Ad</th>
                                            <th>Barkod</th>
                                            <th>Adet</th>
                                            <th>Kalan</th>
                                            <th>Sevk</th>
                                            @if (Model.stokGosterimi != 0)
                {
                                                <th>Stok</th>
                                            }
                                            <th style="min-width:80px">Kalan Tutar</th>
                                            <th style="min-width:90px">Dağıtıcı Kod</th>
                                            <th style="min-width:500px">Satır Not</th>
                                            @if (Model.stokGosterimi != 0)
                {
                                                <th></th>
                                            }
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var product in Model.ProductBasedOrders)
                                        {
                                            <tr>
                                                <td>@product.eNo</td>
                                                <td>@product.hrktTipAd</td>
                                                <td>@product.eTarih.ToString("dd.MM.yyyy")</td>
                                                <td>@product.eTarihS.ToString("dd.MM.yyyy")</td>
                                                <td>@product.mekanID</td>
                                                <td>@product.mekanAd</td>
                                                <th>@product.stkKod</th>
                                                <th data-toggle="tooltip" title="@product.stkAd">@product.stkAd.ToString().TruncateAtWord(45)</th>
                                                <td>@product.barkod</td>
                                                <td class="right-aligned no-wrap">@product.siparisAdet.ToStokFormat()</td>
                                                <td class="right-aligned no-wrap">@product.kalanAdet.ToStokFormat()</td>
                                                <td class="right-aligned no-wrap">@product.sevkAdet.ToStokFormat()</td>
                                                @if (Model.stokGosterimi != 0)
                                                {
                                                    <td class="right-aligned no-wrap">product.gosterilenStok</td>
                                                }
                                                <td class="right-aligned no-wrap">@product.kalanTutar.ToMoneyFormat()</td>
                                                <td>@product.dagiticiKod</td>
                                                <td>@product.ehNot</td>

                                                @if (Model.stokGosterimi != 0)
                                                {
                                                    <td class="right-aligned">
                                                        <form class="form-horizontal add-to-cart-form product-list-1-add-to-cart-form" action="#">
                                                            <div class="input-append input-prepend">
                                                                @if (Model.stokKontrolu > 0 && product.stok <= 0)
                                                                {
                                                                <button class="btn btn-danger add-to-cart" type="button" disabled>&nbsp;&nbsp;&nbsp;&nbsp;Stokta Yok!</button>
                                                                }
                                                                else
                                                                {
                                                                <span class="add-on"><i class="icon-shopping-cart"></i></span>
                                                                <input type="hidden" id="productId" name="productId" value="@product.stkID" />
                                                                <input type="hidden" id="stkStok" name="stkStok" value="@product.stok.ToStokFormat()" />
                                                                <input type="hidden" id="stokKontrolu" name="stokKontrolu" value="@Model.stokKontrolu" />
                                                                    if (Model.stokKontrolu > 0)
                                                                    {
                                                                        if (product.stok > product.siparisAdet)
                                                                        {
                                                                <input type="text" id="quantity" name="quantity" value="@product.siparisAdet.ToStokFormat()" />
                                                                        }
                                                                        else
                                                                        {
                                                                <input type="text" id="quantity" name="quantity" value="@product.stok.ToStokFormat()" />
                                                                        }
                                                                    }
                                                                    else
                                                                    {
                                                                <input type="text" id="quantity" name="quantity" value="@product.siparisAdet.ToStokFormat()" />
                                                                    }
                                                                <button class="btn btn-success add-to-cart" id="addtocart" type="button">Ekle!</button>
                                                                }
                                                            </div>
                                                        </form>
                                                    </td>
                                                }
                                            </tr>
                                        }

                                        @if (Model.topAdet != 0 || Model.topKalan != 0 || Model.topSevk != 0 || Model.topTutar != 0)
                                        {
                                            <tr>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td style="font-weight:bold">Toplam</td>
                                                <td style="font-weight:bold" class="right-aligned no-wrap">@Model.topAdet.ToStokFormat()</td>
                                                <td style="font-weight:bold" class="right-aligned no-wrap">@Model.topKalan.ToStokFormat()</td>
                                                <td style="font-weight:bold" class="right-aligned no-wrap">@Model.topSevk.ToStokFormat()</td>
                                                @if (Model.stokGosterimi != 0)
                                                {
                                                <td></td>
                                                }
                                                <td style="font-weight:bold" class="right-aligned no-wrap">@Model.topTutar.ToMoneyFormat()</td>
                                                <td></td>
                                                <td></td>
                                                @if(Model.stokGosterimi != 0)
                                                {
                                                <td></td>
                                                }
                                            </tr>
                                        }

                                    </tbody>
                                </table>
                            </div>

                            <input type="hidden" name="page" id="page" value="@Model.Page" />
                                Html.RenderPartial("Pager", Model.ProductBasedOrders);
                            }
                            else
                            {
                                <div class="alert alert-error">
                                    <h4 class="alert-heading">Kayıt Bulunamadı!</h4>
                                    Aradığınız tarihler için sipariş ürünü bulunamadı.
                                    Lütfen arama başlangıç ve bitiş tarihlerini değiştirip tekrar deneyin.
                                </div>
                            }
    </div>

</form>

<script type="text/javascript">

    var totalLengthAvailable = $('.product-search-elements').width();

    /* submit button */
    totalLengthAvailable -= $('.product-search-elements button[type=submit]').outerWidth(true);

    totalLengthAvailable -= 22; /* input padding and border */
    $('input[name=q]').width(totalLengthAvailable);

    $('#tumunuekle').click(function () {
        if (CountRows() == 1) {
            $.ajax({
                type: 'POST',
                url: '@Url.Action("CartMenuElementRefresh", "Store")',
                data: {},
                success: function (response) {
                    if (response) {
                        // Success
                        var urunCesidi = response.UrunCesidi;
                        var toplamFiyat = response.ToplamFiyat;
                        var sonIkiUrun = response.SonIkiUrun;

                        $('.cart-urun-cesidi').html(urunCesidi);
                        $('.cart-kdv-dahil-toplam').html(toplamFiyat);
                        $('input[name=cart-urun-cesidi]').val(urunCesidi);
                        $('input[name=cart-kdv-dahil-toplam]').val(toplamFiyat);

                        var sonUrun = sonIkiUrun[0];
                        $('input[name=last-product]').val(sonUrun);

                        if (sonIkiUrun.length > 1) {
                            var previousProduct = sonIkiUrun[1];
                            $('input[name=previous-product]').val(previousProduct);
                        }
                    }
                }
            });
        }

    });

    function CountRows() {
        var table = document.getElementById("MyProductTable");
        var rows = table.getElementsByTagName("tr")
        for (var i = 0; i < rows.length; i++) {
            if (rows[i].getElementsByTagName("td").length > 0) {
                if (rows[i].getElementsByTagName("button")["addtocart"] != null) {
                    (rows[i].getElementsByTagName("button")["addtocart"]).click();
                }
            }
        }
        return 1;
    }


    function myFunction() {

        var arama = $('input[name=q]');

        var dateString = $('#dateFilter').val().split("-");
        var beginDateString = dateString[0];
        var endDateString = dateString[1];
        if (!endDateString) {
            endDateString = beginDateString;
        }

        window.location.href = '@Url.Action("ProductBasedOrderReportExport", "Sales")' + '?q=' + arama.val() + '&ilkTar=' + beginDateString + '&sonTar=' + endDateString;
    }

    function myFunctionXml() {

        var arama = $('input[name=q]');

        var dateString = $('#dateFilter').val().split("-");
        var beginDateString = dateString[0];
        var endDateString = dateString[1];
        if (!endDateString) {
            endDateString = beginDateString;
        }

        var pagerInput = $('input[name=Page]');
        pagerInput.val(1);

        window.location.href = '@Url.Action("ProductBasedOrderReportXml", "Sales")' + '?q=' + arama.val() + '&ilkTar=' + beginDateString + '&sonTar=' + endDateString;
    }


</script>
