﻿@using DerinSIS.B2B.ViewModels
@model RemainderOrderModel
@{
    ViewBag.Title = "Bakiye Sipariş Raporu";
}

<form method="GET" class="pager-form">

    <div class="clearfix product-search-elements" style="margin-bottom: 10px">
        <table>
            <tr>
                <td>
                    <input type="text" id="q" name="q" class="search-box" value="@Model.Sorgu" placeholder="Evrak No" style="margin-bottom:0px" />
                </td>
                <td>
                    <button type="submit" class="btn" data-loading-text="Ara">Ara</button>
                </td>
            </tr>
        </table>
    </div>

    @{ Html.RenderPartial("DocumentDateFilter", Model.DateFilter); }
    <div class="clearfix">
        @if (Model.RemainderOrders.Any())
            {
            <div id="product-list-summary" class="well">
                <div class="clearfix">
                    <div style="float: left; width: 80%; line-height: 30px;">
                        @{ var topSay = Model.RemainderOrders.FirstOrDefault().topSay;
                            var topPages = Model.RemainderOrders.FirstOrDefault().topSay / Model.PageLength;
                            var topKalan = Model.RemainderOrders.FirstOrDefault().topSay % Model.PageLength;
                            if (topKalan > 0)
                            {
                                topPages = topPages + 1;
                            }
                        }
                        @if (Model.Page == 1)
                        {
                            <em>Toplam @topSay sonuç bulundu</em>
                        }
                        else
                        {
                            <em>Sayfa @Model.Page / @topPages sonuç</em>
                        }
                    </div>
                    <div>
                        <a href="javascript:myFunction()">
                            <img width="32" height="32" align="right" src="/Assets/theme/img/Excel-icon.png" id="excel" alt="Export to Excel" title="Export to Excel" />
                        </a>
                    </div>
                </div>
            </div>


                <div class="table-responsive">
                    <table id="MyProductTable" class="table table-striped">
                        <thead>
                            <tr>
                                <th style="min-width:70px">Sipariş No</th>
                                <th style="min-width:80px">Hareket Tip</th>
                                <th>Tarih</th>
                                <th style="min-width:80px">Sevk Tarihi</th>
                                <th style="min-width:65px">Mekan ID</th>
                                <th style="min-width:150px">Mekan</th>
                                <th style="min-width:80px">Top. Adet</th>
                                <th style="min-width:80px">Top. Tutar</th>
                                <th style="min-width:80px">Kalan Adet</th>
                                <th style="min-width:80px">Kalan Tutar</th>
                                <th>İndirim</th>
                                <th style="min-width:80px">Sevk Adet</th>
                                <th style="min-width:80px">Sevk Tutar</th>
                                <th style="min-width:110px">Teslimat Yüzde</th>
                                <th>Not</th>
                                <th style="min-width:500px">Belge sonu notu</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var product in Model.RemainderOrders)
                            {
                                <tr>
                                    <td>@product.eNo</td>
                                    <td>@product.hrktTipAd</td>
                                    <td>@product.eTarih.ToString("dd.MM.yyyy")</td>
                                    <td>@product.eTarihS.ToString("dd.MM.yyyy")</td>
                                    <td>@product.mekanID</td>
                                    <td>@product.mekanAd</td>
                                    <td class="right-aligned no-wrap">@product.siparisAdet.ToStokFormat()</td>
                                    <td class="right-aligned no-wrap">@product.siparisTutar.ToMoneyFormat()</td>
                                    <td class="right-aligned no-wrap">@product.kalanAdet.ToStokFormat()</td>
                                    <td class="right-aligned no-wrap">@product.kalanTutar.ToMoneyFormat()</td>
                                    <td class="right-aligned no-wrap">@product.ehIndirim.ToMoneyFormat()</td>
                                    <td class="right-aligned no-wrap">@product.sevkAdet.ToStokFormat()</td>
                                    <td class="right-aligned no-wrap">@product.sevkTutar.ToMoneyFormat()</td>
                                    <td class="right-aligned no-wrap">@product.teslimatYuzde.ToMoneyFormat()</td>
                                    <td>@product.eNot</td>
                                    <td>@product.belgeSonuNot</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>

                <input type="hidden" name="page" id="page" value="@Model.Page" />
                                Html.RenderPartial("Pager", Model.RemainderOrders);
                            }
                            else
                            {
                                <div class="alert alert-error">
                                    <h4 class="alert-heading">Kayıt Bulunamadı!</h4>
                                    Aradığınız tarihler için bakiye sipariş bulunamadı.
                                    Lütfen arama başlangıç ve bitiş tarihlerini değiştirip tekrar deneyin.
                                </div>
                            }
    </div>

</form>

<script type="text/javascript">
    var totalLengthAvailable = $('.product-search-elements').width();

    /* submit button */
    totalLengthAvailable -= $('.product-search-elements button[type=submit]').outerWidth(true);

    totalLengthAvailable -= 22; /* input padding and border */
    $('input[name=q]').width(totalLengthAvailable);


    function myFunction() {

        var arama = $('input[name=q]');

        var dateString = $('#dateFilter').val().split("-");
        var beginDateString = dateString[0];
        var endDateString = dateString[1];
        if (!endDateString) {
            endDateString = beginDateString;
        }


        var pagerInput = $('input[name=Page]');
        pagerInput.val(1);

        window.location.href = '@Url.Action("RemainderOrderReporExport", "Sales")' + '?q=' + arama.val() + '&ilkTar=' + beginDateString + '&sonTar=' + endDateString;
    }

</script>
