﻿@model DerinSIS.B2B.ViewModels.SalesPerCategoryModel

@{
    ViewBag.Title = "Kategori Bazlı Satış Durumu";
}
<input id="categoryName" type="hidden" value="@Model.Categories"/>
<input id="brandName"    type="hidden" value="@Model.Brands"/>
<input id="pCount"       type="hidden" value="@Model.ProductCount"/>
<input id="cityName"     type="hidden" value="@Model.Cities"/>
<input id="groupName"    type="hidden" value="@Model.Groups"/>
<input id="statueName"   type="hidden" value="@Model.Status"/>
<input id="sCount"       type="hidden" value="@Model.StoreCount"/>

<form method="GET">
    @{ Html.RenderPartial("DocumentDateFilter", Model.DateFilter); }
    <div class="well">
        @{
            Html.RenderPartial("StoreFilter");
            Html.RenderPartial("ProductFilter");
        }
        
    </div>
</form>

    @if(Model.Reports.Any())
    {
        <table id="store" class="table table-striped table-bordered table-condensed">
            <thead>
                <tr>
                    <th style="text-align: center;">Kategori</th>
                    <th style="text-align: center;">Toplam Adet</th>
                    <th style="text-align: center;">İade Adet</th>
                    <th style="text-align: center;">Net Adet</th>
                    <th style="text-align: center;">Toplam Tutar</th>
                    <th style="text-align: center;">İade Tutar</th>
                    <th style="text-align: center;">Net Tutar</th>
                    <th style="text-align:center;">Yüzde</th>
                </tr>
            </thead>
            <tbody>
                @{
                    var total = Model.Reports.Sum(x => x.TotalSale) - Model.Reports.Sum(x => x.RefundofSale);
                }
                @foreach (var item in Model.Reports)
                {
                    <tr>
                        <td style="text-align: left;">@item.CategoryName</td>
                        <td style="text-align: right;">@((item.TotalSaleCount).ToQuantityFormat())</td>
                        <td style="text-align: right;">@((item.RefundofSaleCount).ToQuantityFormat())</td>
                        <td style="text-align: right;">@(((item.TotalSaleCount - item.RefundofSaleCount)).ToQuantityFormat())</td>
                        <td style="text-align: right;">@item.TotalSale.ToMoneyFormat().Replace(".", "").Replace(",", ".")</td>
                        <td style="text-align: right;">@item.RefundofSale.ToMoneyFormat().Replace(".", "").Replace(",", ".")</td>
                        <td style="text-align: right;">@((Convert.ToDecimal(item.TotalSale - item.RefundofSale)).ToMoneyFormat().Replace(".", "").Replace(",", "."))</td>
                        <td style="text-align: right;">%@(((((item.TotalSale - item.RefundofSale)/total)*100).ToString("n2")))</td>
                    </tr>
                }
            </tbody>
        </table>
    }
else
{
        <div class="alert alert-error">
            <h4 class="alert-heading">Kayıt Bulunamadı!</h4>
            Aradığınız tarihler için satış kaydı bulunamadı.
            Lütfen arama başlangıç ve bitiş tarihlerini değiştirip tekrar deneyin.
        </div>
}
@section javascripts
{
 <script type="text/javascript">
     $(document).ready(function () {

         jQuery.extend(jQuery.fn.dataTableExt.oSort, {
             
             "formatted-num-pre": function (a) {
                 a = (a === "-") ? 0 : a.replace(/[^\d\-\.]/g, "");
                 return parseFloat(a);
             },

             "formatted-num-asc": function (a, b) {
                 return a - b;
             },

             "formatted-num-desc": function (a, b) {
                 return b - a;
             },
             "numeric-comma-pre": function (a) {
                 var x = (a == "-") ? 0 : a.replace(/,/, ".");
                 return parseFloat(x);
             },

             "numeric-comma-asc": function (a, b) {
                 return ((a < b) ? -1 : ((a > b) ? 1 : 0));
             },

             "numeric-comma-desc": function (a, b) {
                 return ((a < b) ? 1 : ((a > b) ? -1 : 0));
             },
             "percent-pre": function (a) {
                 var x = (a == "-") ? 0 : a.replace(/%/, "");
                 return parseFloat(x);
             },

             "percent-asc": function (a, b) {
                 return ((a < b) ? -1 : ((a > b) ? 1 : 0));
             },

             "percent-desc": function (a, b) {
                 return ((a < b) ? 1 : ((a > b) ? -1 : 0));
             }

         });
         $('#store').dataTable({
             "aaSorting": [[7, "desc"]],
             "aoColumns": [
                null,
                { "sType": "numeric-comma" },
                { "sType": "numeric-comma" },
                { "sType": "numeric-comma" },
                { "sType": "formatted-num" },
                { "sType": "formatted-num" },
                { "sType": "formatted-num" },
                { "sType":  "percent-pre" }
             ]
         });
         loadProductFilter();
         loadStoreFilter();
     });

 </script>   
}
