﻿@using DerinSIS.B2B.ViewModels
@model StoreSalesModel
@{
    ViewBag.Title = "Mağaza Dağılımlı Satış Raporu";
}


<form method="GET" class="pager-form">
    @{ Html.RenderPartial("DocumentDateFilter", Model.DateFilter); }
    <div class="clearfix">
        @if (Model.StoreSales.Any())
        {
            <div id="product-list-summary" class="well">
                <div class="clearfix">
                    <div style="float: left; width: 80%; line-height: 30px;">
                        @{ var topSay = Model.StoreSales.FirstOrDefault().topSay;
                            var topPages = Model.StoreSales.FirstOrDefault().topSay / Model.PageLength;
                            var topKalan = Model.StoreSales.FirstOrDefault().topSay % Model.PageLength;
                            if (topKalan > 0)
                            {
                                topPages = topPages + 1;
                            }
                        }
                        @if (Model.Page == 1)
                        {
                            <em>Toplam @topSay sonuç bulundu</em>
                        }
                        else
                        {
                            <em>Sayfa @Model.Page / @topPages sonuç</em>
                        }
                    </div>
                    <div>
                        <a href="javascript:myFunction()">
                            <img width="32" height="32" align="right" src="/Assets/theme/img/Excel-icon.png" id="excel" alt="Export to Excel" title="Export to Excel" />
                        </a>
                    </div>
                </div>
            </div>


            <div class="table-responsive">
                <table id="MyProductTable" class="table table-striped">
                    <thead>
                        <tr>
                            <th>Mekan ID</th>
                            <th>Mekan Ad</th>
                            <th style="text-align:right">Adet</th>
                            <th style="text-align:right">Net Tutar</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var product in Model.StoreSales)
                        {
                            <tr>
                                <td>@product.mekanID</td>
                                <td>@product.mekanAd</td>
                                <td class="right-aligned no-wrap">@product.adet.ToStokFormat()</td>
                                <td class="right-aligned no-wrap">@product.tutar.ToMoneyFormat()</td>
                            </tr>
                        }
                        @if (Model.topAdet >0 || Model.topTutar >0)
                        {
                            <tr>
                                <td></td>
                                <td style="font-weight:bold">TOPLAM</td>
                                <td style="font-weight:bold" class="right-aligned no-wrap">@Model.topAdet.ToStokFormat()</td>
                                <td style="font-weight:bold" class="right-aligned no-wrap">@Model.topTutar.ToMoneyFormat()</td>
                            </tr>

                        }
                    </tbody>
                </table>
            </div>

            <input type="hidden" name="page" id="page" value="@Model.Page" />
                                Html.RenderPartial("Pager", Model.StoreSales);
                            }
                            else
                            {
                                <div class="alert alert-error">
                                    <h4 class="alert-heading">Kayıt Bulunamadı!</h4>
                                    Aradığınız tarihler için satış bulunamadı.
                                    Lütfen arama koşullarını değiştirip tekrar deneyin.
                                </div>
                            }
    </div>

</form>

<script type="text/javascript">


    function myFunction() {


        var dateString = $('#dateFilter').val().split("-");
        var beginDateString = dateString[0];
        var endDateString = dateString[1];
        if (!endDateString) {
            endDateString = beginDateString;
        }


        window.location.href = '@Url.Action("StoreSalesReportExport", "Sales")' + '?ilkTar=' + beginDateString + '&sonTar=' + endDateString;
    }
</script>
