﻿@model DerinSIS.B2B.ViewModels.ProductGroupSlideShowModel

@if(!Model.Images.Any())
{
    @* Show Image Placeholder *@
    <img src="@Url.Action("PlaceHolderThumb", "Thumbnail", new { width=380, height=280 })" alt="" />
}

else if (Model.Images.Count() == 1)
{
    @* Show Single Image *@
    <a class="fancybox-thumb" href="@Url.Action("FitThumb", "Thumbnail", new { name= Model.Images.Single(), width = 800, height = 600 })">
        <img src="@Url.Action("FitThumb", "Thumbnail", new { name= Model.Images.Single(), width = 380, height = 280 })" alt="" />
    </a>
}

else
{
    @* Show slideshow *@
    
    <div id="product-carousel" class="carousel">
        <div class="carousel-inner">
            @foreach (var image in Model.Images)
            {
                <div class="item @(Model.Images.ElementAt(0) == image ? "active" : "")">
                    <a class="fancybox-thumb" rel="fancybox-thumb" href="@Url.Action("FitThumb", "Thumbnail", new { name = image, width = 800, height = 600 })">
                        <img src="@Url.Action("FitThumb", "Thumbnail", new { name = image, width = 380, height = 280 })" alt="" width="380" height="280" />    
                    </a>
                    
                </div>    
            }
        </div>

        <!-- Carousel nav -->
        <a class="carousel-control left" href="#product-carousel" data-slide="prev">&lsaquo;</a>
        <a class="carousel-control right" href="#product-carousel" data-slide="next">&rsaquo;</a>
    </div>
}

<script type="text/javascript">
    $(document).ready(function () {

        $('.fancybox-thumb').fancybox({
            prevEffect: 'none',
            nextEffect: 'none',
            helpers: {
                title: {
                    type: 'outside'
                },
                overlay: {
                    opacity: 0.8,
                    css: {
                        'background-color': '#000'
                    }
                },
                thumbs: {
                    width: 50,
                    height: 50
                }
            }
        });

    });
</script>