﻿@model DerinSIS.B2B.ViewModels.ChangePasswordModel

@{
    ViewBag.Title = "Şifre Güncelleme";
}


@using (Html.BeginForm("ChangePassword", "Account", FormMethod.Post, new { @class="form-stacked" })) {
    <fieldset>
        @Html.EditorForModel()

        <div class="actions">
            <input type="submit" class="btn btn-large btn-info" data-loading-text="Güncelleniyor..." value="Şifremi Güncelle" />
        </div>
    </fieldset>
}