﻿
<div class="well">
    <strong>@ViewBag.CompanyName</strong>
      @if(ViewBag.Efatura>0)
    {
       <p class="label label-info">E fatura (@(ViewBag.Efatura==1? "Temel" : "Ticari"))</p> 
    }
    <hr/>
    <p>
        @ViewBag.ContactName
        <br />
        @ViewBag.ContactEmail
    </p>
  
</div>