﻿@model DerinSIS.B2B.ViewModels.LogOnModel

@{
    ViewBag.Title = "Üye Girişi";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="centered-page-logo">
    <img src="@Url.Content("~/Assets/theme/img/logo.png")"/>
</div>


<div class="block login">
    <div class="block-header">
        <h2>ÜYE GİRİŞİ</h2>
    </div>
    
    <div class="block-content">
        @{ Html.RenderPartial("FlashMessages"); }

        <form method="POST" action="">
            <fieldset>
                @Html.EditorForModel("ObjectWithoutErrors")

                <div class="actions">
                    <input type="submit" class="btn btn-large btn-info" data-loading-text="Yükleniyor..." value="Giriş" />
                        
                    <label class="checkbox inline remember-me">
                        <input type="checkbox" value="false" />
                        Beni bu bilgisayarda hatırla
                    </label>
                </div>
            </fieldset>
        </form>
    </div>
</div>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m);
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-46469006-2', 'pehlivankirtasiye.com.tr');
  ga('send', 'pageview');

</script>