﻿
@model DerinSIS.B2B.ViewModels.MyProfileModel

@{
    ViewBag.Title = "Profilim";
}


<div class="well page-actions right-aligned">
    <a href="@Url.Action("ChangePassword", "Account")" class="btn btn-info">Şifremi Güncelle</a>    
</div>
    


<div class="row">
    <div class="span5">
        <h3>Yetkili</h3>
            
        <table class="table table-striped table-condensed table-bordered">
            <tr>
                <th>Yetkili İsmi:</th>
                <td>@Model.YetkiliIsmi</td>
            </tr>
            <tr>
                <th>Yetkili E-posta:</th>        
                <td>@Model.YetkiliEPosta</td>
            </tr>
        </table>
        
    </div>
    
    <div class="span4">
        <h3>Vergi Dairesi</h3>
        
        <table class="table table-striped table-condensed table-bordered">
            <tr>
                <th>Vergi Dairesi:</th>
                <td>@Model.FirmaVergiDairesi</td>
            </tr>
            <tr>
                <th>Vergi No:</th>
                <td>@Model.FirmaVergiNo</td>
            </tr>
        </table>
    </div>
</div>

<hr />

<div class="row">
    <div class="span5">
        <h3>Firma Adresi</h3>
        
        <table class="table table-striped table-condensed table-bordered">
            <tr>
                <th style="width: 80px;">Adres:</th>
                <td>@Model.FirmaAdresDetay</td>
            </tr>
            <tr>
                <th>Posta Kodu</th>
                <td>@Model.FirmaAdresPostaKodu</td>
            </tr>
            <tr>
                <th>İlçe</th>
                <td>@Model.FirmaAdresIlce</td>
            </tr>
            <tr>
                <th>Şehir</th>
                <td>@Model.FirmaAdresSehir</td>
            </tr>
            <tr>
                <th>Ülke</th>
                <td>@Model.FirmaAdresUlke</td>
            </tr>
        </table>
    </div>
    
    <div class="span4">
        <h3>Firma Telefonları</h3>
        
        <table class="table table-striped table-condensed table-bordered">
            <tr>
                <th>Tel 1:</th>
                <td>@Model.FirmaTel1</td>
            </tr>
            <tr>
                <th>Tel 2:</th>
                <td>@Model.FirmaTel2</td>
            </tr>
            <tr>
                <th>Cep Telefonu:</th>
                <td>@Model.FirmaTelGsm</td>
            </tr>
            <tr>
                <th>Faks No:</th>
                <td>@Model.FirmaTelFax</td>
            </tr>
        </table>
    </div>
</div>