﻿
@{
    ViewBag.Title = "Şifre Oluşturma";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="centered-page-logo">
    <img src="@Url.Content("~/Assets/theme/img/logo.png")"/>
</div>


<div class="block login">
    <div class="block-header">
        <h2>Şifre Oluşturma</h2>
    </div>
    
    <div class="block-content">
        @{ Html.RenderPartial("FlashMessages"); }
        
        <div class="alert alert-success">
            <strong>Yeni şifreniz başarıyla kaydedilmiştir.</strong>
        </div>
        
        <p>
            Devam etmek ve yeni şifrenizi kullanarak sisteme üye giriş yapmak için 
            <a href="@Url.Action("Index", "Home")">lütfen tıklayınız.</a>
        </p>
    </div>
</div>

