﻿@{
    Layout = "~/Views/Shared/_ContentLayout.cshtml";
}


@section sidebar
{
    <div class="well">
        <ul class="nav nav-list">
            
            <li class="nav-header">Firma Yönetimi</li>
            @Url.SidebarLink("Kullanıcılar", "CompanyUsers", "Management", "user")
        </ul>
    </div>
}


@RenderBody()


@section javascripts
{
    @RenderSection("javascripts", required: false)
}
