﻿@model DerinSIS.B2B.ViewModels.EditUserModel

@{
    ViewBag.Title = "Kullanıcı Düzenle";
    ViewBag.SubTitle = "Firma Yönetimi";
}


<form method="POST" action="" class="form-horizontal">
    <fieldset>
    
        <div class="control-group @(ViewData.ModelState.IsValidField("EPosta") ? "" : "error")">
            <label for="EPosta" class="control-label">E-Posta Adresi</label>
            <div class="controls">
                @Html.EditorFor(x => x.EPosta)    
            
                @if (!ViewData.ModelState.IsValidField("EPosta"))
                {
                    <span class="help-inline">@Html.ValidationMessage("EPosta")</span>
                }    
            </div>
        </div>
        
        <div class="control-group @(ViewData.ModelState.IsValidField("Isim") ? "" : "error")">
            <label for="Isim" class="control-label">İsim</label>
            <div class="controls">
                @Html.EditorFor(x => x.Isim)    
            
                @if (!ViewData.ModelState.IsValidField("Isim"))
                {
                    <span class="help-inline">@Html.ValidationMessage("Isim")</span>
                }    
            </div>
        </div>
        
        <div class="control-group @(ViewData.ModelState.IsValidField("Unvan") ? "" : "error")">
            <label for="Unvan" class="control-label">Ünvan</label>
            <div class="controls">
                @Html.EditorFor(x => x.Unvan)    
            
                @if (!ViewData.ModelState.IsValidField("Unvan"))
                {
                    <span class="help-inline">@Html.ValidationMessage("Unvan")</span>
                }    
            </div>
        </div>

        
        @if (Model.AdminSiparisYetkisi)
        {
            <div class="control-group">
                <label for="EPosta" class="control-label">Sipariş Yetkisi</label>
                <div class="controls">
                    @Html.EditorFor(x => x.SiparisYetkisi)
                </div>
            </div>
        }
        
        @if (Model.AdminSevkiyatYetkisi)
        {
            <div class="control-group">
                <label for="AdminSevkiyatYetkisi" class="control-label">Sevkiyat Yetkisi</label>
                <div class="controls">
                    @Html.EditorFor(x => x.SevkiyatYetkisi)
                </div>
            </div>
        }
        
        @if (Model.AdminFaturaYetkisi)
        {
            <div class="control-group">
                <label for="AdminFaturaYetkisi" class="control-label">Fatura Yetkisi</label>
                <div class="controls">
                    @Html.EditorFor(x => x.FaturaYetkisi)        
                </div>
            </div>
        }
        
        @if (Model.AdminMutabakatYetkisi)
        {
            <div class="control-group">
                <label for="AdminMutabakatYetkisi" class="control-label">Mutabakat Yetkisi</label>
                <div class="controls">
                    @Html.EditorFor(x => x.MutabakatYetkisi)
                </div>
            </div>
        }
        
        
        <div class="control-group">
            <label for="AktifKullanici" class="control-label">Aktif Kullanıcı Mı?</label>
            <div class="controls">
                @Html.EditorFor(x => x.AktifKullanici)        
            </div>
        </div>

        @Html.EditorFor(x => x.AdminFaturaYetkisi)
        @Html.EditorFor(x => x.AdminMutabakatYetkisi)
        @Html.EditorFor(x => x.AdminSevkiyatYetkisi)
        @Html.EditorFor(x => x.AdminSiparisYetkisi)
        <div class="form-actions">
            <input type="submit" class="btn btn-large btn-info" data-loading-text="Kaydediliyor..." value="Kaydet" />
        </div>
    </fieldset>
</form>