﻿
@{
    Layout = "~/Views/Shared/_ContentLayout.cshtml";
}


@section sidebar
{
    <ul class="nav nav-tabs product-filter-tabs">
        <li class="active"><a href="#product-category-tree" data-toggle="tab">Kategoriler</a></li>
        <li><a href="#product-brand-tree" data-toggle="tab">Üretici-Marka</a></li>
    </ul>
    
    <div class="tab-content product-filter-content">
        <div class="tab-pane active" id="product-category-tree">
            @{ Html.RenderAction("CategoryTree"); }        
        </div>
        <div class="tab-pane" id="product-brand-tree">
            @{ Html.RenderAction("BrandTree"); }        
        </div> 
    </div>
    
             <br>
            @{ Html.RenderAction("Prices"); }        
      
    
    
  

    @{ Html.RenderAction("CartSidebarElement"); }
}


@RenderBody()


@section javascripts
{
    @{
        var currentAction = Url.RequestContext.RouteData.GetRequiredString("action");
        string currentController = Url.RequestContext.RouteData.GetRequiredString("controller");
    }
    @if(currentAction != "Index" || currentController != "Store")
    {
        <div style="display: none;">
            <form method="GET" class="product-search" action="@Url.Action("Index", "Store")">
                <input type="text" name="q" class="span5" value="" data-provide="typeahead" />
                <input type="hidden" name="categoryId" value=""/>
                <input type="hidden" name="producerId" value="" />
                <input type="hidden" name="brandId" value="" />
                <input type="hidden" name="page" value=""/>
                <input type="hidden" name="kmp" value=""/>
                <input type="hidden" name="price" value=""/>
                <input type="hidden" name="priceLabel" value=""/>
            </form>
        </div>    
    }

    <script type="text/javascript">
        

        $('[data-fiyataraligi]').click(function() {
            var productSearchForm = $('form.product-search');
            var deger = $(this).data('fiyataraligi');
            var degerlabel = $(this).text();

            $('input[name=price]').val(deger);
            $('input[name=priceLabel]').val(degerlabel);

            productSearchForm.submit();
        });

        $(document).ready(function () {
            var productSearchForm = $('form.product-search');

            $('#kmp').change(function () {
                productSearchForm.submit();
            });

            function clearTreeSelection(tree) {
                $("#" + tree).dynatree("getRoot").visit(function (node) {
                    node.deactivate();
                    if (tree == "brand-tree")
                        node.expand(true);
                    else
                        node.expand(false);
                });
            }

            /* Category Tree
            * ----------------------------------------------------- */
            $('#category-tree').dynatree({
                fx: { height: "toggle", duration: 200 },
                persist: true,
                cookieId: "category-tree",
                onActivate: function (node) {
                    var selectedCategoryId = node.data.key.substr(9);

                    var categoryFilter = productSearchForm.find('input[name=categoryId]');
                    categoryFilter.val(selectedCategoryId);

                    productSearchForm.submit();
                }
            });
         
            

            if (productSearchForm.find('input[name=categoryId]').val() === "") {
                clearTreeSelection("category-tree");
            }


            /* Brand Tree
            * ----------------------------------------------------- */
            $('#brand-tree').dynatree({
                fx: { height: "toggle", duration: 200 },
                persist: true,
                cookieId: "brand-tree",
                onActivate: function (node) {
                    var brandFilter = productSearchForm.find('input[name=brandId]');
                    var producerFilter = productSearchForm.find('input[name=producerId]');

                    var selectedItemId = node.data.key;
                    if (selectedItemId.substr(0, 5) === "brand") {
                        var brandId = selectedItemId.substr(6);
                        brandFilter.val(brandId);
                        producerFilter.val("");
                    }
                    else {
                        var producerId = selectedItemId.substr(9);
                        producerFilter.val(producerId);
                        brandFilter.val("");
                    }

                    productSearchForm.submit();
                }
            });

            if (productSearchForm.find('input[name=brandId]').val() === "" && productSearchForm.find('input[name=producerId]').val() === "") {
                clearTreeSelection("brand-tree");
            }

            $('a[data-toggle="tab"]').on('shown', function (e) {
                var t = $(e.target);

                $.cookie('last-known-tab', t.attr('href'));
            });

            // on init activate last selected tab
            var lastKnownTab = "#product-category-tree";
            if ($.cookie('last-known-tab')) {
                lastKnownTab = $.cookie('last-known-tab');
            }
            $('a[data-toggle="tab"][href=' + lastKnownTab + ']').tab('show');
        });
    </script>

    @RenderSection("javascripts", required: false)
}

