﻿@model DerinSIS.B2B.ViewModels.BrandTreeModel


<div id="brand-tree">
    <ul class="ex">
        @foreach (var producer in Model.Producers)
        {
            <li id="producer-@producer.Id" >
                <a href="#">@producer.Name                    <span class="badge">@producer.Brands.Sum(x=>x.Count)</span></a>
                
                <ul style="display: none">
                    @foreach(var brand in producer.Brands)
                    {
                        <li id="brand-@brand.Id"><a href="#">@brand.Name                    <span class="badge">@brand.Count</span></a></li>
                    }
                </ul>
            </li>
        }
    </ul>
</div>




