﻿@model DerinSIS.B2B.ViewModels.CartMenuElementModel
           
<li>
    <a href="@Url.Action("Cart", "Store")" class="cartelement" data-placement="bottom">
        
        <i class="icon-shopping-cart icon-white"></i>
        @Model.AktifSepetIsmi
        
        (<span class="cart-urun-cesidi">@Model.ToplamUrunCesidi</span> Ürün - 
        <span class="cart-kdv-dahil-toplam">@Model.KDVDahilTutar.ToMoneyFormat()</span> TL)
        
        @{
            var lastItem = Model.SonEklenen2Urun.FirstOrDefault();
            var previousItem = Model.SonEklenen2Urun.LastOrDefault();
        }
        <input type="hidden" class="" name="active-cart-name" value="@Model.AktifSepetIsmi" />
        <input type="hidden" class="cart-urun-cesidi" name="cart-urun-cesidi" value="@Model.ToplamUrunCesidi" />
        <input type="hidden" class="cart-kdv-dahil-toplam" name="cart-kdv-dahil-toplam" value="@Model.KDVDahilTutar.ToMoneyFormat()" />
        <input type="hidden" class="cart-last-product" name="last-product" value="@(lastItem != null ? lastItem.UrunIsmi : "")"/>    
        <input type="hidden" class="cart-previous-product" name="previous-product" value="@(previousItem != null ? previousItem.UrunIsmi : "")"/>    
    </a>
</li>