﻿@model DerinSIS.B2B.ViewModels.CartSidebarElementModel
           
@helper CartTooltipContent() {
    if(Model.ToplamUrunCesidi > 0)
    {
        <h6></h6>
    }
    else
    {
        <h6>ÜRÜN BULUNMAMAKTADIR</h6><br />
    }
}

<div class="well">
    <h6>@Model.AktifSepetIsmi:</h6>
    
    <table class="table">
        <tr>
            <td>ÜRÜN ÇEŞİDİ</td>
            <th class="right-aligned"><span class="cart-urun-cesidi">@Model.ToplamUrunCesidi</span> ÜRÜN ÇEŞİDİ</th>
        </tr>
        <tr>
            <td>TUTAR</td>
            <th class="right-aligned"><span class="cart-kdv-dahil-toplam">@Model.KDVDahilTutar.ToMoneyFormat()</span> TL</th>
        </tr>
    </table>
    
    <a href="@Url.Action("Cart")" class="btn btn-info">
        <i class="icon-shopping-cart icon-white"></i>
        Sepete Git
    </a>
</div>