﻿

@model DerinSIS.B2B.ViewModels.OrderSummaryModel
@{
    ViewBag.Title = "Sipariş Onayı";
}



<div class="well">
    <h3>Toplam Fiyat: @Model.Urunler.Sum(x => x.TotalPrice).ToString("N") TL</h3>
</div>

<div class="well">
    <h6>SEVK ADRESİ</h6>
    <h4>@Model.AdresAdi</h4>
    <p>
        @Model.AdresSatiri1<br />
        @Model.AdresSatiri2<br />
        @Model.AdresPostaKodu<br />
        @Model.AdresIlce / @Model.AdresIl
    </p>
</div>

<div class="well">
    <table class="table table-striped">
        <thead>
            <th>Ürün</th>
            <th>Birim Fiyat</th>
            <th>İndirimli Birim Fiyat</th>
            <th>Adet</th>
            <th>Toplam Fiyat</th>
        </thead>
        @foreach(var item in Model.Urunler)
        {
            <tr>
                <td><strong>@item.ProductName</strong></td>
                <td>@item.ProductUnitPrice.ToString("N") TL</td>
                <td>@item.ProductUnitDiscountedPrice.ToString("N") TL</td>
                <td>@item.Quantity.ToString("N")</td>
                <td>@item.TotalPrice.ToString("N")</td>
            </tr>
        }
    </table>
</div>

<form id="" method="POST" action="@Url.Action("CompleteOrder", "Store", new { addressId = Model.AdresId })">
    
    <div class="well">
        <h6>SİPARİŞ NOTU:</h6>
        <div class="row-fluid">
            <div>
                <input type="text" name="sipNotSatiri1" maxlength="33" class="span5" />
            </div>
            <div>
                <input type="text" name="sipNotSatiri2" maxlength="33" class="span5" />
            </div>
            <div>
                <input type="text" name="sipNotSatiri3" maxlength="33" class="span5" />
            </div>
        </div>
        
    </div>

    <div class="form-actions">
        <button type="submit" class="btn btn-success btn-large" data-loading-text="Sipariş Tamamlanıyor...">
            <i class="icon-shopping-cart icon-white"></i>
            Siparişi Tamamla
        </button>    
    </div>
</form>