﻿@model DerinSIS.B2B.ViewModels.OrderCompletedModel
@{
    ViewBag.Title = "Siparişiniz Tamamlandı";
}


<div class="alert alert-info">
    <strong>Siparişiniz Başarıyla Tamamlanmıştır.</strong>
    <p>
        Siparişinizi takip etmek için Sipariş Detayına bakabilirsiniz.
    </p>
    <p>
        <a class="btn btn-info" href="@Url.Action("OrderDetail", "Sales", new { id = Model.SiparisId })">
            Sipariş Detaylarına Git <i class="icon-chevron-right icon-white"></i>
        </a>
    </p>
</div>
@if(!string.IsNullOrWhiteSpace(Model.SiparisNotu))
{
    <div class="well">
        <h6>SİPARİŞ NOTU:</h6>
        @Model.SiparisNotu.PadRight(33)<br />
        @Model.SiparisNotu.PadRight(33).PadLeft(33).Substring(33)<br />
        @Model.SiparisNotu.PadRight(33).PadLeft(66).Substring(66)<br />
    </div>    
}

<table class="table table-striped">
    <thead>
        <tr>
            <th>#</th>
            <th>Stok Kodu</th>
            <th>Ürün</th>
            <th>KDV Hariç Net</th>
            <th>KDV Dahil Net</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var satir in Model.SiparisSatirlari)
        {
            <tr>
                <th>@satir.Sira</th>
                <td>@satir.StokKodu</td>
                <td>
                    <a href="@Url.Action("ProductDetail", "Store", new { id = satir.UrunId })">@satir.UrunAdi</a>
                </td>
                <td class="right-aligned">@satir.Tutar.ToMoneyFormat() TL</td>
                <td class="right-aligned">@satir.Matrah.ToMoneyFormat() TL</td>
            </tr>
        }
    </tbody>
    <tfoot>
        <th colspan="3" class="right-aligned">TOPLAM:</th>
        <th class="right-aligned">@Model.SiparisSatirlari.Sum(x => x.Tutar).ToMoneyFormat() TL</th>
        <th class="right-aligned">@Model.SiparisSatirlari.Sum(x => x.Matrah).ToMoneyFormat() TL</th>
    </tfoot>
</table>