﻿@model DerinSIS.B2B.ViewModels.ProductPromoDetailModel

@{
    ViewBag.Title = Model.Ad;
}


<div class="row">
    <div class="span9">
        @*@{ Html.RenderAction("ProductGroupSlideShow", "Thumbnail", new { id = Model.Id }); }*@
        <img src="@Model.resim">
    </div>
</div>

<div class="row">
    <div class="span9">
        <table id="myTable" class="table table-striped tablesorter">
            <thead>
                <tr>
                    <th>Stok Kodu</th>
                    <th>Ürün</th>
                    <th>Barkod</th>
                    <th>İndirim</th>
                    <th>Kampanya</th>
                    <th>Tutar</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var product in Model.Products)
                {
                    var urunIndirimleri = new[] { product.Indirim1, product.Indirim2, product.Indirim3 };
                    
                    <tr>
                        <td style="width: 10px">@product.StokKodu</td>
                        <td>
                            <a href="@Url.Action("ProductDetail", "Store", new { id = product.Id,kmpid=Model.Id })">
                                @product.Isim
                            </a>
                        </td>
                        <td>@product.Barkod</td>
                    <td class="right-aligned">
                        @if(urunIndirimleri.Any(x => x > 0))
                        {
                            <span class="badge badge-info">
                                <i class="icon-download-alt icon-white"></i>
                                %@string.Join(" + ", urunIndirimleri.Select(x => x.ToQuantityFormat()))
                            </span>    
                        }
                        else
                        {
                            <span class="badge">
                                <i></i>Net
                            </span>    
                        }
                    </td>
                        <td  class="right-aligned">
                               @if(product.Indirim4 > 0)
                            {
                                <span class="badge badge-success">
                                    <i class="icon-arrow-down icon-white"></i>
                                    %@product.Indirim4.ToQuantityFormat()
                                </span>    
                            }
                        </td>
                        <td class="right-aligned">@product.KDVHaricSatisFiyati.ToMoneyFormat() @product.Birim</td>
                        <td class="right-aligned" width="100">
                            <form class="form-horizontal add-to-cart-form product-list-1-add-to-cart-form" action="#">
                                <div class="input-append input-prepend">
                                    <span class="add-on"><i class="icon-shopping-cart"></i></span>
                                    <input type="text" name="quantity" value="" />
                                    <input type="hidden" name="productId" value="@product.Id" />
                                    <button class="btn btn-success add-to-cart" type="button">Ekle!</button>
                                </div>
                            </form>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $("#myTable").tablesorter();
    });
</script>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g;
      m.parentNode.insertBefore(a, m);
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-46469006-2', 'pehlivankirtasiye.com.tr');
  ga('send', 'pageview');

</script>
