﻿@model DerinSIS.B2B.ViewModels.ProductGroupDetailModel

@{
    ViewBag.Title = Model.ModelAdi;
}


<div class="row">
    <div class="span4">
        @{ Html.RenderAction("ProductGroupSlideShow", "Thumbnail", new { id = Model.Id }); }
    </div>

    <div class="span5">
        
        <div class="labeled-breadcrumb-container">
            @if (Model.Kategori0Id != 0)
            {
                <div class="breadcrumb-label">Kategori</div>
                <ul class="breadcrumb">
                    <li>
                        <a href="#" data-product-search-toggle="categoryId" data-product-search-filter="@Model.Kategori0Id">@Model.Kategori0Ad</a>
                        @if (Model.Kategori1Id != 0)
                        {
                            <span class="divider">/</span>
                        }
                    </li>
                    @if (Model.Kategori1Id != 0)
                    {
                        <li>
                            <a href="#" data-product-search-toggle="categoryId" data-product-search-filter="@Model.Kategori1Id">@Model.Kategori1Ad</a>
                
                            @if (Model.Kategori2Id != 0)
                            {
                                <span class="divider">/</span>
                            }  
                        </li>
                    }
            
                    @if (Model.Kategori2Id != 0)
                    {
                        <li>
                            <a href="#" data-product-search-toggle="categoryId" data-product-search-filter="@Model.Kategori2Id">@Model.Kategori2Ad</a>
                        </li>
                    }
            
                </ul>
            }
            
        </div>
        
        <div class="labeled-breadcrumb-container">
            <div class="breadcrumb-label">Marka</div>
            <ul class="breadcrumb">
                <li>
                    <a href="#" data-product-search-toggle="producerId" data-product-search-filter="@Model.UreticiId">@Model.UreticiAdi</a>
                    <span class="divider">/</span>
                </li>
                <li>
                    <a href="#" data-product-search-toggle="brandId" data-product-search-filter="@Model.MarkaId">@Model.MarkaAdi</a>
                </li>
            </ul>    
        </div>
        
        
        <div class="row">
            <div class="span3">
                <div class="well">
                    <table class="table">
                        <tr>
                            <td>Satış Fiyatı</td>
                            <td class="right-aligned">@Model.KDVHaricSatisFiyati.ToMoneyFormat() TL</td>
                        </tr>
                        <tr>
                            <td>İndirimler</td>
                            <td class="right-aligned">
                                @Model.ToplamIndirim.ToMoneyFormat() TL
                            </td>
                        </tr>
                        <tr>
                            <td>KDV</td>
                            <td class="right-aligned">%@Model.KDVOrani</td>
                        </tr>
                        <tr>
                            <th>Toplam</th>
                            <th class="right-aligned">@Model.KDVDahilToplam.ToMoneyFormat() TL</th>
                        </tr>
                    </table>
                </div>
            </div>

            <div class="span2 add-to-cart-from-details-page">
                @{
                    var indirimler = new[] { Model.Indirim1, Model.Indirim2, Model.Indirim3 };
                }
                                
                @if (indirimler.Any(x => x > 0))
                {
                    <span class="label label-info label-big">
                        %@string.Join("+", indirimler.Where(x => x > 0).Select(x => x.ToQuantityFormat()))     
                    </span> 
                }
                
                @if(Model.Indirim4 > 0)
                {
                    if(indirimler.Any(x => x > 0))
                    {
                        <div style="text-align:center; margin-top: -12px; font-size: 20px;">
                            +
                        </div>     
                    }
                    <span class="label label-important label-big">
                        %@Model.Indirim4.ToQuantityFormat()
                    </span>
                }
            </div>
        </div>
        
    </div>
</div>

<hr />

<div class="row">
    <div class="span9">
        <table class="table product-list">
            <thead>
                <tr>
                    <th>Stok Kodu</th>
                    <th>Ürün</th>
                    <th>Barkod</th>
                    <th class="right-aligned">İndirim</th>
                    <th class="right-aligned">Tutar</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var product in Model.Products)
                {
                    var urunIndirimleri = new[] { product.Indirim1, product.Indirim2, product.Indirim3 };
                    
                    <tr>
                        <td>@product.StokKodu</td>
                        <td>
                            <a href="@Url.Action("ProductDetail", "Store", new { id = product.Id })">
                                @product.Isim
                            </a>
                        </td>
                        <td>@product.Barkod</td>
                        <td class="right-aligned">
                            @if(urunIndirimleri.Any(x => x > 0))
                            {
                                <span class="badge badge-info">
                                    <i class="icon-download-alt icon-white"></i>
                                    %@string.Join(" + ", urunIndirimleri.Select(x => x.ToQuantityFormat()))
                                </span>    
                            }
                            
                            @if(product.Indirim4 > 0)
                            {
                                <span class="badge badge-success">
                                    <i class="icon-arrow-down icon-white"></i>
                                    %@product.Indirim4.ToQuantityFormat()
                                </span>    
                            }
                        </td>
                        <td class="right-aligned">@product.KDVHaricNet.ToMoneyFormat() TL</td>
                        <td class="right-aligned" width="100">
                            <form class="form-horizontal add-to-cart-form product-list-1-add-to-cart-form" action="#">
                                <div class="input-append input-prepend">
                                    <span class="add-on"><i class="icon-shopping-cart"></i></span>
                                    <input type="text" name="quantity" value="" />
                                    <input type="hidden" name="productId" value="@Model.Id" />
                                    <button class="btn btn-success add-to-cart" type="button">Ekle!</button>
                                </div>
                            </form>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>