﻿@model DerinSIS.B2B.ViewModels.PromoModel
    
@if(Model.Promolar.Count != 0)
{

    <div id="myCarousel" class="carousel slide">
        <ol class="carousel-indicators">
            @for(int i=0;i<Model.Promolar.Count;i++)
            {
                if (i == 0)
                {
                    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                }
                else
                {
                    <li data-target="#myCarousel" data-slide-to="@i" ></li>
                }
            }
        </ol>
        <!-- Carousel items -->
        <div class="carousel-inner">
            @foreach (var promo in Model.Promolar.OrderBy(x => x.sira))
            {
                if (@promo.sira == 1)
                {
                    <div class="item active" >
                        <a  href="@Url.Action(@promo.etkiTip == 1 ? "ProductGroupDetail" :  @promo.etkiTip == 2 ? "ProductPromoDetail" : "ProductDetail", "Store", new {id = promo.etkiId, resim="../../Assets/promoresimler/"+promo.resim})">
                            <img src="../../Assets/promoresimler/@promo.resim" />
                        </a>
                        <div class="carousel-caption">
                            <p>@promo.baslik</p>
                        </div>
                    </div>
                }
                else
                {
                    <div class="item " >
                        <a  href="@Url.Action(@promo.etkiTip==1 ? "ProductGroupDetail" :  @promo.etkiTip == 2 ? "ProductPromoDetail" : "ProductDetail", "Store", new {id = promo.etkiId, resim="../../Assets/promoresimler/"+promo.resim})">
                            <img src="../../Assets/promoresimler/@promo.resim" />
                        </a>
                        <div class="carousel-caption">
                            <p>@promo.baslik</p>
                        </div>
                    </div>
                }

            }
             </div>
            <!-- Carousel nav -->
            <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
            <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
        </div>
   
}