﻿@using DerinSIS.B2B.Infrastructure.Auth
@model DerinSIS.B2B.ViewModels.MainMenuModel


<div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <a class="brand" href="@Url.Action("Index", "Home")">DerinSIS B2B</a>
               
            <ul class="nav">
                @if (User.Identity.IsAuthenticated)
                {
                    if (Model.SiparisYetkisi)
                    {
                        if (Model.AccountType == AccountType.Customer)
                        {
                            @Html.MainMenuLink("Ürünler", "Index", "Store")
                        }
                        else
                        {
                            @Html.MainMenuLink("Ürünler", "Index", "Supplier")
                        }
                    }

                    if(Model.SevkiyatYetkisi)
                    {
                        @Html.MainMenuLink("Satın Alma", "Index", "Sales")    
                    }
                    
                    if(Model.FaturaYetkisi || Model.MutabakatYetkisi)
                    {
                        @Html.MainMenuLink("Muhasabe", "Index", "Accounting")    
                    }
                    
                
                    if(Model.YoneticiYetkisi)
                    {
                        @Html.MainMenuLink("Ayarlar", "Index", "Management")    
                    }

                }
            </ul>
                  
            <ul class="nav pull-right">
                <li><a id="doviz" href="#">@Model.Doviz</a></li> 
                @if (User.Identity.IsAuthenticated)
                {

                    if (Model.AccountType == AccountType.Customer)
                    {
                        Html.RenderAction("CartMenuElement", "Store");
                    }

                    <li class="divider-vertical"></li>

                    <li class="dropdown" data-dropdown="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">@User.Identity.Name <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="@Url.Action("MyProfile", "Account")">Profilim</a></li>
                            <li><a href="@Url.Action("ChangePassword", "Account")">Şifre Güncelle</a></li>
                            <li class="divider"></li>
                            <li><a href="@Url.Action("LogOff", "Account")">Güvenli Çıkış</a></li>   
                        </ul>
                    </li>
                }
                else
                {
                    <li class="divider-vertical"></li>
                    @Html.MainMenuLink("Üye Girişi", "LogOn", "Account")
                }
            </ul>
        </div>
    </div>
</div>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m);
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-46469006-2', 'pehlivankirtasiye.com.tr');
  ga('send', 'pageview');

</script>

