﻿@using DerinSIS.B2B.Helpers.Html
@{
    Layout = "~/Views/Shared/_ContentLayout.cshtml";
}


@section sidebar
{
    <div class="well">
        <ul class="nav nav-list">
            
            <li class="nav-header">Muhasebe</li>
            @Url.SidebarLink("Özet", "Index", "Accounting", "home")
            @Url.SidebarLink("Hesap Hareketleri", "Activities", "Accounting", "play")
            @Url.SidebarLink("Faturalar", "Invoices", "Accounting", "th-list")
            @Url.SidebarLink("Mutabakat", "Reconsilation", "Accounting", "file")
            <li class="nav-header">Raporlar</li> 
            @Url.SidebarLink("Mağaza Bazlı Satış", "salesPerStore", "Accounting", "file")
        </ul>
    </div>
}


@RenderBody()


@section javascripts
{
    @RenderSection("javascripts", required: false)
}
