﻿

@using System.Globalization
@model DerinSIS.B2B.ViewModels.AccountActivitiesModel
@{
    ViewBag.Title = "Hesap Hareketleri";
    ViewBag.SubTitle = "Muhasebe";
}


<form method="GET">
    @{ Html.RenderPartial("DocumentDateFilter", Model.DateFilter); }
</form>


<table class="table table-striped">
    <thead>
        <tr>
            <th></th>
            <th>Tarih</th>
            <th>Hareket Tipi</th>
            <th>Evrak No</th>
            <th>Vade Tarihi</th>
            <th class="right-aligned">Borc</th>
            <th class="right-aligned">Alacak</th>
            <th class="right-aligned">Bakiye</th>    
        </tr>
    </thead>
    <tbody>
        @{
            var sonBakiye = Model.DevredenBakiye;
        }

        <tr class="activity-trans">
            <td colspan="2"></td>
            <td colspan="3">Devreden Bakiye</td>
            <td class="right-aligned">@(sonBakiye < 0 ? sonBakiye.ToMoneyFormat() : "")</td>
            <td class="right-aligned">@(sonBakiye >= 0 ? sonBakiye.ToMoneyFormat() : "")</td>
            <td class="right-aligned">@Model.DevredenBakiye.ToMoneyFormat()</td>
        </tr>
        
        @if (Model.Activities.Any())
        {
            var currentDate = Model.DateFilter.Begin.Value;
            var endDate = Model.DateFilter.End.Value;

            while (currentDate <= endDate)
            {
                var dayRecords = Model.Activities.Where(x => x.Tarih == currentDate);
                foreach (var activity in dayRecords)
                {
                    
                    <tr>
                        <td>
                            @if (activity.IlgiliFaturaId.HasValue)
                            {
                                <a href="@Url.Action("InvoiceDetail", "Accounting", new { id = activity.IlgiliFaturaId })" class="btn btn-info related-invoice-link" 
                                   data-title="İlişkili Faturaya Git" data-content="Cari hareketin faturasını görmek için tıklayınız.<br /><br /><em>Fatura #@activity.IlgiliFaturaNo</em>">
                                    <i class="icon-list-alt icon-white"></i>
                                </a>
                            }
                        </td>
                        <td>@activity.Tarih.ToShortDateString()</td>
                        <td>@activity.HareketTipi</td>
                        <td>
                            @if (!string.IsNullOrWhiteSpace(activity.IlgiliFaturaNo))
                            {
                                @activity.EvrakNo
                            }
                        </td>
                        <td>@activity.VadeTarihi.ToShortDateString()</td>
                        <td class="right-aligned">@(activity.Borc == null ? "--" : activity.Borc.Value.ToMoneyFormat())</td>
                        <td class="right-aligned">@(activity.Alacak == null ? "--" : activity.Alacak.Value.ToMoneyFormat())</td>
                        <td class="right-aligned">@activity.Bakiye.Value.ToMoneyFormat()</td>
                    </tr>
            
                    sonBakiye = activity.Bakiye.Value;
                }
                
                if(currentDate.IsLastDayOfMonth() && Model.Activities.Any(x => x.Tarih.Year == currentDate.Year && x.Tarih.Month == currentDate.Month))
                {
                    <tr class="activity-trans">
                        <td colspan="2"></td>
                        <td colspan="3">@currentDate.ToString("MMMM", new CultureInfo("tr-TR")) Bakiyesi</td>
                        <td class="right-aligned">@(sonBakiye < 0 ? sonBakiye.ToMoneyFormat() : "")</td>
                        <td class="right-aligned">@(sonBakiye >= 0 ? sonBakiye.ToMoneyFormat() : "")</td>
                        <td class="right-aligned">@sonBakiye.ToMoneyFormat()</td>
                    </tr>
                }

                if(currentDate == Model.MutabakatTarihi)
                {
                    <tr class="activity-mutabakat">
                        <td></td>
                        <td>@Model.MutabakatTarihi.ToShortDateString()</td>
                        <td colspan="3">Mutabakat Sonu</td>
                        <td class="right-aligned">@(sonBakiye < 0 ? sonBakiye.ToMoneyFormat() : "")</td>
                        <td class="right-aligned">@(sonBakiye >= 0 ? sonBakiye.ToMoneyFormat() : "")</td>
                        <td class="right-aligned">@sonBakiye.ToMoneyFormat()</td>
                    </tr>
                }

                currentDate = currentDate.AddDays(1);
            }
            
            <tr class="activity-trans">
                <td colspan="2"></td>
                <td colspan="3">Devreden Bakiye</td>
                <td class="right-aligned">@(sonBakiye < 0 ? sonBakiye.ToMoneyFormat() : "")</td>
                <td class="right-aligned">@(sonBakiye >= 0 ? sonBakiye.ToMoneyFormat() : "")</td>
                <td class="right-aligned">@sonBakiye.ToMoneyFormat()</td>
            </tr>
        }
           
    </tbody>
</table>



@section javascripts
{
    <script type="text/javascript">
        $(document).ready(function () {
            $('.related-invoice-link').popover();
        });
    </script>
}
