﻿

@model DerinSIS.B2B.ViewModels.AccountingDashboardModel
@{
    ViewBag.Title = "Muhasebe";
}

<div class="row">
    
    <div class="span5">
        <div class="block block-float">
            <div class="block-header">
                <h2>MUTABAKAT</h2>
            </div>
            <div class="block-content">                
                <table class="table">
                    @if(Model.SistemMutabakatTarihi == Model.FirmaMutabakatTarihi)
                    {
                        <tr>
                            <td>
                                <span class="label label-success label-mutabakat">OK</span>
                            </td>
                            <td>Son Mutabakat Tarihi:</td>
                            <td class="right-aligned">
                                <strong>@Model.SistemMutabakatTarihi.ToDateString()</strong>
                            </td>
                        </tr>       
                    }
                    else if (Model.FirmaMutabakatTarihi > Model.SistemMutabakatTarihi)
                    {
                        <tr>
                            <td>
                                <span class="label label-success label-mutabakat">OK</span>
                            </td>
                            <td>Son Mutabakat Tarihi:</td>
                            <td class="right-aligned">
                                <strong>@Model.SistemMutabakatTarihi.ToDateString()</strong>
                            </td>
                        </tr>   
                    }
                    else
                    {
                        <tr>
                            <td></td>
                            <td>
                                <span class="label label-important label-mutabakat">
                                    MUTABAKAT İÇİN ONAYINIZ BEKLENİYOR    
                                </span>
                                
                            </td>
                            <td class="right-aligned">
                                <a href="@Url.Action("Mutabakat")" class="btn btn-warning">Onay Ver</a>
                            </td>
                        </tr>
                        <tr>
                            <td></td>
                            <td>Son Mutabakat Tarihi:</td>
                            <td class="right-aligned">
                                <strong>@Model.FirmaMutabakatTarihi.ToDateString()</strong>
                            </td>
                        </tr> 
                        <tr>
                            <td></td>
                            <td>Onay Bekleyen Tarih:</td>
                            <td class="right-aligned">
                                <strong>@Model.SistemMutabakatTarihi.ToDateString()</strong>
                            </td>
                        </tr>   
                    }
                </table>
            </div>
        </div>
        
        <hr />

        <div class="block block-float">
            <div class="block-header">
                <h2>ÖDENMEMİŞ FATURALAR</h2>
            </div>
            
            <div class="block-content">
                @if (Model.OdenmemisFaturalar.Any())
                {
                    <table class="table table-striped table-condensed">
                        <thead>
                            <tr>
                                <th></th>
                                <th>Evrak No</th>
                                <th>Fatura Tarihi</th>
                                <th>Vade Tarihi</th>
                                <th class="right-aligned">Kalan Tutar</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var fatura in Model.OdenmemisFaturalar)
                            {
                                <tr>
                                    <td>
                                        <a href="@Url.Action("InvoiceDetail", "Accounting", new { id = fatura.Id })" class="btn btn-info btn-mini">
                                            <i class="icon-search icon-white"></i>
                                        </a>
                                    </td>
                                    <td>@fatura.EvrakNo</td>
                                    <td>@fatura.FaturaTarihi.ToShortDateString()</td>
                                    <td>@fatura.VadeTarihi.ToShortDateString()</td>
                                    <td class="right-aligned">@fatura.KalanTutar.ToMoneyFormat()</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                }
                else
                {
                    <em>Ödenmemiş Fatura Bulunmamaktadır.</em>
                }
            </div>
        </div>
    </div>

    <div class="span4">
        <div class="block block-float">
            <div class="block-header">
                <h2>BAKİYE BİLGİLERİ</h2>
            </div>
            
            <div class="block-content">
                <table class="table table-striped">
                    <tr>
                        <td>Borç</td>
                        <td class="right-aligned">@Model.Borc.ToMoneyFormat()</td>
                    </tr>
                    <tr>
                        <td>Alacak</td>
                        <td class="right-aligned">- @Model.Alacak.ToMoneyFormat()</td>
                    </tr>
                    <tr>
                        <td>Bakiye</td>
                        <td class="right-aligned">@Model.Bakiye.ToMoneyFormat(true)</td>
                    </tr>
                </table>
            </div>
        </div>

        <hr />
        
        <div class="block block-float">
            <div class="block-header">
                <h2>BANKA HESAP BİLGİLERİ</h2>
            </div>
            
            <div class="block-content">
                @if (Model.BankaHesapBilgileri.Any())
                {
                    <table class="table table-striped">
                        @foreach (var bankaHesapBilgisi in Model.BankaHesapBilgileri)
                        {
                            <tr>
                                <td>
                                    @bankaHesapBilgisi.Banka - @bankaHesapBilgisi.Sube <br />
                                    @bankaHesapBilgisi.HesapNo
                                </td>
                            </tr>
                        }
                    </table>
                }
                else
                {
                    <em>Kayıtlı Banka Hesap Bilgisi Bulunmamaktadır.</em>
                }
            </div>
        </div>
    </div>
</div>
