﻿@using DerinSIS.B2B.ViewModels
@model InvoicesModel
@{
    ViewBag.Title = "Faturalar";
    ViewBag.SubTitle = "Muhasebe";
}


<form method="GET">
    <input type="hidden" name="productFilter" value="@Model.ProductFilterId"/>

    @if(Model.ProductFilterId.HasValue)
    {
        <div class="alert alert-info">
            <button type="button" class="a btn btn-danger btn-small remove-product-filter"><i class="icon-remove icon-white"></i></button>
            <span class="label label-important">ÜRÜN FİLTRESİ</span>
            <strong>@Model.ProductFilterLabel</strong>
        </div>
        
        <script type="text/javascript">
            $(document).ready(function () {
                $('.remove-product-filter').click(function () {
                    var t = $(this);

                    // remove value from input productFilter
                    $('input[name=productFilter]').val('');

                    // submit form
                    t.closest('form').submit();
                });
            });
        </script>
    }
    
    @{ Html.RenderPartial("DocumentDateFilter", Model.DateFilter); }
    @{ Html.RenderPartial("DocumentTypeFilter", Model); }
</form>


@if (Model.Invoices.Any())
{
    <table class="table table-striped">
        <thead>
            <tr>
                <th></th>
                <th></th>
                <th>Tarih</th>
                <th>Evrak No</th>
                <th>Hareket Tipi</th>
                <th>Vade Tarihi</th>
                
                @if(Model.GosterimSecenekleri.EvrakNotuGosterilsinMi)
                {
                    <th>Evrak Notları</th>    
                }
                
                <th class="right-aligned">KDV Hariç</th>
                <th class="right-aligned">Toplam İndirim</th>
                <th class="right-aligned">KDV Hariç Net</th>
                <th>Hareket Grubu</th>    
                <th>Sevk Adresi</th>        
            </tr>
        </thead>
        <tbody>
            @foreach (var invoice in Model.Invoices)
            {
                <tr>
                    <td>
                        <a href="@Url.Action("InvoiceDetail", new { id = invoice.Id })" class="btn btn-info" data-toggle="button">
                            <i class="icon-search icon-white"></i>
                        </a>
                    </td>
                    <td>
                        @if (invoice.Durum == InvoicesModel.InvoiceStatus.IPTAL)
                        {
                            <span class='label label-important'>İPTAL</span>
                        }
                    </td>
                    <th>@invoice.Tarih.ToShortDateString()</th>
                    <td>@invoice.EvrakNo</td>
                    <td>@invoice.HareketTipi</td>
                    <td>@invoice.VadeTarihi.ToShortDateString()</td>
                    
                    @if (Model.GosterimSecenekleri.EvrakNotuGosterilsinMi)
                    {
                        <td>@invoice.EvrakNot</td>    
                    }
                    
                    <td class="right-aligned no-wrap">@invoice.KDVHaricToplam.ToMoneyFormat()</td>
                    <td class="right-aligned no-wrap">@invoice.ToplamIndirim.ToMoneyFormat()</td>
                    <td class="right-aligned no-wrap">@invoice.KDVHaricNet.ToMoneyFormat()</td>
                    <td>@invoice.HareketGrubu</td>
                    <td>@invoice.SevkAdresi</td>    
                </tr>
            }
        </tbody>
    </table>

}
else
{
        <div class="alert alert-error">
            <h4 class="alert-heading">Kayıt Bulunamadı!</h4>
            Aradığınız tarihler için fatura kaydı bulunamadı.
            Lütfen arama başlangıç ve bitiş tarihlerini değiştirip tekrar deneyin.
        </div>
}

