﻿@using DerinSIS.B2B.ViewModels
@model DerinSIS.B2B.ViewModels.ReconsilationDetailsModel
@{
    ViewBag.Title = "MutabakatDetay";
    ViewBag.SubTitle = "Muhasebe";
}

@if(Model.Invoices.Any())
{
    if(Model.Reconsilate)
    {
    <div class="alert alert-info">
        <h4 class="alert-heading">Mutabakat Özeti</h4>
        @Model.StartDate.ToShortDateString()  ile @Model.EndDate.ToShortDateString() tarihleri arasında  @Model.Invoices.Sum(x => x.KDVHaricToplam) tutarlı @Model.Invoices.Count() adet  onaylanmış faturanız bulunmaktadır.
        </div>  
    }
    else
    {
          <div class="alert alert-error">
           <h4 class="alert-heading">Mutabakat Onayınız Bekleniyor!</h4>
            @Model.EndDate.ToShortDateString() tarihinden itibaren  @Model.Invoices.Sum(x => x.KDVHaricToplam) tutarlı @Model.Invoices.Count() adet  onaylanmamış faturanız bulunmaktadır.
         <div><a href="@Url.Action("ConfirmReconsilation",new{startdate=Model.EndDate.AddDays(1),count=Model.Invoices.Count(),total=Model.Invoices.Sum(x=>x.KDVHaricToplam)})" class="btn btn-danger">Onay</a></div>
            </div>  
        
    }
       
       
    
    <table class="table table-striped">
        <thead>
            <tr>
                <th></th>
                <th></th>
                <th>Tarih</th>
                <th>Evrak No</th>
                <th>Hareket Tipi</th>
                <th>Vade Tarihi</th>
                
             @*   @if(Model.GosterimSecenekleri.EvrakNotuGosterilsinMi)
                {
                    <th>Evrak Notları</th>    
                }*@
                
                <th class="right-aligned">KDV Hariç</th>
                <th class="right-aligned">Toplam İndirim</th>
                <th class="right-aligned">KDV Hariç Net</th>
                <th>Hareket Grubu</th>    
                <th>Sevk Adresi</th>        
            </tr>
        </thead>
        <tbody>
            @foreach (var invoice in Model.Invoices)
            {
                <tr>
                    <td>
                        <a href="@Url.Action("InvoiceDetail", new { id = invoice.Id })" class="btn btn-info" data-toggle="button">
                            <i class="icon-search icon-white"></i>
                        </a>
                    </td>
                    <td>
                        @if (invoice.Durum == ReconsilationDetailsModel.InvoiceStatus.IPTAL)
                        {
                            <span class='label label-important'>İPTAL</span>
                        }
                    </td>
                    <th>@invoice.Tarih.ToShortDateString()</th>
                    <td>@invoice.EvrakNo</td>
                    <td>@invoice.HareketTipi</td>
                    <td>@invoice.VadeTarihi.ToShortDateString()</td>
                    
                 @*   @if (Model.GosterimSecenekleri.EvrakNotuGosterilsinMi)
                    {
                        <td>@invoice.EvrakNot</td>    
                    }*@
                    
                    <td class="right-aligned no-wrap">@invoice.KDVHaricToplam.ToMoneyFormat()</td>
                    <td class="right-aligned no-wrap">@invoice.ToplamIndirim.ToMoneyFormat()</td>
                    <td class="right-aligned no-wrap">@invoice.KDVHaricNet.ToMoneyFormat()</td>
                    <td>@invoice.HareketGrubu</td>
                    <td>@invoice.SevkAdresi</td>    
                </tr>
            }
        </tbody>
    </table>

}
else
{
        <div class="alert alert-error">
            <h4 class="alert-heading">Kayıt Bulunamadı!</h4>
            Aradığınız tarihler için fatura kaydı bulunamadı.
            Lütfen arama başlangıç ve bitiş tarihlerini değiştirip tekrar deneyin.
        </div>
}

