﻿<!DOCTYPE html>
<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="en">
<!--<![endif]-->
<head>
    <meta charset="utf-8" />

    <!-- Use the .htaccess and remove these lines to avoid edge case issues. More info: h5bp.com/i/378 -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    <title>@ViewBag.Title | B2B</title>
    <meta name="description" content="">

    <!-- Mobile viewport optimized: h5bp.com/viewport -->
    <meta name="viewport" content="width=device-width">

    <!-- favicon -->
    <link rel="shortcut icon" href="@Url.Content("~/Assets/favicon.ico")" />

    <!-- Stylesheets -->
    <link rel="stylesheet" href="@Url.Content("~/Assets/bootstrap/css/bootstrap.css")" />
    <link rel="stylesheet" href="@Url.Content("~/Assets/datatables/DT_bootstrap.css")" />
    <link rel="stylesheet" href="@Url.Content("~/Assets/jquery-ui/jquery-ui-1.8.16.custom.css")" />
    <link rel="stylesheet" href="@Url.Content("~/Assets/dynatree/skin-vista/ui.dynatree.css")" />
    <link rel="stylesheet" href="@Url.Content("~/Assets/fancybox/jquery.fancybox.css")" type="text/css" media="screen" />
    <link rel="stylesheet" href="@Url.Content("~/Assets/fancybox/helpers/jquery.fancybox-buttons.css")" type="text/css" media="screen" />
    <link rel="stylesheet" href="@Url.Content("~/Assets/fancybox/helpers/jquery.fancybox-thumbs.css")" type="text/css" media="screen" />
    <link rel="stylesheet" href="@Url.Content("~/Assets/jGrowl/jquery.jgrowl.css")" type="text/css" media="screen" />
    <link rel="stylesheet" href="@Url.Content("~/Assets/rangepicker/css/ui.daterangepicker.css")" type="text/css" media="screen" />
    <link rel="stylesheet" href="@Url.Content("~/Assets/theme/css/main.css")" />


    <!-- Javascripts -->
    <script type="text/javascript" src="@Url.Content("~/Assets/jquery/jquery-1.7.1.js")"></script>

    <script type="text/javascript" src="@Url.Content("~/Assets/jquery/checkbox-fix.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Assets/jquery/jquery.livequery.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Assets/jquery-ui/jquery-ui-1.8.16.custom.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Assets/jquery-ui/i18/jquery.ui.datepicker-tr.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Assets/jquery/jquery.cookie.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Assets/jquery/jquery.mousewheel-3.0.6.pack.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Assets/jquery/jquery.jstepper.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Assets/bootstrap/js/bootstrap.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Assets/datatables/jquery.dataTables.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Assets/datatables/DT_bootstrap.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Assets/dynatree/jquery.dynatree.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Assets/fancybox/jquery.fancybox.pack.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Assets/fancybox/helpers/jquery.fancybox-buttons.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Assets/fancybox/helpers/jquery.fancybox-thumbs.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Assets/jtemplates/jquery-jtemplates.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Assets/jGrowl/jquery.jgrowl.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Assets/rangepicker/js/date.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Assets/rangepicker/js/daterangepicker.jQuery.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Assets/jquery/jquery.cascadingDropDown.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Assets/theme/js/global.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Assets/theme/js/sepet.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Assets/theme/js/urun-arama.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Assets/theme/js/modal.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Assets/theme/js/pager.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Assets/theme/js/report.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Assets/modernizr/modernizr-2.5.2.js")"></script>



    <link href="../../Assets/TableSorter/themes/blue/style.css" rel="stylesheet" />
    <script src="../../Assets/TableSorter/jquery.tablesorter.js" type="text/javascript"></script>

    <!-- HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <!--[if lt IE 9]>
        <script src="http://ie7-js.googlecode.com/svn/version/2.1(beta4)/IE9.js"></script>
    <![endif]-->
    
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-114331950-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-114331950-1');
    </script>



</head>
<body>
    @RenderBody()

    <input type="hidden" id="add-to-cart-url" value="@Url.Action("AddToActiveCartAsync", "Store")" />

    @RenderSection("javascripts", required: false)
</body>
</html>