﻿@using DerinSIS.B2B.ViewModels
@model CategoryTreeModel


@helper RenderExpandableCategoryItems(CategoryTreeModel.CategoryItem item) {
    var hasChildren = Model.HasChildren(item);
    
    if(hasChildren)
    {
        <li id="category-@item.Id" class="">
            @item.Isim
            
            <ul style="display: none">
                @foreach(var child in Model.GetChildrenFor(item))
                {
                    @RenderExpandableCategoryItems(child)
                }
            </ul>
        </li>
    }
    else
    {
        <li id="category-@item.Id">@item.Isim</li>
    }
}


<div id="category-tree">
    <ul>
        @foreach (var item in Model.GetRootLevelItems())
        {
            @RenderExpandableCategoryItems(item);
        }
    </ul>
</div>




