﻿@using DerinSIS.B2B.Helpers
@model DerinSIS.B2B.ViewModels.DocumentSingleDateFilterModel

<div id="filters" style="display: none;">
    <input name="mekanFilter" value="@ViewData["mekan"]" />
    <input name="mekanAdFilter" value="@ViewData["mekanAd"]" />
</div>

<div class="well page-actions">
    <div class="row-fluid">


        <div class="span2 text-left">
            <a id="showStoreFilter" class="btn btn-info">Mağaza Seçici</a>
        </div>
        <div class="text-left">
            <div class="span9 pull-left"><label id="showStoreAd" style="margin-top:5px; font-size:small"></label></div>
        </div>

        @*Modals*@

        <div class="modal hide fade" id="StoreFilterModal">
            <div class="modal-header">
                <a class="close" data-dismiss="modal">&times;</a>
                <h3>Mağaza Filtresi</h3>
            </div>
            <div class="modal-body">
                <div id="storeMekan">
                    <ul class="nav">
                        <li class="nav-header">Mağazalar</li>
                    </ul>
                </div>
            </div>
            <div class="modal-footer">
                <a id="ConfirmStoreFilter" data-dismiss="modal" class="btn btn-success">Seç</a>
            </div>
        </div>



        <div class="span5" style="float:right">
            <input type="text" id="dateFilter" value="@Html.DateRangeSingleToString(Model.Begin.Value)" readonly="readonly" />
            <input type="hidden" name="dateFilter.Begin" value="@Model.Begin.Value.ToInvariantDateString()" />
            <button type="submit" class="filter-refresh btn btn-info" data-loading-text="..."><i class="icon-refresh icon-white"></i></button>
        </div>
    </div>
</div>


<script type="text/javascript">
    $(document).ready(function () {

        function setDateRange(begin) {
            $('#dateFilter').val(begin);

            var beginParts = begin.match(/(\d+)/g);
            var invariantBegin = new Date(beginParts[2], beginParts[1] - 1, beginParts[0]);
            $('input[name="dateFilter.Begin"]').val($.datepicker.formatDate('mm/dd/yy', invariantBegin));
        }

        $('#dateFilter').daterangepicker({
            dateFormat: 'dd/mm/yy',
            rangeStartTitle: 'Başlangıç',
            rangeEndTitle: 'Bitiş',
            nextLinkText: 'İleri',
            prevLinkText: 'Geri',
            doneButtonText: 'Seç',
            presetRanges: [
                { text: 'Bugün', dateStart: 'today', dateEnd: 'today' },
                { text: 'Geçen Hafta', dateStart: 'today-7days', dateEnd: 'today-7days' },
                { text: 'Bu Ay Başı', dateStart: function () { return Date.parse('today').moveToFirstDayOfMonth(); }, dateEnd: function () { return Date.parse('today').moveToFirstDayOfMonth(); } },
                { text: 'Geçen Ay Başı', dateStart: function () { return Date.parse('1 month ago').moveToFirstDayOfMonth(); }, dateEnd: function () { return Date.parse('1 month ago').moveToFirstDayOfMonth(); } },
                {
                    text: 'Bu Yıl Başı',
                    dateStart: function () {
                        var x = Date.parse('today');
                        x.setMonth(0);
                        x.setDate(1);
                        return x;
                    },
                    dateEnd: function () {
                        var x = Date.parse('today');
                        x.setMonth(0);
                        x.setDate(1);
                        return x;
                    }
                }
            ],
            presets: {
                specificDate: 'Sabit Tarih',
            },
            onChange: function () {
                var dateString = $('#dateFilter').val().split(" - ");
                var beginDateString = dateString[0];
                setDateRange(beginDateString);
            }
        });
        $('.date-shortcut').click(function () {
            var t = $(this);

            var filterBegin = t.data('begin');

            setDateRange(filterBegin);

            var pagerInput = $('input[name=page]');
            if (pagerInput != null)
            { pagerInput.val(1); }

            $('#dateFilter').closest('form').submit();
        });

        function getDeselectedNodes(tree) {
            var nodeList = [];
            tree.visit(function (node) {
                if (!node.bSelected) {
                    nodeList.push(node);
                }
            });
            return nodeList;
        }
        Array.prototype.removeByValue = function (val) {
            for (var i = 0; i < this.length; i++) {
                if (this[i] == val) {
                    this.splice(i, 1);
                    break;
                }
            }
        };
        Array.prototype.contains = function (obj) {
            var i = this.length;
            while (i--) {
                if (this[i] === obj) {
                    return true;
                }
            }
            return false;
        };

        if ($('input[name="mekanAdFilter"]').val() != "") {
            document.getElementById('showStoreAd').innerHTML = "Mağaza: " + $('input[name="mekanAdFilter"]').val();
        }
        else {
            document.getElementById('showStoreAd').innerHTML = "Mağaza: Mekan seçiniz!";
        }


        var i;
        var mekanlar = "";
        var mekanAdlar = "";


        $('#showStoreFilter').live('click', function () {
            $('#StoreFilterModal').modal('show');
            if (i != 1) {
                i = 1;

                $.ajax({
                    type: 'POST',
                    url: '@Url.Action("magazaFiltre", "Sales")',
                    success: function (result) {
                        $.each(result.Mekanlar, function (index, item) {
                            $('#storeMekan ul').append($('<li id="chk" style="margin-left:10px;">' +
                              '<input class="chckbxM" style="margin-bottom:6px;margin-right:6px;" data-text="' + item.MekanAd + '" type="checkbox" value="' + item.MekanID + '" id="mkn' + item.MekanID + '"  /><label style="display:initial" for="mkn' + item.MekanID + '">' + item.MekanAd + '</label></li>'));
                        });



                        $('#chk input').click(function () {
                            var value = $(this).val();
                            var text = $(this).data('text');



                            if ($(this).is(':checked')) {
                                mekanlar = value;
                                mekanAdlar = text;
                            }
                            else {
                                mekanlar = "";
                                mekanAdlar = "";
                            }

                            uncheckAll(value);


                        });

                        if ($('input[name="mekanFilter"]').val() != "") {
                            mekanlar = $('input[name="mekanFilter"]').val();

                            $.each($('#chk input'), function () {
                                if (mekanlar==$(this).val()) {
                                    $(this).prop("checked", true);
                                }
                                //if (selectedMekanlar.contains($(this).val())) {
                                //    $(this).prop("checked", true);
                                //}
                            });
                        }

                        if ($('input[name="mekanAdFilter"]').val() != "") {
                            mekanAdlar = $('input[name="mekanAdFilter"]').val();
                        }
                    }
                });
            }
        });



        $('#ConfirmStoreFilter').live('click', function () {
            $('input[name="mekanFilter"]').val(mekanlar);
            $('input[name="mekanAdFilter"]').val(mekanAdlar);

            var pagerInput = $('input[name=page]');
            if (pagerInput != null)
            { pagerInput.val(1); }

            $(this).closest('form').submit();
        });





    });



    // Highlight selected buttons
    $('.date-shortcut').each(function () {
        var t = $(this);

        var currentBegin = '@Model.Begin.Value.ToDateString()';
        if (currentBegin === t.data('begin')) {
            t.addClass('btn-info');
        }
    });

    function uncheckAll(deger) {

        $('.chckbxM').each(function () {
            if (this.value != deger) {
                this.checked = false;
            }
        });
    }

</script>