﻿<div id="filters" style="display: none;">
    <input name="mekanFilter" value="@ViewData["mekan"]" />
    <input name="mekanAdFilter" value="@ViewData["mekanAd"]" />
</div>

<div class="row-fluid">
    <div class="span2 text-left">
        <a id="showStoreFilter" class="btn btn-info">Mağaza Seçici</a>
    </div>
    <div class="text-left">
        <div class="span9 pull-left"><label id="showStoreAd" style="margin-top:5px; font-size:small"></label></div>
    </div>

    @*Modals*@

    <div class="modal hide fade" id="StoreFilterModal">
        <div class="modal-header">
            <a class="close" data-dismiss="modal">&times;</a>
            <h3>Mağaza Filtresi</h3>
        </div>
        <div class="modal-body">
            <div id="storeMekan">
                <ul class="nav">
                    <li class="nav-header">Mağazalar</li>
                </ul>
            </div>
        </div>
        <div class="modal-footer">
            <a id="ConfirmStoreFilter" data-dismiss="modal" class="btn btn-success">Seç</a>
        </div>
    </div>
</div>


<script type="text/javascript">
    $(document).ready(function () {
        function getDeselectedNodes(tree) {
            var nodeList = [];
            tree.visit(function (node) {
                if (!node.bSelected) {
                    nodeList.push(node);
                }
            });
            return nodeList;
        }
        Array.prototype.removeByValue = function (val) {
            for (var i = 0; i < this.length; i++) {
                if (this[i] == val) {
                    this.splice(i, 1);
                    break;
                }
            }
        };
        Array.prototype.contains = function (obj) {
            var i = this.length;
            while (i--) {
                if (this[i] === obj) {
                    return true;
                }
            }
            return false;
        };

        if ($('input[name="mekanAdFilter"]').val() != "") {
            document.getElementById('showStoreAd').innerHTML ="Mağaza: "+ $('input[name="mekanAdFilter"]').val();
        }
        else
        {
            document.getElementById('showStoreAd').innerHTML = "Mağaza: TÜMÜ";
        }


        var i;
        var mekanlar = new Array();
        var mekanAdlar = new Array();


        $('#showStoreFilter').live('click', function () {
            $('#StoreFilterModal').modal('show');
            if (i != 1) {
                i = 1;

                $.ajax({
                    type: 'POST',
                    url: '@Url.Action("magazaFiltre", "Sales")',
                    success: function (result) {
                        $.each(result.Mekanlar, function (index, item) {
                            $('#storeMekan ul').append($('<li id="chk" style="margin-left:10px;">' +
                              '<input style="margin-bottom:6px;margin-right:6px;" data-text="' + item.MekanAd + '" type="checkbox" value="' + item.MekanID + '" id="mkn' + item.MekanID + '"  /><label style="display:initial" for="mkn' + item.MekanID + '">' + item.MekanAd + '</label></li>'));
                        });
                        


                        $('#chk input').click(function () {
                            var value = $(this).val();
                            var text = $(this).data('text');
                            if ($(this).is(':checked')) {
                                if (!mekanlar.contains(value)) {
                                    mekanlar.push(value);
                                }
                                if (!mekanAdlar.contains(text)) {
                                    mekanAdlar.push(text);
                                }
                            }
                            else {
                                mekanlar.removeByValue(value);
                                mekanAdlar.removeByValue(text);
                            }
                        });
                        if ($('input[name="mekanFilter"]').val() != "") {
                            $.each($('input[name="mekanFilter"]').val().split(','), function (index, item) {
                                if (!mekanlar.contains(item)) {
                                    mekanlar.push(item);
                                }
                                //selectedMekanlar.push(item);
                            });

                            $.each($('#chk input'), function () {
                                if (mekanlar.contains($(this).val())) {
                                    $(this).prop("checked", true);
                                }
                                //if (selectedMekanlar.contains($(this).val())) {
                                //    $(this).prop("checked", true);
                                //}
                            });
                        }

                        if ($('input[name="mekanAdFilter"]').val() != "") {
                            $.each($('input[name="mekanAdFilter"]').val().split(','), function (index, item) {
                                if (!mekanAdlar.contains(item)) {
                                    mekanAdlar.push(item);
                                }
                                //selectedMekanlar.push(item);
                            });
                        }
                    }
                });
            }
        });



        $('#ConfirmStoreFilter').live('click', function () {
            $('input[name="mekanFilter"]').val(mekanlar);
            $('input[name="mekanAdFilter"]').val(mekanAdlar);

            var pagerInput = $('input[name=page]');
            if (pagerInput != null)
            { pagerInput.val(1); }

            $(this).closest('form').submit();
        });

    });
</script>





