﻿@using DerinSIS.B2B.Helpers
@model IPagedList

@if (Model.TotalPages > 1)
{
    <div class="pagination pagination-centered">
        <ul>
            @if (Model.HasPrevPage && Model.Page>2)
            {
                <li><a href="#" data-page="1"><<</a></li>
            }

            @if (Model.HasPrevPage)
            {
                <li><a href="#" data-page="@(Model.Page - 1)">&larr;</a></li>
            }

            @for (var i = Math.Max(1, Model.Page - 4); i < Model.Page; i++)
            {
                <li><a href="#" data-page="@i">@i</a></li>
            }

            <li class="active"><a data-page="@Model.Page" href="#">@Model.Page</a></li>

            @for (var i = Model.Page + 1; i <= Math.Min(Model.TotalPages, Model.Page + 4); i++)
            {
                <li><a href="#" data-page="@i">@i</a></li>
            }

            @if (Model.HasNextPage)
            {
                <li><a href="#" data-page="@(Model.Page + 1)">&rarr;</a></li>
            }

            @if (Model.HasNextPage && (Model.TotalPages-Model.Page) > 1)
            {
                <li><a href="#" data-page="@(Model.TotalPages)">>></a></li>
            }

        </ul>
    </div>
}



       