﻿@model DerinSIS.B2B.Helpers.Paging.IPagedCollection<DerinSIS.B2B.ViewModels.ProductListModelExcel.ProductListItemModelExcel>

@if (Model.TotalPages > 1)
{
    <div class="pagination pagination-centered">
        <ul>
            @if (Model.HasPrevPage())
            {
                <li><a href="#" data-page="@(Model.Page - 1)">&larr;</a></li>
            }
        
        
            @foreach (var pageNumber in Model.EnumeratePages())
            {
                if (pageNumber == 0)
                {
                    <li class="disabled"><a href="#">...</a></li>
                }
                else if (pageNumber == Model.Page)
                {
                    // Current Page
                    <li class="active"><a href="#">@pageNumber</a></li>
                }
                else
                {
                    <li><a href="#" data-page="@pageNumber">@pageNumber</a></li>
                }
            }
        
            @if (Model.HasNextPage())
            {
                <li><a href="#" data-page="@(Model.Page + 1)">&rarr;</a></li>
            }
        </ul>
    </div>    
}