﻿@model DerinSIS.B2B.ViewModels.PricesModel

<ul class="nav bs-sidenav">
    <h5>Fiyat Aralığı</h5>
    @foreach (var price in Model.Prices)
    {
        <li><a href="#" data-fiyataraligi=@price.Name>@price.Name TL</a></li>
    }
</ul>



