﻿@model DerinSIS.B2B.ViewModels.ProductPromoDetailModel

@{
    ViewBag.Title = Model.Ad;
}


<div class="row">
    <div class="span9">
        @*@{ Html.RenderAction("ProductGroupSlideShow", "Thumbnail", new { id = Model.Id }); }*@
        <img src="@Model.resim">
    </div>
</div>

<div class="row">
    <div class="span9">
        <table id="myTable" class="table table-striped tablesorter">
            <thead>
                <tr>
                    <th>Stok Kodu</th>
                    <th>Ürün</th>
                    <th>Barkod</th>
                    <th>İndirim</th>
                    <th>Kampanya</th>
                    <th>Tutar</th>
                    @if (Model.promoStokGosterimi > 0)
                    {
                        <th>Stok</th>
                    }
                    @if (Model.ControllerName == "Store")
                    {
                        <th></th>
                    }
                </tr>
            </thead>
            <tbody>
                @foreach (var product in Model.Products)
                {
                    var urunIndirimleri = new[] { product.Indirim1, product.Indirim2, product.Indirim3 };

                    <tr>
                        <td style="width: 10px">@product.StokKodu</td>
                        <td>
                            <a href="@Url.Action("ProductDetail", new { id = product.Id,kmpid=Model.Id })">
                                @product.Isim
                            </a>
                        </td>
                        <td>@product.Barkod</td>
                        <td class="right-aligned">
                            @if (urunIndirimleri.Any(x => x > 0))
                            {
                                <span class="badge badge-info">
                                    <i class="icon-download-alt icon-white"></i>
                                    %@string.Join(" + ", urunIndirimleri.Select(x => x.ToQuantityFormat()))
                                </span>
                            }
                            else
                            {
                                <span class="badge">
                                    <i></i>Net
                                </span>
                            }
                        </td>
                        <td class="right-aligned">
                            @if (product.Indirim4 > 0)
                            {
                                <span class="badge badge-success">
                                    <i class="icon-arrow-down icon-white"></i>
                                    %@product.Indirim4.ToQuantityFormat()
                                </span>
                            }
                        </td>

                        <td class="right-aligned">
                            @if (Model.brutFiyatGosterimVar != 0)
                            {
                                <label>@product.KDVHaricSatisFiyati.ToMoneyFormat().Replace(".", "").Replace(",", ".") @product.Birim</label>
                            }
                            else
                            {
                                <label>@product.KDVDahilToplam.ToMoneyFormat().Replace(".", "").Replace(",", ".") @product.Birim</label>
                            }
                        </td>
                        @if (Model.promoStokGosterimi > 0)
                        {
                            <td class="right-aligned">
                                <label>@product.gosterilenStok</label>
                            </td>
                        }
                        @if (Model.ControllerName == "Store")
                        {
                            <td class="right-aligned" width="100">
                                <form class="form-horizontal add-to-cart-form product-list-1-add-to-cart-form" action="#">
                                    <div class="input-append input-prepend">
                                        @if (Model.promoStokKontrolu > 0 && product.stok <= 0)
                                        {
                                            <button class="btn btn-danger add-to-cart" type="button" disabled>&nbsp;&nbsp;&nbsp;&nbsp;Stokta Yok!</button>
                                        }
                                        else
                                        {
                                            <span class="add-on"><i class="icon-shopping-cart"></i></span>
                                            <input type="text" name="quantity" value="" />
                                            <input type="hidden" name="stkStok" value="@product.stok.ToQuantityFormat().Replace(".", "").Replace(",", ".")" />
                                            <input type="hidden" name="stokKontrolu" value="@Model.promoStokKontrolu" />
                                            <input type="hidden" name="productId" value="@product.Id" />
                                            <button class="btn btn-success add-to-cart" type="button">Ekle!</button>
                                        }
                                    </div>
                                </form>
                            </td>
                        }
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $("#myTable").tablesorter();
    });
</script>


