﻿@model DerinSIS.B2B.ViewModels.ProductListItemGroupModel

<tr>
    <td><a href="@Url.Action("ProductGroupDetail", new { id = Model.GroupId })">@Model.Name</a></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td class="product-list-action">
        <button class="btn btn-warning show-group-details" data-group-id="@Model.GroupId" data-toggle="button"><i class="icon-chevron-down icon-white"></i></button>
    </td>
</tr>
<tr id="group-details-@Model.GroupId" style="display: none" class="group-details">
    <td colspan="4">
        <div class="well">
            <table class="table">
                @foreach (var subProduct in Model.Items)
                {
                                            
                    <tr>
                        <td>
                            <a href="@Url.Action("ProductDetail", new { id = subProduct.Id })">
                                @subProduct.Name
                            </a>
                        </td>
                        <td>@subProduct.Fiyat.ToString("N") TL</td>
                        <td class="product-list-action">
                            <input type="text" value="" name="product-quantity" data-product-id="@subProduct.Id" data-product-name="@subProduct.Name"/>
                        </td>
                        <td>
                             <button type="button" class="btn btn-info add-to-cart-single"><i class="icon-plus-sign icon-white"></i></button>
                        </td>
                    </tr>
                }
            </table>    
        </div>
        
    </td>
</tr>