﻿
<div id="filters" style="display: none;">
    <input name="categoryFilter" value="@ViewData["category"]"/>
    <input name="brandFilter"    value="@ViewData["brand"]"/>
    <input name="productCount"   value="@ViewData["productCount"]"/>
</div>

<div class="span2">
    <div class="row-fluid">
        <a id="showProductFilter" class="btn btn-info">Ürün Seçici</a>
    </div>


    @*Modals*@

    <div class="modal hide fade" id="ProductFilterModal">
        <div class="modal-header">
            <a class="close" data-dismiss="modal">&times;</a>
            <h3>Ürün Seçici</h3>
        </div>
        <div class="modal-body">
            <div id="productCount" class="well">
            </div>

            <div class="tabbable tabs-left">
                <ul class="nav nav-tabs">
                    <li class="active"><a href="#tab4" data-toggle="tab">Kategoriler</a></li>
                    <li><a href="#tab5" data-toggle="tab">Markalar</a></li>
                </ul>
                <div class="tab-content" style="width: auto;">
                    <div class="tab-pane active" id="tab4">
                        <ul class="nav" style="margin-bottom: -10px;">
                            <li class="nav-header">Katagoriler</li>
                        </ul>
                        <div id="category-tree">
                            <ul>
                            </ul>
                        </div>
                    </div>
                    <div class="tab-pane" id="tab5">
                        <ul class="nav" style="margin-bottom: -10px;">
                            <li class="nav-header">Markalar</li>
                        </ul>
                        <div id="brand-tree">
                            <ul>
                            </ul>
                        </div>
                    </div>

                </div>

            </div>

        </div>
        <div class="modal-footer">
            <a id="ConfirmProductFilter" data-dismiss="modal" class="btn btn-success">Seç</a>
        </div>
    </div>
</div>


<script type="text/javascript">
    $(document).ready(function () {
        function getDeselectedNodes(tree) {
            var nodeList = [];
            tree.visit(function (node) {
                if (!node.bSelected) {
                    nodeList.push(node);
                }
            });
            return nodeList;
        }
        Array.prototype.removeByValue = function (val) {
            for (var i = 0; i < this.length; i++) {
                if (this[i] == val) {
                    this.splice(i, 1);
                    break;
                }
            }
        };
        Array.prototype.contains = function (obj) {
            var i = this.length;
            while (i--) {
                if (this[i] === obj) {
                    return true;
                }
            }
            return false;
        };
        var selectedCategories = new Array();
        var selectedBrands = new Array();
           if($('input[name="categoryFilter"]').val()!="") {
               $.each($('input[name="categoryFilter"]').val().split(','), function(index,item) {
                   selectedCategories.push(item);
               });
           }
           if($('input[name="brandFilter"]').val() != "") {
               $.each($('input[name="brandFilter"]').val().split(','), function (index, item) {
                   selectedBrands.push(item);
               });
           }
        function getProductsCount(category, brand) {
            $.ajax({
                traditional: true,
                type: 'POST',
                url: '@Url.Action("GetProductsCount","Sales")',
                data: { categories: category, brands: brand },
                success: function (result) {
                    productsCount = result;
                    $('input[name="productCount"]').val(result);
                    $('#productCount').empty();
                    $('#productCount').append('<span style="padding-left:10px; color:firebrick;">Seçilen Ürün adeti : ' + result + '</span>');
                }
            });

        }
        var  productsCount, j;

        var categories = new Array();
        var brands = new Array();
        
        $('#showProductFilter').live('click', function () {
            $('#ProductFilterModal').modal('show');
            if (j != 1) {
                j = 1;
              
                $.ajax({
                    type: 'POST',
                    url: '@Url.Action("LoadProductFilter","Sales")',
                    success: function (result) {
                        $('#category-tree>ul').append($('<li data="count:' + result.TotalCount + '" id="1">Tümü<ul id="category-ul"></ul></li>'));
                        $.each(result.Categories, function (index, item) {
                            $('#category-ul').append($('<li  data="count:' + item.ProductCount + '" id="' + item.CategoryId + '">' + item.CategoryName + '</li>'));
                        });
                        $.each(result.Producers, function (index, item) {
                            $('#brand-tree >ul').append($('<li data="count:' + item.ProductCount + ', parent:' + true + '" id = "' + item.ProducerId + '">' + item.ProducerName + '<ul></ul></li>'));
                        });
                        $.each(result.Brands, function (idx, i) {
                            $('#' + i.ProducerId + '>ul').append($('<li data="count:' + i.ProductCount + '" id="' + i.BrandId + '">' + i.BrandName + '</li>'));
                        });

                        $('#category-tree').dynatree({
                            title: "Kategoriler",
                            fx: { height: "toggle", duration: 200 },
                            persist: true,
                            cookieId: "category-tree",
                            selectMode: 3,
                            keyboard: true,
                            checkbox: true,
                            activeVisible: true,
                            onRender: function (node, nodeSpan) {
                                $(nodeSpan).find("a.dynatree-title").append($('<i style="padding-left:10px; color:firebrick;">' + node.data.count + '</i>'));
                            },
                            onSelect: function (select, node) {
                                if (select) {
                                    $.each(node.tree.getSelectedNodes(), function (index, item) {
                                        if (item.data.key != 1 && !categories.contains(item.data.key)) {
                                            categories.push(item.data.key);
                                        }
                                    });
                                    getProductsCount(categories, brands);
                                } else {
                                    $.each(getDeselectedNodes(node.tree), function (index, item) {
                                        if (item.data.key != 1) {
                                            categories.removeByValue(item.data.key);
                                            
                                        }
                                    });
                                    getProductsCount(categories, brands);
                                }
                            }

                        });
                        $('#brand-tree').dynatree({
                            title: "Markalar",
                            fx: { height: "toggle", duration: 200 },
                            persist: true,
                            cookieId: "brand-tree",
                            selectMode: 3,
                            keyboard: true,
                            checkbox: true,
                            activeVisible: true,
                            onRender: function (node, nodeSpan) {
                                $(nodeSpan).find("a.dynatree-title").append($('<i style="padding-left:10px; color:firebrick;">' + node.data.count + '</i>'));
                            },
                            onSelect: function (select, node) {
                                if (select) {
                                    $.each(node.tree.getSelectedNodes(), function (index, item) {
                                        if (item.data.parent != true && !brands.contains(item.data.key)) {
                                            brands.push(item.data.key);
                                        }
                                    });
                                    getProductsCount(categories, brands);
                                } else {
                                    $.each(getDeselectedNodes(node.tree), function (index, item) {
                                        if (item.data.parent != true) {
                                            brands.removeByValue(item.data.key);
                                        }
                                    });
                                    getProductsCount(categories, brands);
                                }
                            }
                        });
                        $("#category-tree").dynatree("getTree").visit(function (node) {
                            node.expand(true);
                            if(selectedCategories.length>0 && selectedCategories.contains(node.data.key)) {
                                node.select(true);
                            } else {
                                node.select(false);
                            }
                            
                            
                        });
                        $("#brand-tree").dynatree("getTree").visit(function (node) {
                            node.expand(false);
                            if (selectedBrands.length > 0 && selectedBrands.contains(node.data.key)) {
                                node.select(true);
                            } else {
                                node.select(false);
                            }
                          
                        });

                    }
                });
            }
        });
     
        $('#ConfirmProductFilter').live('click', function () {
            if (!(categories.length == 0 && brands.length == 0)) {
                if(categories.length>0) {
                    $('input[name="categoryFilter"]').val(categories);
                }
                if(brands.length>0) {
                    $('input[name="brandFilter"]').val(brands);
                }
                $(this).closest('form').submit();
            }
        });

    });
</script>


