﻿@using DerinSIS.B2B.Helpers
@model DerinSIS.B2B.ViewModels.ProductDetailModel

@{
    ViewBag.Title = Model.Isim;
    Layout = "_ContentLayout.cshtml";
}


<div class="row">
    <div class="span4">
        @{ Html.RenderAction("ProductSlideShow", "Thumbnail", new { id = Model.Id, bagliOlduguGrupID = Model.bagliOlduguGrupIdsi }); }
    </div>

    <div class="span5">

        <div class="labeled-breadcrumb-container clearfix">
            <div class="breadcrumb-label">Kategori</div>
            <ul class="breadcrumb">
                <li>
                    <a href="#" data-product-search-toggle="categoryId" data-product-search-filter="@Model.Kategori0Id">@Model.Kategori0Ad</a>
                    @if (Model.Kategori1Id != 0)
                    {
                        <span class="divider">/</span>
                    }
                </li>
                @if (Model.Kategori1Id != 0)
                {
                    <li>
                        <a href="#" data-product-search-toggle="categoryId" data-product-search-filter="@Model.Kategori1Id">@Model.Kategori1Ad</a>

                        @if (Model.Kategori2Id != 0)
                        {
                            <span class="divider">/</span>
                        }
                    </li>
                }

                @if (Model.Kategori2Id != 0)
                {
                    <li>
                        <a href="#" data-product-search-toggle="categoryId" data-product-search-filter="@Model.Kategori2Id">@Model.Kategori2Ad</a>
                    </li>
                }

            </ul>
        </div>

        @if (!Model.kategoriGosterimiYok)
        {
            <div class="labeled-breadcrumb-container">
                <div class="breadcrumb-label">Marka</div>
                <ul class="breadcrumb">
                    <li>
                        <a href="#" data-product-search-toggle="producerId" data-product-search-filter="@Model.UreticiId">@Model.UreticiAd</a>
                        <span class="divider">/</span>
                    </li>
                    <li>
                        <a href="#" data-product-search-toggle="brandId" data-product-search-filter="@Model.MarkaId">@Model.MarkaAd</a>
                        @if (Model.ModelId != 0)
                        {
                            <span class="divider">/</span>
                        }

                    </li>
                    @if (Model.ModelId != 0)
                    {
                        <li><a href="#">@Model.ModelAd</a></li>
                    }
                </ul>
            </div>
        }


        <div class="row">
            <div class="span3">
                <div class="well">
                    <table class="table table-striped">
                        <tr>
                            <td>Fiyatı</td>
                            <td class="right-aligned">@Model.KDVHaricSatisFiyati.ToMoneyFormat().Replace(".", "").Replace(",", ".") @Model.Birim</td>
                        </tr>
                        <tr>
                            <td>İndirim</td>
                            <td class="right-aligned">
                                @Model.ToplamIndirim.ToMoneyFormat().Replace(".", "").Replace(",", ".") @Model.Birim
                            </td>
                        </tr>
                        <tr>
                            <td>KDV</td>
                            <td class="right-aligned">%@Model.KDVOrani</td>
                        </tr>
                        <tr>
                            <th>Toplam</th>
                            <th class="right-aligned">@Model.KDVDahilToplam.ToMoneyFormat().Replace(".", "").Replace(",", ".") @Model.Birim</th>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="span2 add-to-cart-from-details-page">
                @{
                    var indirimler = new[] { Model.Indirim1, Model.Indirim2, Model.Indirim3 };
                }

                @if (indirimler.Any(x => x > 0))
                {
                    <span class="label label-info product-discount-label-big">
                        <i class="icon-download-alt icon-white"></i>
                        %@string.Join(" + ", indirimler.Select(x => x.ToQuantityFormat()))
                    </span>
                }

                @if (Model.Indirim4 > 0)
                {
                    if (indirimler.Any(x => x > 0))
                    {
                        <div class="discounts-seperator"> + </div>
                    }
                    <span class="label label-important product-discount-label-big">
                        <i class="icon-arrow-down icon-white"></i>
                        %@Model.Indirim4.ToQuantityFormat()
                    </span>
                }
                <form class="form-horizontal add-to-cart-form product-detail-add-to-cart-form" action="#">
                    @if (Model.stokGosterimi > 0)
                    {
                        <table><tr><td><label style="font-weight:bold">Stok </label></td><td style="padding-left:5px"><label> @Model.gosterilenStok</label></td></tr></table>

                    }
                    @if (Model.ControllerName == "Store")
                    {
                        <div class="input-append input-prepend">
                            @if (Model.stokKontrolu > 0 && Model.stok <= 0)
                            {
                                <button class="btn btn-danger add-to-cart" type="button" disabled>&nbsp;&nbsp;&nbsp;&nbsp;Stokta Yok!</button>
                            }
                            else
                            {
                                <span class="add-on"><i class="icon-shopping-cart"></i></span>
                                <input type="text" name="quantity" value="1" />
                                <input type="hidden" name="stkStok" value="@Model.stok.ToStokFormat()" />
                                <input type="hidden" name="stokKontrolu" value="@Model.stokKontrolu" />
                                <input type="hidden" name="productId" value="@Model.Id" />
                                <button class="btn btn-success add-to-cart" type="button">Ekle!</button>
                            }
                        </div>
                    }
                </form>

            </div>
        </div>

    </div>
</div>


<div class="row">
    <div class="span9 tabbable">
        <ul class="nav nav-tabs">
            <li class="active"><a href="#temel-bilgiler" data-toggle="tab">Temel Bilgiler</a></li>
            <li><a href="#urun-ozellikleri" data-toggle="tab">Ürün Özellikleri</a></li>
            @*<li><a href="#stok-durumu" data-toggle="tab">Stok Durumu</a></li>*@
            <li><a href="#siparisler" data-toggle="tab">Siparişler</a></li>
            <li><a href="#irsaliyeler" data-toggle="tab">İrsaliyeler</a></li>
            <li><a href="#faturalar" data-toggle="tab">Faturalar</a></li>
        </ul>

        <div class="tab-content">
            <div class="tab-pane active fade in" id="temel-bilgiler">
                <div class="row">
                    <div class="span3">
                        <h3>Ürün Bilgileri</h3>
                        <table class="table table-bordered table-striped">
                            <tr>
                                <th width="70px">#</th>
                                <td>@Model.Id</td>
                            </tr>
                            <tr>
                                <th>Ürün İsmi</th>
                                <td>@Model.Isim</td>
                            </tr>
                            <tr>
                                <th>Stok Kodu</th>
                                <td>@Model.UrunKodu</td>
                            </tr>
                            <tr>
                                <th>Kısa Ad</th>
                                <td>@Model.StokKisaAd</td>
                            </tr>
                        </table>
                    </div>

                    <div class="span3">

                        <h3>Ürün Ölçüleri</h3>
                        <table class="table table-bordered table-condensed table-striped">
                            <tr>
                                <th>Ürün Birimi</th>
                                <td class="right-aligned">@Model.UrunBirimi</td>
                            </tr>
                            <tr>
                                <th>Paket Ölçüsü</th>
                                <td class="right-aligned">@Model.PaketOlcu.ToQuantityFormat() @Model.PaketBirimi</td>
                            </tr>
                            <tr>
                                <th>Koli Adedi</th>
                                <td class="right-aligned">@Model.KoliOlcu @Model.KoliBirimi</td>
                            </tr>
                            <tr>
                                <th>Palet Ölçüsü</th>
                                <td class="right-aligned">@Model.PaletOlcu</td>
                            </tr>
                        </table>

                        @if (Model.UrunKod1GosterilsinMi || Model.UrunKod2GosterilsinMi || Model.UrunKod3GosterilsinMi || Model.UrunKod4GosterilsinMi || Model.UrunKod5GosterilsinMi)
                {
                    <h3>Ürün Kodları</h3>

                    <table class="table table-bordered table-striped">
                        @if (Model.UrunKod1GosterilsinMi)
                {
                    <tr>
                        <th>@Model.UrunKod1Baslik</th>
                        <td>@Model.UrunKod1</td>
                    </tr>
        }
                        @if (Model.UrunKod2GosterilsinMi)
                {
                    <tr>
                        <th>@Model.UrunKod2Baslik</th>
                        <td>@Model.UrunKod2</td>
                    </tr>
        }
                        @if (Model.UrunKod3GosterilsinMi)
                {
                    <tr>
                        <th>@Model.UrunKod3Baslik</th>
                        <td>@Model.UrunKod3</td>
                    </tr>
        }
                        @if (Model.UrunKod4GosterilsinMi)
                {
                    <tr>
                        <th>@Model.UrunKod4Baslik</th>
                        <td>@Model.UrunKod4</td>
                    </tr>
        }
                        @if (Model.UrunKod5GosterilsinMi)
                {
                    <tr>
                        <th>@Model.UrunKod5Baslik</th>
                        <td>@Model.UrunKod5</td>
                    </tr>
        }

                    </table>
        }

                    </div>

                    <div class="span3">
                        <h3>Barkod Bilgileri</h3>

                        @if (Model.BarkodBilgileri.Any())
                {
                    <table class="table table-striped table-bordered">
                        <thead>
                            <tr>
                                <th>Barkod</th>
                                <th>Adet</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var barkod in Model.BarkodBilgileri)
                    {
                        <tr>
                            <td>@barkod.Barkod</td>
                            <td>@barkod.Adet @barkod.AdetBirim</td>
                        </tr>
            }
                        </tbody>
                    </table>
        }
        else
        {
            <div class="alert alert-info">
                Bu ürün için barkod bulunmamaktadır.
            </div>
}
                    </div>
                </div>
            </div>

            <div class="tab-pane fade in" id="urun-ozellikleri">
                @{ var bilgiIcerenGruplar = Model.BilgiGruplari.Where(x => x.Bilgiler.Any()).ToList(); }

                @if (bilgiIcerenGruplar.Any())
        {
            foreach (var bilgiGrubu in bilgiIcerenGruplar)
            {
                <h3>@bilgiGrubu.GrupAdi</h3>

                <table class="table table-striped">
                    @foreach (var bilgi in bilgiGrubu.Bilgiler)
            {
                <tr>
                    <th width="200">@bilgi.Ad</th>
                    <td>@bilgi.Deger</td>
                </tr>
    }
                </table>
    }
}
else
{
        <div class="alert alert-error">
            Ürün özellikleri mevcut değildir.
        </div>
}

            </div>

            @* <div class="tab-pane fade in" id="stok-durumu">
            @if (Model.StokBilgileri.Any())
            {
                <table class="table table-striped">
                    @foreach (var stok in Model.StokBilgileri)
                    {
                        <tr>
                            <th width="100">@stok.MekanAdi</th>
                            <td>@stok.Stok.ToStokFormat()</td>
                        </tr>
                    }
                </table>
            }
            else
            {
                <div class="alert alert-error">
                    Bu ürün için stok bilgisi bulunmamaktadır.
                </div>
            }
        </div>
            *@
            <div class="tab-pane fade in" id="siparisler">
                <div class="alert alert-info">
                    <p>
                        Bu belgede <strong>Son 2 Ay içinde (@DateHelper.LastMonthBegin.ToShortDateString() - @DateTime.Today.ToShortDateString())</strong> verilmiş olan siparişler görüntülenmiştir.
                    </p>
                    <a href="@Url.Action("Orders", "Sales", new { productFilter = Model.Id })" class="btn btn-info">
                        Bu ürünün tüm siparişlerini görmek istiyorum
                        <i class="icon-chevron-right icon-white"></i>
                    </a>
                </div>

                @if (Model.Siparisler.Any())
        {
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th></th>
                        <th>Tarih</th>
                        <th>Sevk Tarihi</th>
                        <th>Evrak No</th>
                        <th>Hareket Tipi</th>
                        <th>Hareket Grubu</th>
                        <th class="right-aligned">Ürün Koli Adet</th>
                        <th class="right-aligned">Ürün Koli İçi Adet</th>
                        <th class="right-aligned">Ürün Toplam Adet</th>
                        <th class="right-aligned">Ürün Birim Fiyat</th>
                        <th class="right-aligned">Ürün İndirimleri</th>
                        <th class="right-aligned">Ürün KDV Hariç Net</th>
                        <th class="right-aligned">Toplam KDV Hariç Net</th>
                        <th class="right-aligned">Toplam KDV Dahil Tutar</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var evrak in Model.Siparisler)
            {
                <tr>
                    <td>
                        <a href="@Url.Action("OrderDetail", "Sales", new { id = evrak.Id })" class="btn btn-info" data-toggle="button">
                            <i class="icon-search icon-white"></i>
                        </a>
                    </td>
                    <th>@evrak.Tarih.ToShortDateString()</th>
                    <td>@evrak.SevkTarihi.ToShortDateString()</td>
                    <td>@evrak.EvrakNo</td>
                    <td>@evrak.HareketTipi</td>
                    <td>@evrak.HareketGrubu</td>
                    <td class="right-aligned">@evrak.UrunKoliAdet.ToQuantityFormat()</td>
                    <td class="right-aligned">@evrak.UrunKoliIciAdet.ToQuantityFormat()</td>
                    <td class="right-aligned">@evrak.UrunToplamAdet.ToQuantityFormat()</td>
                    <td class="right-aligned">@evrak.UrunBirimFiyat.ToMoneyFormat().Replace(".", "").Replace(",", ".")</td>
                    <td class="right-aligned">@evrak.UrunIndirimTutari.ToMoneyFormat().Replace(".", "").Replace(",", ".")</td>
                    <td class="right-aligned">@evrak.UrunKDVHaricNet.ToMoneyFormat().Replace(".", "").Replace(",", ".")</td>
                    <td class="right-aligned">@evrak.ToplamKDVHaricNet.ToMoneyFormat().Replace(".", "").Replace(",", ".")</td>
                    <td class="right-aligned">--</td>
                </tr>
    }
                </tbody>
            </table>
}
else
{
        <div class="alert alert-error">
            Bu ürün için Son 2 Ay içinde sipariş yoktur.
        </div>
}

            </div>

            <div class="tab-pane fade in" id="irsaliyeler">

                <div class="alert alert-info">
                    <p>
                        Bu belgede <strong>Son 2 Ay içinde (@DateHelper.LastMonthBegin.ToShortDateString() - @DateTime.Today.ToShortDateString())</strong> gönderim yapılmış olan irsaliyeler görüntülenmiştir.
                    </p>
                    <a href="@Url.Action("Deliveries", "Sales", new { productFilter = Model.Id })" class="btn btn-info">
                        Bu ürünün tüm irsaliyelerini görmek istiyorum
                        <i class="icon-chevron-right icon-white"></i>
                    </a>
                </div>

                @if (Model.Irsaliyeler.Any())
        {
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th></th>
                        <th>Tarih</th>
                        <th>Sevk Tarihi</th>
                        <th>Evrak No</th>
                        <th>Hareket Tipi</th>
                        <th>Hareket Grubu</th>
                        <th class="right-aligned">Ürün Koli Adet</th>
                        <th class="right-aligned">Ürün Koli İçi Adet</th>
                        <th class="right-aligned">Ürün Toplam Adet</th>
                        <th class="right-aligned">Ürün Birim Fiyat</th>
                        <th class="right-aligned">Ürün İndirimleri</th>
                        <th class="right-aligned">Ürün KDV Hariç Net</th>
                        <th class="right-aligned">Toplam KDV Hariç Net</th>
                        <th class="right-aligned">Toplam KDV Dahil Tutar</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var evrak in Model.Irsaliyeler)
            {
                <tr>
                    <td>
                        <a href="@Url.Action("DeliveryDetail", "Sales", new { id = evrak.Id })" class="btn btn-info" data-toggle="button">
                            <i class="icon-search icon-white"></i>
                        </a>
                    </td>
                    <th>@evrak.Tarih.ToShortDateString()</th>
                    <td>@evrak.SevkTarihi.ToShortDateString()</td>
                    <td>@evrak.EvrakNo</td>
                    <td>@evrak.HareketTipi</td>
                    <td>@evrak.HareketGrubu</td>
                    <td class="right-aligned">@evrak.UrunKoliAdet.ToQuantityFormat()</td>
                    <td class="right-aligned">@evrak.UrunKoliIciAdet.ToQuantityFormat()</td>
                    <td class="right-aligned">@evrak.UrunToplamAdet.ToQuantityFormat()</td>
                    <td class="right-aligned">@evrak.UrunBirimFiyat.ToMoneyFormat().Replace(".", "").Replace(",", ".")</td>
                    <td class="right-aligned">@evrak.UrunIndirimTutari.ToMoneyFormat().Replace(".", "").Replace(",", ".")</td>
                    <td class="right-aligned">@evrak.UrunKDVHaricNet.ToMoneyFormat().Replace(".", "").Replace(",", ".")</td>
                    <td class="right-aligned">@evrak.ToplamKDVHaricNet.ToMoneyFormat().Replace(".", "").Replace(",", ".")</td>
                    <td class="right-aligned">--</td>
                </tr>
    }
                </tbody>
            </table>
}
else
{
        <div class="alert alert-error">
            Bu ürün için Son 2 Ay içinde irsaliye kaydı yoktur.
        </div>
}

            </div>

            <div class="tab-pane fade in" id="faturalar">

                <div class="alert alert-info">
                    <p>
                        Bu belgede <strong>Son 2 Ay içinde (@DateHelper.LastMonthBegin.ToShortDateString() - @DateTime.Today.ToShortDateString())</strong> kesilmiş olan faturalar görüntülenmiştir.
                    </p>
                    <a href="@Url.Action("Invoices", "Accounting", new { productFilter = Model.Id })" class="btn btn-info">
                        Bu ürünün tüm faturalarını görmek istiyorum
                        <i class="icon-chevron-right icon-white"></i>
                    </a>
                </div>

                @if (Model.Faturalar.Any())
        {
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th></th>
                        <th>Tarih</th>
                        <th>Vade Tarihi</th>
                        <th>Evrak No</th>
                        <th>Hareket Tipi</th>
                        <th>Hareket Grubu</th>
                        <th class="right-aligned">Ürün Koli Adet</th>
                        <th class="right-aligned">Ürün Koli İçi Adet</th>
                        <th class="right-aligned">Ürün Toplam Adet</th>
                        <th class="right-aligned">Ürün Birim Fiyat</th>
                        <th class="right-aligned">Ürün İndirimleri</th>
                        <th class="right-aligned">Ürün KDV Hariç Net</th>
                        <th class="right-aligned">Toplam KDV Hariç Net</th>
                        <th class="right-aligned">Toplam KDV Dahil Tutar</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var evrak in Model.Faturalar)
            {
                <tr>
                    <td>
                        <a href="@Url.Action("InvoiceDetail", "Accounting", new { id = evrak.Id })" class="btn btn-info" data-toggle="button">
                            <i class="icon-search icon-white"></i>
                        </a>
                    </td>
                    <th>@evrak.Tarih.ToShortDateString()</th>
                    <td>@evrak.VadeTarihi.ToShortDateString()</td>
                    <td>@evrak.EvrakNo</td>
                    <td>@evrak.HareketTipi</td>
                    <td>@evrak.HareketGrubu</td>
                    <td class="right-aligned">@evrak.UrunKoliAdet.ToQuantityFormat()</td>
                    <td class="right-aligned">@evrak.UrunKoliIciAdet.ToQuantityFormat()</td>
                    <td class="right-aligned">@evrak.UrunToplamAdet.ToQuantityFormat()</td>
                    <td class="right-aligned">@evrak.UrunBirimFiyat.ToMoneyFormat().Replace(".", "").Replace(",", ".")</td>
                    <td class="right-aligned">@evrak.UrunIndirimTutari.ToMoneyFormat().Replace(".", "").Replace(",", ".")</td>
                    <td class="right-aligned">@evrak.UrunKDVHaricNet.ToMoneyFormat().Replace(".", "").Replace(",", ".")</td>
                    <td class="right-aligned">@evrak.ToplamKDVHaricNet.ToMoneyFormat().Replace(".", "").Replace(",", ".")</td>
                    <td class="right-aligned">--</td>
                </tr>
    }
                </tbody>
            </table>
}
else
{
        <div class="alert alert-error">
            Bu ürün için Son 2 Ay içinde fatura kaydı yoktur.
        </div>
}

            </div>
        </div>
    </div>
</div>