﻿
<div id="filters" style="display: none;">
    <input name="cityFilter"   value="@ViewData["city"]"/>
    <input name="groupFilter"  value="@ViewData["group"]"/>
    <input name="statueFilter" value="@ViewData["statue"]"/>
    <input name="storeCount"   value="@ViewData["storeCount"]"/>
</div>


<div class="span2">
    <div class="row-fluid">
        <a id="showStoreFilter" class="btn btn-info">Mağaza Seçici</a>
    </div>


    @*Modals*@

    <div class="modal hide fade" id="StoreFilterModal">
        <div class="modal-header">
            <a class="close" data-dismiss="modal">&times;</a>
            <h3>Mekan Filtresi</h3>
        </div>
        <div class="modal-body">
            <div id="storeCount" class=" well">
            </div>

            <div class="tabbable tabs-left">
                <ul class="nav nav-tabs">
                    <li class="active"><a href="#tab1" data-toggle="tab">Bölgeler</a></li>
                    <li><a href="#tab2" data-toggle="tab">Gruplar</a></li>
                    <li><a href="#tab3" data-toggle="tab">Durumlar</a></li>
                </ul>
                <div class="tab-content" style="width: auto;">
                    <div class="tab-pane active" id="tab1">
                        <ul class="nav">
                            <li class="nav-header">Bölgeler</li>
                        </ul>
                        <div id="region-tree" style="margin-top: -20px;">
                            <ul></ul>
                        </div>
                    </div>
                    <div class="tab-pane" id="tab2">
                        <div id="storeGroup">
                            <ul class="nav">
                                <li class="nav-header">Guruplar</li>
                            </ul>
                        </div>
                    </div>
                    <div class="tab-pane" id="tab3">
                        <ul id="storeStatus" class="nav">
                            <li class="nav-header">Durumlar</li>

                        </ul>

                    </div>
                </div>

            </div>

        </div>
        <div class="modal-footer">
            <a id="ConfirmStoreFilter" data-dismiss="modal" class="btn btn-success">Seç</a>

        </div>
    </div>


</div>


<script type="text/javascript">
    $(document).ready(function () {
        function getDeselectedNodes(tree) {
            var nodeList = [];
            tree.visit(function (node) {
                if (!node.bSelected) {
                    nodeList.push(node);
                }
            });
            return nodeList;
        }
        Array.prototype.removeByValue = function (val) {
            for (var i = 0; i < this.length; i++) {
                if (this[i] == val) {
                    this.splice(i, 1);
                    break;
                }
            }
        };
        Array.prototype.contains = function (obj) {
            var i = this.length;
            while (i--) {
                if (this[i] === obj) {
                    return true;
                }
            }
            return false;
        };
        
        var selectedCities = new Array();
        if ($('input[name="cityFilter"]').val() != "") {
            $.each($('input[name="cityFilter"]').val().split(','), function (index, item) {
                selectedCities.push(item);
            });
        }
        var selectedGroups = new Array();
        var selectedStatus = new Array();
        function getStoresCount(city, group, statue) {
            $.ajax({
                traditional: true,
                type: 'POST',
                url: '@Url.Action("GetStoresCount","Sales")',
                data: { cities: city, groups: group, status: statue },
                success: function (result) {
                    storesCount = result;
                    $('input[name="storeCount"]').val(result);
                    $('#storeCount').empty();
                    $('#storeCount').append('<span style="padding-left:10px; color:firebrick;">Seçilen Mağaza adeti : ' + result + '</span>');
                }
            });

        }
     
        var i;
        var cities = new Array();
        var groups = new Array();
        var status = new Array();
       
        var storesCount;
        $('#showStoreFilter').live('click', function () {
            $('#StoreFilterModal').modal('show');
            if (i != 1) {
                i = 1;

                $.ajax({
                    type: 'POST',
                    url: '@Url.Action("LoadStoreFilter","Sales")',
                    success: function (result) {

                        $.each(result.Regions, function (index, item) {
                            $('#region-tree ul').append($('<li data="count:' + item.StoreCount + ' " id = "' + item.RegionId + '">' + item.RegionName + '<ul></ul></li>'));
                        });
                        $.each(result.Cities, function (idx, i) {
                            $('#' + i.RegionId + ' ul').append($('<li data="count:' + i.StoreCount + ' " id="' + i.CityId + '">' + i.CityName + '</li>'));
                        });


                        $('#region-tree').dynatree({
                            title: "Bölgeler",
                            fx: { height: "toggle", duration: 200 },
                            persist: true,
                            cookieId: "region-tree",
                            selectMode: 3,
                            keyboard: true,
                            checkbox: true,
                            activeVisible: true,
                            onRender: function (node, nodeSpan) {
                                $(nodeSpan).find("a.dynatree-title").append($('<i style="padding-left:10px; color:firebrick;">' + node.data.count + '</i>'));
                            },
                            onSelect: function (select, node) {

                                if (select) {
                                    $.each(node.tree.getSelectedNodes(), function (index, item) {
                                        if (item.data.key.length > 1 && !cities.contains(item.data.key)) {
                                            cities.push(item.data.key);
                                           
                                        }
                                    });
                                    getStoresCount(cities, groups, status);
                                } else {
                                    $.each(getDeselectedNodes(node.tree), function (index, item) {
                                        if (item.data.key.length > 1) {
                                            cities.removeByValue(item.data.key);
                                            
                                        }
                                    });
                                    getStoresCount(cities, groups, status);
                                }
                            }
                        });

                        $.each(result.Groups, function (index, item) {
                            $('#storeGroup ul').append($('<li id="chk" style="margin-left:10px;">' +
                              '<input  style="margin-bottom:6px;margin-right:6px;" data-text="' + item.GroupName + '" type="checkbox" value="' + item.GroupId + '"  />' + item.GroupName + ' ' +
                                '<i style="padding-left:10px; color:firebrick;">' + item.StoreCount + '</i></li>'));
                        });
                        $('#chk input').click(function () {
                            var value = $(this).val();
                            var text = $(this).data('text');
                            if ($(this).is(':checked')) {
                                if (!groups.contains(value)) {
                                    groups.push(value);
                                }
                                getStoresCount(cities, groups, status);
                            }
                            else {
                                groups.removeByValue(value);
                                getStoresCount(cities, groups, status);
                            }
                        });
                        if ($('input[name="groupFilter"]').val() != "") {
                            $.each($('input[name="groupFilter"]').val().split(','), function (index, item) {
                                selectedGroups.push(item);
                            });
                            $.each($('#chk input'), function () {
                              if (selectedGroups.contains($(this).val())) {
                                  $(this).prop("checked",true);
                                }
                            });
                        }
                       
                        $('#storeStatus').append($('<li id="statueChk" style="margin-left:10px;">' +
                            '<input style="margin-bottom:6px;margin-right:6px;" data-text="Açık" type="checkbox" value="0"/>Açık' +
                            '<i style="padding-left:10px; color:firebrick;">' + result.OpenStoreCount + '</i></li>'));
                        $('#storeStatus').append($('<li id="statueChk" style="margin-left:10px;">' +
                           '<input style="margin-bottom:6px;margin-right:6px;" data-text="Kapalı" type="checkbox" value="1"/>Kapalı' +
                           '<i style="padding-left:10px; color:firebrick;">' + result.ClosedStoreCount + '</i></li>'));
                        $('#storeStatus').append($('<li id="statueChk" style="margin-left:10px;">' +
                      '<input style="margin-bottom:6px;margin-right:6px;" data-text="Açılmamış" type="checkbox" value="2"/>Açılmamış' +
                      '<i style="padding-left:10px; color:firebrick;">' + result.PreparedStoreCount + '</i></li>'));
                        
                        if ($('input[name="statueFilter"]').val() != "") {
                            $.each($('input[name="statueFilter"]').val().split(','), function (index, item) {
                                selectedStatus.push(item);
                            });
                            $.each($('#statueChk input'), function () {
                                if (selectedStatus.contains($(this).val())) {
                                    $(this).prop("checked", true);
                                }
                            });
                        }
                        
                        $('#statueChk input').click(function () {
                            var statue = $(this).val();
                            var text = $(this).data('text');
                            if ($(this).is(':checked')) {
                                if (!status.contains(statue)) {
                                    status.push(statue);
                                  }
                                getStoresCount(cities, groups, status);
                            }
                            else {
                                status.removeByValue(statue);
                                getStoresCount(cities, groups, status);
                            }
                        });
                      
                        $("#region-tree").dynatree("getTree").visit(function (node) {
                            node.expand(true);
                            if (selectedCities.length > 0 && selectedCities.contains(node.data.key)) {
                                node.select(true);
                           }else {
                                node.select(false);
                            }
                           
                        });


                    }
                });
            }
        });



        $('#ConfirmStoreFilter').live('click', function () {
            if (!(cities.length == 0 && groups.length == 0 && status.length == 0)) {
             if(cities.length>0) {
                 $('input[name="cityFilter"]').val(cities);
             }
             if (groups.length>0) {
                 $('input[name="groupFilter"]').val(groups);
               }
                if (status.length>0) {
                    $('input[name="statueFilter"]').val(status);
                }
                $(this).closest('form').submit();
            }

        });


    });
</script>





