﻿@model DerinSIS.B2B.Emails.ResetPasswordEmailModel

<html>
    <head></head>
    <body>
        <h4>Merhaba @Model.KullaniciIsmi,</h4>
        
        <p>Şifrenizi oluşturmak için lütfen aşağıdaki bağlantıyı takip edin.</p>
        <p>
            <a href="@Model.ResetUrl">@Model.ResetUrl</a>
        </p>
    </body>
</html>